[2020-04-24 17:15] jansenbe opened #1 "Graph beta vs v1 endpoint"
Currently the SDK uses the Microsoft Graph beta endpoint: this is good for getting the most features, but before releasing into production we need to be able to only run on production v1.

Suggested changes are:

- Change default to use v1
- Provide properties on the `GraphTypeAttribute` and `GraphPropertyAttribute` attributes to indicate a model class and/or property requires the beta endpoint
-

[2020-04-24 17:18] jansenbe opened #2 "Id/Key cleanup / refactoring"
We currently have different ways to indicate the unique property/key for a model:

- IsKey property of the property decoration attributes
- GraphId property of the model decoration attribute
- Key property in the model classes

This is confusing for contributors: refactor so that we only need the Key property in the model classes

[2020-04-24 17:20] jansenbe opened #3 "Paging support"
When we get data we need to be able to handle getting large data sets, hence a form of paging is needed. Paging can be split into two flavors:

- Implicit paging: automatically apply paging to be able to grab large result sets
- Explicit paging: allow a user to fetch large result sets in a paged manner via the Top/Skip support

[2020-04-24 17:24] jansenbe opened #4 "Microsoft Graph batch splitting"
A Microsoft Graph batch can only contain 20 requests, add logic to split a batch in multiple batches whenever there's more than 20 requests in the current batch.

References:
https://docs.microsoft.com/en-us/graph/json-batching
https://docs.microsoft.com/en-us/graph/known-issues#json-batching

[2020-04-24 17:27] jansenbe opened #5 "Use code generation to generate initial model classes and collections"
Model classes and collection classes support a partial class model allowing us to generate part of the implementation class and public interface. This will help speed up development of the model.

Being able to regenerate is not a current requirement, more looking towards using this to speed up things.

[2020-04-24 17:30] jansenbe opened #6 "Finalize the Linq query model"
Pending work:

- Integration with the batch client
- Implement needed flexibility: differences between Microsoft Graph vs SharePoint REST, recursive collections (e.g. AllWebs),...

[2020-04-24 17:32] jansenbe opened #7 "Telemetry inclusion"
Telemetry needs to be integrated before moving into beta, ideally sooner.

[2020-04-24 17:38] jansenbe opened #8 "Have a custom UpdateUrl option at property level"
Today we do have a `GetUrl` property on the `GraphProperty` attribute allowing to use a different query to populate the model. Something similar is needed for update: when for example the Name/Description of a team is being updated we should not update the Team object but rather the connected Office 365 Group

[2020-04-24 17:40] jansenbe opened #9 "Contributor documentation on the testing model"
Ensuring 80%+ test coverage is critical to maintain SDK quality, hence we need to make it easy for contributors to use the existing tests and create new tests. This does require additional documentation.

[2020-04-27 14:55] #2 closed, assigned to jansenbe

[2020-05-04 17:14] jansenbe opened #10 "Verify if the AddNewxxx collection methods are still needed, if not cleanup"

[2020-05-06 10:09] PaoloPia opened #11 "Refactor TokenHandler to support an open model"
Make it possibile to create as many token types as we need with an object oriented model.

[2020-05-06 10:10] PaoloPia opened #12 "Consider having tokens at multiple levels"
Consider supporting multiple hierarchies of tokens. (Parent.Parent.Parent.Id)

[2020-05-06 10:11] PaoloPia opened #13 "Relocation of types in Model/Base folder"

[2020-05-06 10:11] PaoloPia opened #14 "Create tests to verify consistency of the Domain Model with LINQ queries"
Test consistency when we:
- query
- add
- update
- delete
- reload/refresh

items in IQueryable collections

[2020-05-06 10:12] PaoloPia opened #15 "Remove ICollection<T>"
Remove implementation of ICollection<T> in the Domain Model and rename collection type with plural names (Webs, Lists, etc.) removing the Collection suffix.

[2020-05-06 11:37] jansenbe opened #16 "Introduce pnp core exception type instead of using generic exceptions"

[2020-05-06 17:40] #1 closed, assigned to jansenbe

[2020-05-07 07:09] jansenbe opened #17 "Combine 'Deferred' list with 'Metadata' list to simplify things and get more alignment between rest and graph"

[2020-05-07 08:08] #15 closed, assigned to PaoloPia

[2020-05-07 11:45] jansenbe opened #19 "Integrate TokenHandler into ApiHelper to avoid duplicate code use"

[2020-05-07 14:56] #17 closed, assigned to jansenbe

[2020-05-08 09:37] jansenbe opened #21 "Add retry logic for API calls"
Either use Poly (like shown in earlier SDK prototypes) or build something custom (e.g. like shown in the graph sdk : https://github.com/microsoftgraph/msgraph-sdk-dotnet-core/blob/dev/src/Microsoft.Graph.Core/Requests/Middleware/RetryHandler.cs)

[2020-05-08 09:48] #10 closed, assigned to jansenbe

[2020-05-08 15:15] PaoloPia opened #22 "Add support for adding files to document libraries"

[2020-05-08 15:30] PaoloPia opened #23 "Keep metadata fields of added list items in sync when adding items"
When we add a new item to a list, we should keep metadata fields into the reference object

[2020-05-08 15:44] PaoloPia opened #24 "Keep Title property of list items in sync with Values"
When you create a new item, then update its Title and save it, the Values dictionary gets updated, while the Title property doesn't.

[2020-05-08 16:01] #24 closed, assigned to nobody

[2020-05-08 16:02] #14 closed, assigned to PaoloPia

[2020-05-10 14:36] #16 closed, assigned to jansenbe

[2020-05-15 06:26] jansenbe opened #26 "Update contributor documentation based upon the updated capabilities"

[2020-05-15 06:34] jansenbe opened #27 "Have option to specify own app-id in OAuthAuthenticationProvider"
Today we assume folks use the multi-tenant PnP Office 365 Management Shell app, which can be the default but we should recommend folks to setup their own Azure AD application.

[2020-05-15 06:37] jansenbe opened #28 "Ensure documentation is generated (docfx) and hosted via github pages before May 26th"
This requires the repo to be public, so this step should happen on Monday May 25th

[2020-05-15 06:39] jansenbe opened #29 "Update user (=developer) documentation"
Must be super easy for a developer to get started with this library, so having the getting started steps documented is crucial. Having some of those animated gifs showing some "coding snippets" would be cool as well

[2020-05-15 06:58] jansenbe opened #30 "Allow setting GraphFirst / GraphAlwaysUseBeta / GraphCanUseBeta properties via configuration file"

[2020-05-15 07:19] jansenbe opened #31 "Extend the SharePoint side of the model before public release"
Current SharePoint model was copied from the provisioning engine, probably requires some tweaks

[2020-05-15 07:22] jansenbe opened #32 "Make library available as preview nuget package"

[2020-05-15 07:23] jansenbe opened #33 "Setup ALM pipeline using either Azure DevOps and/or GitHub pages"

[2020-05-15 07:24] jansenbe opened #34 "Setup issue templates in GitHub"

[2020-05-15 07:47] jansenbe opened #35 "Verify Microsoft Graph batch splitting for non teams model"
Teams tabs/messages seem to not respect max size of 20 items in a batch

[2020-05-15 07:49] #4 closed, assigned to jansenbe

[2020-05-15 08:01] #22 closed, assigned to nobody

[2020-05-15 17:52] #9 closed, assigned to jansenbe

[2020-05-15 18:01] #26 closed, assigned to jansenbe

[2020-05-18 14:28] #7 closed, assigned to jansenbe

[2020-05-19 12:34] #30 closed, assigned to jansenbe

[2020-05-20 07:41] jansenbe opened #36 "Cleanup classes under the PnP.Core namespace"
Today there are too many public classes in this namespace, mainly because this code was copied from other projects. https://sharepoint.github.io/sp-dev-service/api/PnP.Core.html

Cleanup is needed, mark internal what does not require to be available publicly

[2020-05-20 08:30] jansenbe opened #37 "Should we move all Linq classes in the same namespace?"
To keep our public API story clean we should not have a ton of namespaces, especially if there's only a couple of classes in that namespace. What do you think about grouping below under a single namespace PnP.Core.QueryModel?

![image](https://user-images.githubusercontent.com/7451219/82423845-a8687500-9a84-11ea-9936-c3fde9383aa0.png)

[2020-05-20 09:39] #37 closed, assigned to PaoloPia

[2020-05-20 15:11] PaoloPia opened #38 "Enrich metadata model to describe supported functionalities"
Make it possible to mark domain model types, properties, and method with requirements (from a security point of view: delegated, app-only, both) and with OData support (like: $select, $filter, $orderby, $top, $skip, $expand, etc.).

[2020-05-20 15:14] PaoloPia opened #39 "Create context starting from team and not only from site URL"
Make it possible to create a PnPContext starting from the team nickname or group/team id and not only starting from the SPO site URL.

[2020-05-20 15:29] PaoloPia opened #40 "Add support for paging in LINQ query results"
Think about providing paging support in LINQ query results

[2020-05-20 15:34] PaoloPia opened #41 "Provide a method to execute low level REST requests"
Something like a method with at least two overloads:

- Json ExecuteRequest(RESTRequest) => will return the raw json response
- IEnumerable<TResult> ExecuteRequest(RESTRequest) => will return a fully typed collection of entities defined in the domain model

[2020-05-22 14:00] #19 closed, assigned to jansenbe, PaoloPia

[2020-05-23 09:58] #13 closed, assigned to PaoloPia

[2020-05-23 14:32] #27 closed, assigned to PaoloPia

[2020-05-23 14:54] jansenbe opened #43 "Extend authentication providers to support app-only"
Option to use certificate based auth
Option to use clientid/secret based auth

[2020-05-23 14:55] jansenbe opened #44 "Extend authentication providers to use existing access token"
Provide an option to use an access token that was obtained outside of the pnp core sdk

[2020-05-25 12:03] jansenbe opened #45 "Provide custom exception handling for auth errors"
Introduce Authentication exception class and throw this exception when an authentication request fails.

[2020-05-25 12:05] jansenbe commented on #29
See https://aka.ms/pnp/coresdk/docs for docs

[2020-05-25 12:05] #29 closed

[2020-05-26 05:59] jansenbe commented on #34
@ypcode provided already a good start: https://gist.github.com/ypcode/ba26a9c333de24c677c3292181dfd5aa

[2020-05-26 06:08] jansenbe commented on #31
This issue was created specifically to track work for preview 1, but since this one didn't make it for preview 1 the issue can be closed

[2020-05-26 06:08] #31 closed

[2020-05-26 06:17] jansenbe commented on #41
Related to #3, for graph related linq queries paging should work automatically if the nextlink odata property is returned

[2020-05-26 06:20] jansenbe commented on #28
done

[2020-05-26 06:20] #28 closed

[2020-05-26 06:21] jansenbe commented on #6
@PaoloPia : can this one be closed?

[2020-05-26 06:21] jansenbe commented on #23
@PaoloPia : is this issue still relevant for you?

[2020-05-26 06:24] jansenbe opened #46 "Add step-by-step guide on how to extend the model"
@jansenbe will write an initial version
@ypcode will use the guide and provide feedback/improvements

[2020-05-26 07:18] jansenbe commented on #34
Done

[2020-05-26 07:18] #34 closed

[2020-05-26 08:44] jansenbe commented on #32
See build script in build folder

[2020-05-26 08:46] jansenbe commented on #33
Needed:
- Run tests on PR
- Run docfx on push and update the content in the gh-pages branch
- Nightly release pushed to nuget

[2020-05-26 11:06] jansenbe commented on #33
Implemented workflow that builds and runs tests on each PR / push to dev

[2020-05-26 11:32] #36 closed

[2020-05-26 12:19] #6 closed

[2020-05-26 12:20] #23 closed

[2020-05-26 18:00] jansenbe opened #47 "Extend the SharePoint model for Content Types and Fields"
## Category

- [x] Domain model extension

## Describe the domain model extension

Extending the SharePoint model to work for Content Types and Fields

[2020-05-26 18:21] jansenbe commented on #46
Part 1 is done: https://pnp.github.io/pnpcore/articles/contributor/extending%20the%20model.html

[2020-05-26 18:23] jansenbe commented on #5
@PaoloPia : we'll need to decide what to do with this one...go for the (onetime) generation route or not? If not we can merge the model.gen.cs and model.cs classes

[2020-05-27 07:42] jansenbe commented on #39
Started working on this

[2020-05-27 08:33] jansenbe opened #48 "Extend the domain model to support an Office 365 Group"
## Category

- [x] Domain model extension

## Describe the domain model extension

Add the concept of Group as top level element

[2020-05-27 10:33] jansenbe commented on #39
Done

[2020-05-27 10:33] #39 closed

[2020-05-27 15:44] jansenbe commented on #48
Implemented

[2020-05-27 15:44] #48 closed

[2020-05-27 17:38] jansenbe opened #49 "Add Clone method on the PnPContext"
## Category

- [x] Feature request

## Describe the feature

A PnPContext can only be created by the PnPContext factory, having a method to create a new context from an existing one makes sense

## Describe the solution you'd like

Clone method that accepts an url or groupid and returns a new PnPContext instance

[2020-05-28 19:02] jansenbe commented on #45
Done

[2020-05-28 19:02] #45 closed

[2020-05-29 08:19] jansenbe opened #50 "Rename 'mine' into something more clear"
## Category

- [x] Feature request

## Describe the feature

Test development instructions speak about a 'mine' version of test settings, these 'mine' settings are meant to be used as a template and copied to a personal version, but the name 'mine' suggests they're there to be customized. Change 'mine' to something else and update docs.

@ypcode : thanks for the feedback.

[2020-05-29 09:01] jansenbe commented on #50
Done

[2020-05-29 09:01] #50 closed

[2020-05-29 11:41] jansenbe commented on #44
Done.

[2020-05-29 11:41] #44 closed

[2020-05-29 14:15] jansenbe commented on #21
Seems like individual requests in a Graph batch can be throttled, so we'll need to take that in account in the solution. This kind of rules out using Poly as that does not understand batching

[2020-05-29 16:38] jansenbe commented on #21
Some research notes: implement retry as DelegatingHandler and then connect to the HttpClient in the DI container via `public static IHttpClientBuilder AddHttpMessageHandler(this IHttpClientBuilder builder, Func<DelegatingHandler> configureHandler);`

Place to connect these is are the PnPContextFactoryCollectionExtensions and TestPnPContextFactoryCollectionExtensions classes

[2020-06-01 09:37] jansenbe commented on #46
@ypcode , thanks for contributions here. I've merged #51 , so will close this issue

[2020-06-01 09:37] #46 closed

[2020-06-01 09:59] jansenbe opened #53 "Update test code so that custom settings file do not have to be marked as "copy always""
## Category

- [x] Feature request

## Describe the feature

No point in having each contributors test settings file cause a change in the test project file.

[2020-06-02 07:30] jansenbe commented on #47
Thanks @ypcode for the content type updates. I'll create a new issue to track the need for CSOM to create content types with a given ID (or alternatively we need to inspect if Graph can do this somehow)

[2020-06-02 07:36] jansenbe opened #54 "Support content type creation with a given parent ID"
## Category

- [x] Feature request

## Describe the feature

Content type creation via SharePoint REST does not allow you to create a content type with a given (parent) id...CSOM can do this but check (upcoming) Graph options as well

[2020-06-02 07:39] ypcode commented on #47
Was also my second guess... that if Graph handles it better we might not need the CSOM mimicking altogether for that purpose. But that needs to be checked :)

[2020-06-02 07:53] jansenbe commented on #53
implemented

[2020-06-02 07:53] #53 closed

[2020-06-02 09:28] jansenbe opened #55 "Field/ContentType will need to work in different context (site/list)"
## Category

- [x] Feature request

## Describe the feature

Decorating is done with a specific context in mind (e.g. Site) when the same object can also be used within a different context (e.g. List). Think about a mechanism to handle this

[2020-06-03 08:35] ypcode commented on #55
Hi @PaoloPia @jansenbe,

Just an idea here, since I have been thinking a bit about it.
Don't you think an easy way to achieve that would be to add multiple [SharePointType] attribute to the 'child' model class with a new metadata (e.g. `ParentScope`)
Something similar to :
[code]

I am not sure it is doable in practice, but I feel it an elegant and "confortable" way to address this purpose ?

What

[2020-06-03 09:07] jansenbe opened #56 "ThreadPool.QueueUserWorkItem in OAuthAuthenticationProvider"
## Category

- [x] Feature request

## Describe the feature

ThreadPool.QueueUserWorkItem is used to kickoff a thread to expire the obtained token. Today the OAuthAuthenticationProvider is loaded via "AddScoped", so we can have multiple of these loaded when this code is used in for example a service...can we kill the created thread when needed, should we use AddSingleton instead?

[2020-06-03 09:08] jansenbe commented on #55
That was exactly the plan I started coding on today :-)

[2020-06-03 09:12] jansenbe commented on #56
Also consider making OAuthAuthenticationProvider an IDisposable and cleanup the created thread(s)

[2020-06-03 09:53] ypcode commented on #55
Awesome ! I like when we ending thinking the same :D

[2020-06-03 13:28] jansenbe opened #57 "Use $expand when transforming linq queries into rest calls for requested expandable properties"
## Category

- [x] Feature request

## Describe the feature

[code]

Generated query = https://bertonline.sharepoint.com/sites/prov-1/_api/web/lists?$select=ContentTypes&$filter=Title%20eq%20%27Site+Pages%27&$top=1 and this one does not return the content types.

using https://bertonline.sharepoint.com/sites/prov-1/_api/web/lists?$expand=ContentTypes&$filter=Title%20eq%20%27Site+Pages%27&$top=1 do

[2020-06-03 15:45] jansenbe commented on #55
Implemented

[2020-06-03 15:45] #55 closed

[2020-06-03 15:48] jansenbe opened #58 "Update docs to reflect that there can be multiple SharePointType/GraphType decorations"
## Category

- [x] Feature request

## Describe the feature

#55 provided a fix for reusing a model from different contexts, doc updates are required to reflect this change.

[2020-06-03 19:36] jansenbe opened #59 "Test, implement and document approach for making model properties read-only"
## Category

- [x] Feature request

## Describe the feature

Sometimes properties are always readonly, ensure the model does reflect that. Quick testing showed below as an approach, but testing, implementing and documenting is needed.

[code]

[2020-06-03 19:45] jansenbe commented on #40
Related to #3, for graph related linq queries paging should work automatically if the nextlink odata property is returned

[2020-06-03 19:46] jansenbe commented on #41
The `BaseRequest/BaseBatchRequest` methods provide this already for internal use, we can open up these methods for public use as well

[2020-06-04 05:06] jansenbe commented on #43
Note, option for access token based auth was already added via #44

[2020-06-04 10:18] PaoloPia commented on #5
Let me try to update the code generator to the latest outline of the .gen.cs files and see how painful it is to run it once or on a build-basis.

[2020-06-04 12:04] jansenbe commented on #41
Also think about a method to execute a request and return the json without trying to load it into the model, there are cases where this makes sense (eg operations on an model entity)

[2020-06-04 15:39] jansenbe commented on #21
Interesting article regarding retries: https://cm.engineering/transient-timeouts-and-the-retry-rabbit-hole-net-4-5-f406cebbf194

[2020-06-04 15:59] jansenbe commented on #5
Let's start with SPO Rest first, as that's the largest API surface we have to cover

[2020-06-08 16:25] jansenbe commented on #56
Implemented. See https://github.com/pnp/pnpcore/commit/3d07d9608fa10feaa5dd4b754c8bff0cf39aea59

[2020-06-08 16:25] #56 closed

[2020-06-12 06:38] jansenbe commented on #41
Added method for raw requests (`RawRequestAsync` internal only), allowing folks to perform an action (e.g. recycle a list) and get back the resulting json. Docs to follow

[2020-06-12 08:27] jansenbe commented on #41
We have now have internal methods (see https://pnp.github.io/pnpcore/articles/contributor/extending%20the%20model%20-%20SharePoint%20REST.html#doing-additional-api-calls). Given we want to extend the model to cover all needs instead of having sdk users start making raw calls themselves I'm moving this off the preview 2 milestone.

[2020-06-12 08:39] jansenbe opened #62 "Extend the domain model for Web/Site Feature support"
## Category

- [x] Feature request

## Describe the feature

Feature support should list the enabled features on a site/web and allow to enable/disable additional features. See https://aka.ms/pnp/coresdk/contributors on how to get started.

This is a nice work item for new contributors, if you're interested in it please reply on this list item and we'll help you get started.

[2020-06-12 08:41] jansenbe opened #63 "Extend the domain model for User Custom Actions"
## Category

- [x] Feature request

## Describe the feature

The domain model needs to be extended to support user custom actions. These live at site/web and list level. See https://aka.ms/pnp/coresdk/contributors on how to get started.

This is a nice work item for new contributors, if you're interested in it please reply on this list item and we'll help you get started.

[2020-06-16 09:40] jansenbe commented on #21
Part one (retry batch request) is implemented, second part would be retrying requests inside the batch

[2020-06-16 10:42] jansenbe commented on #21
See https://github.com/microsoftgraph/microsoft-graph-docs/issues/3877 for input on retry handling of requests inside a batch

[2020-06-16 13:47] jansenbe commented on #21
Graph batch request retry logic done

[2020-06-16 18:02] jansenbe commented on #21
Inspecting REST server code showed that a failing request in a rest batch will stop the rest batch processing

[2020-06-16 18:02] #21 closed

[2020-06-16 18:08] jansenbe opened #64 "Review and complete the Web/Site domain model"
## Category

- [x] Feature request

## Describe the feature

Review and complete the Web/Site domain model : current web/site model was copied from pnp provisioning engine model and still lacks some of the web/site properties. This is a nice and simple change to start with for new contributors. See https://aka.ms/pnp/coresdk/contributors on how to get started.

[2020-06-16 19:38] pkbullock opened #65 "Docs - Setup for tests"
## Category

- [x] Bug

You may need a new category for doc updates maybe?

When setting up the unit tests the solution relies on an Azure AD app "PnP Office 365 Management Shell" which needs to either be added or consented. I used PnP PowerShell docs example 11 in https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/connect-pnponline?view=sharepoint-ps to set this up.

[code]
All tes

[2020-06-17 06:26] jansenbe commented on #65
Thanks for this one @pkbullock , just merged your PR

[2020-06-17 06:26] #65 closed

[2020-06-17 07:57] jansenbe commented on #3
Looking into rest paging:
sample= /_api/lists?$skip=2&$top=1

list item exception, skip is not working, use skiptoken:

- https://sharepoint.stackexchange.com/questions/45719/paging-using-rest-odata-with-sp-2013
- https://github.com/SharePoint/sp-dev-docs/issues/3723

[2020-06-17 08:31] jansenbe opened #67 "Linq query improvement: detect unsupported expressions and throw proper exception"
## Category

- [x] Feature request

## Describe the feature

Below works:

[code]
but this doesn't. Is this something that we can add or too complex to implement?

[code]

[2020-06-17 11:25] jansenbe opened #68 "Graph linq queries on Lists do not seem to support $filter"
## Category

- [x] Bug

## Describe the bug

Graph linq queries on Lists do not seem to support $filter. This `sites/bertonline.sharepoint.com,b56adf79-ff6a-4964-a63a-ff1fa23be9f8,8c8e101c-1b0d-4253-85e7-c30039bf46e2/lists?$filter=name eq 'AddListItemViaRest'` fails with

[code]

We need to make the Linq query support more intelligent and able to forcefully use REST for this reason

[2020-06-17 11:31] jansenbe commented on #3
Added support for listitem paging

[2020-06-18 09:00] pkbullock commented on #62
Hi @jansenbe, can you put my name down? Might be a good learning task and another area i could start to contribute to

[2020-06-18 09:55] jansenbe commented on #62
Thanks @pkbullock , assigned this to you. Feel free to reach out for a sync, happy to help you get started.

[2020-06-18 10:56] jansenbe commented on #3
All done with coding!

[2020-06-18 10:56] #3 closed

[2020-06-18 10:58] jansenbe commented on #40
With full paging support in place this now also works for linq queries that used Take(). See https://github.com/pnp/pnpcore/blob/dev/src/sdk/PnP.Core.Test/Base/PagingTests.cs#L113 for a Graph linq to paging test case and https://github.com/pnp/pnpcore/blob/dev/src/sdk/PnP.Core.Test/Base/PagingTests.cs#L304 for REST linq to paging test case.

[2020-06-18 10:58] #40 closed

[2020-06-18 11:02] jansenbe commented on #12
Up until now there was no need for this feature, let's keep it on hold until we bump into limitations around this

[2020-06-18 11:03] jansenbe commented on #11
For now there's no need for this, let's keep it on hold until a real need is there

[2020-06-18 13:56] #49 closed

[2020-06-23 10:08] jansenbe opened #70 "Regenerate mock files automatically each night"
## Category

- [x] Feature request

## Describe the feature

Offline tests can give a false sense of safety when there was a change in the how data was requested / how the server returns data...implement a nightly refresh to capture this impact

[2020-06-24 11:22] jansenbe commented on #62
Thanks @pkbullock !

[2020-06-24 11:22] #62 closed

[2020-06-24 11:25] jansenbe commented on #5
90% done, see output in https://github.com/pnp/pnpcore/tree/dev/src/generated

[2020-06-24 11:42] jansenbe commented on #47
Done now, thanks a ton @ypcode !

[2020-06-24 11:42] #47 closed

[2020-06-26 08:39] jansenbe commented on #57
Done

[2020-06-26 08:39] #57 closed

[2020-06-26 08:41] jansenbe commented on #68
Partly fixed by checking if the requested fields are available via graph...but still, if the field is available via graph and the $filter is not working this will fail...relates to #38 for a final solution

[2020-06-30 12:01] ypcode opened #78 "Extend the model to support SharePoint Files and Folders"
## Category

- [x] Domain model extension

## Describe the domain model extension

Create, Read, Update and Delete files and folders in SharePoint

### Model

Model: __File__, __Folder__
Properties: __List.RootFolder__, __List.Folders__, __Folder.Files__,  __Folder.Folders__

### APIs

API :
https://graph.microsoft.com/v1.0/sites/{site-id}/drive/items/{item-id}/children
https://graph.microsoft.com

[2020-06-30 12:01] ypcode commented on #78
Hi guys, please assign this one to me :)

[2020-06-30 13:53] jansenbe opened #79 "Remove "blocking" calls (=use of GetAwaiter() or anything else that blocks the main thread)"
## Category

- [x] Bug

## Describe the bug

Testing the pnp core linq features in Blazor web assembly showed that blazor wasm cannot handle blocking of the thread as it's running in single threaded apartment. Can we make the linq methods async?

[2020-06-30 14:27] jansenbe commented on #67
Let's align with EF LINQ support - this is not needed - check if we throw the proper exception

[2020-06-30 17:39] ypcode commented on #67
Have you tried new Guid(« ... ») instead ?

[2020-07-02 18:49] jansenbe commented on #5
Closing this issue, think we've enough in place to speed up the SP rest based development. The graph surface we need is much smaller and the Teams side is already quite far, so there's no immediate need to generate graph classes

[2020-07-02 18:49] #5 closed

[2020-07-03 08:41] jansenbe opened #80 "Add support for getting list items via a CAML query"
## Category

- [x] Feature request

## Describe the feature
Use SharePoint REST caml queries to get list items

[2020-07-03 11:38] jansenbe commented on #80
Done

[2020-07-03 11:38] #80 closed

[2020-07-03 17:25] jansenbe opened #81 "Support RenderListDataAsStream method on lists"
## Category

- [x] Feature request

## Describe the feature

Implement support for RenderListDataAsStream API call, will require custom json parsing as the content is not returned in the usual format.

[2020-07-08 09:35] jansenbe opened #86 "Add support for calling client.svc (CSOM) endpoint"
## Category

- [x] Feature request

## Describe the feature

Add support for making calls to client.svc, needed to be able to integrate CSOM calls for places where REST is not sufficient

[2020-07-10 08:56] jansenbe opened #87 "Improved list item retrieval for special field types"
## Category

- [x] Feature request

## Describe the feature

List item data can be read using the Get, GetItemsByCamlQuery and GetListDataAsStream methods and this works fine for regular fields. More complex fields (e.g. lookup, taxonomy, Location,...) do not yet work properly. Would be cool if the returned field value can be wrapped in specific objects to make it easy to work with these fields. E

[2020-07-10 08:57] jansenbe commented on #81
Basic implementation is done, see #87 for future improvements

[2020-07-10 08:57] #81 closed

[2020-07-10 09:30] jansenbe commented on #86
Resources: https://github.com/ValoIntranet/valo-webrequest-mocker

[2020-07-11 12:49] jansenbe commented on #86
Implemented

[2020-07-11 12:49] #86 closed

[2020-07-14 08:14] jansenbe commented on #87
reminder: also update the CSOM methods (systemupdate, updateoverwriteversion to support this

[2020-07-14 11:30] jansenbe commented on #33
DocFx automation samples:
- https://github.com/sebastianlundquist/poker-docfx/blob/49206153ad292c3c43a8a766424c08f328a4e04e/.github/workflows/build-documentation.yml
- https://github.com/alexrp/oninaki-wiki/blob/e02f694fcfd6a675d533a134af7627f8fc5083fa/.github/workflows/ci.yml
- https://github.com/Esri/arcgis-toolkit-dotnet/blob/0bb4fda2ad2994c20dc985e102995ff32cb65aa6/.github/workflows/ghpages.ym

[2020-07-16 12:44] jansenbe commented on #33
DocFX automation is done!

[2020-07-16 12:57] jansenbe commented on #33
Nuget deployment resources:
- https://github.com/search?q=%22brandedoutcast%2Fpublish-nuget%22&type=Code

[2020-07-16 16:26] jansenbe commented on #33
And done....

[2020-07-16 16:26] #33 closed

[2020-07-16 16:27] jansenbe commented on #32
Automation done, nightly release is published as nuget

[2020-07-16 16:27] #32 closed

[2020-07-17 11:34] JarbasHorst opened #95 "Write tests for current Teams implementation"
## Category

- [x] Domain model extension

## Describe the domain model extension

Write tests for the current Teams implementation which includes:
- Read, Add and Update Teams settings
- List, Add, Update and Delete Channels
- List, Add, Update and Delete Tabs
- List, Add, Update and Delete Chat Messages
- List, Add, Update and Delete Apps
- List, Add, Update and Delete Owners
- List, Add, Update

[2020-07-17 11:45] jansenbe commented on #95
Thanks for taking up this work @JarbasHorst !

[2020-07-23 09:59] jansenbe commented on #79
Done

[2020-07-23 09:59] #79 closed

[2020-07-31 20:50] JarbasHorst commented on #95
I've authored a PR #99, that covers the following topics:
- Separated enums in different files
- Created new enum for ChatMessageReactionType
- Removed unused using directives

[2020-08-03 18:27] jansenbe commented on #95
#101 is also part of this implementation. Thanks @JarbasHorst .

[2020-08-17 10:48] jansenbe opened #104 "Implement taxonomy support via the new Graph Taxonomy API"
## Category

- [x] Domain model extension

## Describe the domain model extension

Implement support for taxonomy by creating TermStore, Group, TermSet and Term model classes.

### APIs

https://docs.microsoft.com/en-us/graph/api/resources/termstore-store?view=graph-rest-beta

[2020-08-20 07:26] jansenbe commented on #104
Starting to work on this, feel free to chime in if you want to work on this as well

[2020-08-21 09:17] ypcode opened #106 "Changed properties are not updated if not initially loaded"
## Category

- [x] Bug

## Describe the bug

When trying to update a property that was not specifically loaded, it does not get added to the changed properties and then is not saved when calling an update method

## Steps to reproduce

With the following code
[code]
`Title` of the list is updated, but not `EnableMinorVersions`

With the following code
[code]

`EnableMinorVersions` is updated but n

[2020-08-21 09:59] ypcode opened #107 "Improve error handling to avoid issuing API calls with unresolved tokens"
## Category

- [x] Feature request

## Describe the feature

In some cases, especially in Batch calls, the tokens (e.g. `{Id}`, `{Parent.Id}`, ...) might not be resolved, that leads the service the return an error because the API URI is invalid.

## Describe the solution you'd like

 It would be preferred to raise a client exception that states what information is not resolved (not available) befo

[2020-08-24 10:50] ypcode opened #110 "Implement model for SP Users"
## Category

- [x] Domain model extension

## Describe the domain model extension

Get the users of a site, is also used as property values in several other entities (`CreatedBy`, `CheckedOutTo`, ...)

### Model

Model: __User__
Properties: __Web.SiteUsers__, __Web.CurrentUser__, ...

### APIs

API :
`https://graph.microsoft.com/v1.0/users`  (If needed)
`https://<tenant>.sharepoint.com/sites/<site

[2020-08-24 10:51] ypcode commented on #110
Hi guys, taking this one :)

[2020-08-24 15:19] #54 closed

[2020-08-24 15:27] jansenbe commented on #104
part one done, pending work is for the handling of relations and the loading of properties

[2020-08-24 15:40] jansenbe opened #112 "Implement option to execute an API call without batching"
## Category

- [x] Feature request

## Describe the feature

Uploading of files using REST API's cannot work via batch requests, hence an option to do direct calls is needed

[2020-08-24 20:26] jansenbe commented on #112
done

[2020-08-24 20:26] #112 closed

[2020-08-25 09:49] jansenbe opened #113 "Files test case reliability when doing a live test run"
## Category

- [x] Bug

## Describe the bug

## Steps to reproduce

When running the test cases in FilesTest.cs then cases fail because there are tests that delete the required test.docx. Best approach is to upload the doc as part of the test case (now that we have file upload) and cleanup afterwards.

## Expected behavior

Live test run results in all valid test cases.

*Thanks for your contribut

[2020-08-25 10:09] jansenbe commented on #106
Implemented

[2020-08-25 10:09] #106 closed

[2020-08-25 11:20] jansenbe commented on #107
Implemented

[2020-08-25 11:20] #107 closed

[2020-08-25 11:22] jansenbe commented on #35
Can now be tested with adding 20 termsets to a term group....

[2020-08-25 20:48] #113 closed

[2020-08-26 07:41] jansenbe opened #115 "Implement nullable reference types and null checking"
## Category

- [x] Feature request

## Describe the feature

Improve code reliability by implementing nullable reference types in the library. This will warn library developers/users when they're using constructs that result in a null assignment for a variable that should never be null.

Not a top priority task, but listing it here to not forget researching impact/cost/benefits of it

## Additiona

[2020-08-26 12:42] jansenbe commented on #104
And now fully done!

[2020-08-26 12:42] #104 closed

[2020-08-26 13:05] jansenbe opened #116 "Port the modern page API from PnP Sites Core"
## Category

- [x] Feature request

## Describe the feature

Port the modern page API from PnP Sites Core taking in account the design guidelines for PnP Core (tests!).

## Describe the solution you'd like

Let's setup a brainstorm first :-)

## Additional context

PnP Sites Core pages API: https://github.com/pnp/PnP-Sites-Core/tree/dev/Core/OfficeDevPnP.Core/Pages

[2020-08-26 16:09] pkbullock opened #117 "Writing tests for fill in the gaps in the code coverage"
## Category

- [x] Feature request

## Describe the feature

Improving test coverage for project. Currently at 72%. I've started this work, please assign to me. I will avoid the teams to avoid PR clash with issue #95.

Also, full coverage cannot be achieved without running the test on OSX, Linux as well.

I will likely drop in multiple PRs over time as there is quite a bit to cover.

[2020-08-26 16:10] pkbullock commented on #117
Raising this, as the tests will have a dependency on a certificate for testing, so need a thumbprint for the settings. @jansenbe would this break automation?

[2020-08-26 17:12] jansenbe commented on #117
@pkbullock : Thanks for taking up this task. Let's push test coverage beyond 80%!

Some comments:

- The GitHub workflow that runs the tests today does run them on Linux, we could use a similar approach to also run the test suite on macOS (see https://docs.github.com/en/actions/reference/virtual-environments-for-github-hosted-runners)
- Not clear where the certificate comes into the mix? Guess a c

[2020-08-26 17:25] jansenbe commented on #117
Also note that you can use `TestCommon.RunningInGitHubWorkflow()` to know when you're running in a GitHub Workflow environment. I today use it to skip 2 tests that can only operate as live test and in test automation in GitHub we only want to run offline tests to avoid having an impact on live environments being ready and available

[2020-08-26 20:26] pkbullock commented on #117
Cool thanks for the tip, ill disable the tests with the certificate requirement on GitHub.

For the .net on mobile, I hadn't considered these platforms, there is this service https://visualstudio.microsoft.com/app-center/ which does tests on these platforms, its a costed service though. There maybe other services that allow this type of testing. I've not used it before so would need some research.

[2020-08-28 13:47] jansenbe commented on #117
Initial focus would be to increase the test coverage as that will help ensure quality going forward. In parallel we can indeed research option to test on other platforms.

[2020-08-28 14:12] jansenbe commented on #35
done

[2020-08-28 14:12] #35 closed

[2020-09-04 13:01] ypcode commented on #78
Files IRM properties have to be properly tested with a tenant properly configured with IRM in place.

[2020-09-04 14:22] ypcode commented on #64
Temporarily self assigned to implement some of the properties of the Web model

[2020-09-04 17:38] jansenbe commented on #78
@ypcode : guess we're getting feature complete here and close this issue?

[2020-09-04 17:45] ypcode commented on #78
Testing is still needed on IRM and user type fields are note implemented.

But I guess we can close this one and create more specific ones for what's remaining ?

[2020-09-04 17:52] #78 closed

[2020-09-04 18:07] jansenbe opened #124 "Review Graph approach to load lists"
## Category

- [x] Feature request

## Describe the feature

Previously we assumed the Graph requests for lists did not return all lists but this was wrong. When adding the system facet as a select property then all lists are returned.

`GET ~ v1.0/sites/bertonline.sharepoint.com,b56adf79-ff6a-4964-a63a-ff1fa23be9f8,8c8e101c-1b0d-4253-85e7-c30039bf46e2/lists?$select=name,system`

Review support fo

[2020-09-04 18:11] jansenbe opened #125 "Testing of IRM settings on files"
## Category

- [x] Feature request

## Describe the feature

IRM settings on files are developed but not tested due to license constraints during development. Verify that this works as expected, including reviewing the test cases for it.

[2020-09-08 07:11] jansenbe commented on #38
$select/$expand typically works (we could tap into https://github.com/microsoftgraph/msgraph-metadata). $filter and $orderby are more complex ones as some fields work with $filter, some don't.

Required permissions can be fetched from https://github.com/microsoftgraph/msgraph-metadata as well

[2020-09-08 07:13] jansenbe commented on #68
$filter on a list only seems to work with the displayName field...investigation ongoing

[2020-09-08 07:14] jansenbe commented on #8
The need for this has not come up anymore, closing

[2020-09-08 07:14] #8 closed

[2020-09-08 07:15] jansenbe commented on #41
Actually closing this one, this kind of defeats the purpose of building a fluent SDK. If folks need additional calls they'd better request this to us via an issue or submit a PR

[2020-09-08 07:15] #41 closed

[2020-09-08 08:39] jansenbe commented on #124
Implemented

[2020-09-08 08:39] #124 closed

[2020-09-08 08:40] jansenbe commented on #11
Closing as in contract to the provisioning engine the number of tokens needed here are quite small and all token parsing logic anyhow is centralized, so easy to adjust

[2020-09-08 08:40] #11 closed

[2020-09-08 08:41] jansenbe commented on #12
All calls so far where able without this, this also introduces extra complexities with linq queries that would depend on such tokens. Closing the issue for that reason.

[2020-09-08 08:41] #12 closed

[2020-09-08 15:29] jansenbe opened #129 "Review current domain model for consistency and completeness as prep for GA release"
## Category

- [x] Feature request

## Describe the feature

Review model classes and properties:

- what is missing?
- do we need to change property names for a more consistent experience?
- do we need to drop certain properties which are not so relevant?
- which properties should be read only?
- have all model classes and properties code comments?

[2020-09-08 16:56] jansenbe commented on #110
Linked discussion: #111

[2020-09-09 09:32] jansenbe opened #130 "Update "getting started" guide to be ready for preview 3"
## Category

- [x] Feature request

## Describe the feature

Review and update the [end user "Getting started" documentation](https://github.com/pnp/pnpcore/tree/dev/docs/articles/consumer) to make it easy for folks to start consuming preview 3.

[2020-09-10 01:32] jansenbe commented on #63
I'll start working on this one

[2020-09-10 14:07] PaoloPia opened #131 "Make it possible to share the AuthN/AuthZ context in ASP.NET Core"
## Category

- [x] Feature request

## Describe the feature

It would be great to being able to rely on the AAD/MSAL authentication context of an ASP.NET Core application, without providing any credentials, simply using the current context and accessing resources on the current tenant.

## Describe the solution you'd like

I think we need a new AuthenticationProvider type for this kind of scenario

[2020-09-10 14:20] PaoloPia opened #132 "Add an extension method to load system lists via Microsoft Graph"
## Category

- [x] Feature request

## Describe the feature

Being able to load system lists, like we do with SPO REST, but using Graph.

## Describe the solution you'd like

Add an extension method to instruct Microsoft Graph to return all the system/hidden lists.

## Additional context

I'll take care of this ...

[2020-09-10 17:20] jansenbe commented on #132
That should already work for regular loads, I've not done the work for Linq based queries

[2020-09-10 17:22] jansenbe commented on #131
Let's see if we can align with the auth strategy used by the Microsoft Graph .Net SDK's...

[2020-09-13 11:25] ypcode opened #137 "Implement domain model : SharePoint RecycleBinItem / RecycleBinItemCollection"
## Category

- [x] Domain model extension

## Describe the domain model extension

__Get Site Collection recycle bin items__
__Get Site recycle bin items__

### Model

Model: __Web__, __Site__
Properties: __Web.RecycleBin__, __Site.RecycleBin__

### APIs

API :
- `https://<tenant>.sharepoint.com/sites/<site>/_api/site/RecycleBin/`
- `https://<tenant>.sharepoint.com/sites/<site>/_api/web/RecycleBin

[2020-09-13 11:27] ypcode commented on #137
Taking this one, will rebase it on dev when #135  and #136  are merged before submitting the PR to prevent conflicts

[2020-09-14 14:34] jansenbe opened #139 "Finalize user/group model work"
## Category

- [x] Feature request

## Describe the feature

User / Group model still needs some work on the group part (transition from graph to SharePoint groups and vice versa) + more test cases are needed.

[2020-09-14 14:37] jansenbe opened #140 "Implement "LoadbyDefault" on a model property"
## Category

- [x] Feature request

## Describe the feature

The key property today will always be loaded, but it makes sense to make this model more flexible and allow other properties to also be loaded by default. An example use case would be the SharePointUser model: if we would always load the AadObjectId property then that would save a roundtrip when transforming the SharePoint user into a gr

[2020-09-14 17:55] jansenbe opened #142 ".Include() expression only works when there's 2 or more elements as it assumes an array of expressions"
## Category

- [x] Bug

## Describe the bug

See title. Error is EntityManager line 405

[2020-09-14 23:12] ypcode commented on #110
I think this one can be closed since #139 was created.

[2020-09-14 23:12] #110 closed

[2020-09-14 23:13] ypcode commented on #137
All features are now covered for RecycleBin especially with the latest implementation of User properties you brought @jansenbe , closing this one.

[2020-09-14 23:13] #137 closed

[2020-09-15 03:47] jansenbe opened #144 "[Testing] MockingFileRewriteHandler is not called in retrytests when ran offline"
## Category

- [x] Bug

## Describe the bug

MockingFileRewriteHandler is not called in retrytests when ran offline: test cases work fine when running live, but when running offline the essential part of the test is never ran (although the test cases succeeds).

[2020-09-15 06:06] jansenbe opened #145 "Make .LoadProperties also work for Graph queries"
## Category

- [x] Feature request

## Describe the feature

Research and ideally make .Include also work for Graph queries, currently only rest queries are supported.

[2020-09-15 08:18] jansenbe commented on #142
Was due to namespace conflict. Renamed .Include() to .LoadProperties()

[2020-09-15 08:18] #142 closed

[2020-09-15 09:16] jansenbe commented on #145
Research:
[code]

[2020-09-15 10:34] jansenbe opened #146 "Move to semantic versioning model"
## Category

- [x] Feature request

## Describe the feature

Follow industry versioning schemes: https://semver.org/

[2020-09-15 16:28] jansenbe opened #148 "Update blazor sample app to take in account the rename from .Include to .LoadProperties"
## Category

- [x] Feature request

## Describe the feature

Update blazor sample app to take in account the rename from .Include to .LoadProperties. Can be done as to September 16th (need updated nuget)

[2020-09-15 16:30] jansenbe opened #149 "Review if Blazor works with the 2.15 Microsoft.ApplicationInsights.WorkerService version"
## Category

- [x] Feature request

## Describe the feature

Today we exclude Azure AppInsights via a specific Blazor package. Verify if this is still needed when using the 2.15 version of the Microsoft.ApplicationInsights.WorkerService package. If it still fails investigate other approaches for sending telemetry events...

[2020-09-15 16:38] jansenbe commented on #149
https://docs.microsoft.com/en-us/azure/azure-monitor/app/console

[2020-09-16 07:21] jansenbe commented on #148
Done

[2020-09-16 07:21] #148 closed

[2020-09-16 07:21] jansenbe commented on #149
Blazor still has issues with AppInsights, so more research is needed here

[2020-09-16 07:30] jansenbe commented on #149
Alternatives: https://github.com/IvanJosipovic/BlazorApplicationInsights

[2020-09-17 03:32] jansenbe commented on #38
Some additional thoughts:
- For $filter then should also define which filter operators work (or which don't)
- Also included metadata to define in app-only (read/write) is supported or not

[2020-09-17 04:16] jansenbe commented on #149
Should we switch to open telemetry? https://github.com/open-telemetry/opentelemetry-dotnet

[2020-09-18 13:46] jansenbe opened #150 "Move strings to resource file"
## Category

- [x] Feature request

## Describe the feature

Move strings to a resource file to enable future translations

[2020-09-23 11:51] jansenbe commented on #145
done

[2020-09-23 11:51] #145 closed

[2020-09-23 11:51] jansenbe commented on #43
Done as part of the auth rewrite

[2020-09-23 11:51] #43 closed

[2020-09-23 18:57] pkbullock opened #154 "PnP docs site upgrade"
## Category

- [x] Feature request

## Describe the feature

- Alignment of the website to the standard of the other PnP Sites
- Incorporation of the new branding logos
- Ensure accessible/responsive

On initial investigation, the other sites use a mkdocs/material ui skin, have seen a docfx material ui skin, will see how much would to align both.

[2020-09-23 18:58] pkbullock commented on #154
pls assign to me

[2020-09-24 05:10] ahollandusc opened #155 "Missing Nuget Package PnP.Core.Auth"
## Category

- [x] Bug

## Describe the bug

Missing Nuget Package PnP.Core.Auth

Not sure if this is an issue with the build to nuget package manager or the doco needs correcting.

In [Getting started with the PnP Core SDK documentation](https://pnp.github.io/pnpcore/articles/consumer/readme.html#where-is-the-code)
It links to [PnP.Core.Auth nuget package](https://www.nuget.org/packages/PnP.Core.

[2020-09-24 12:40] jansenbe commented on #155
Hi @ahollandusc , we've just coded the auth package and will indeed also publish this one as nuget package. Should be done by end of the week.

[2020-09-24 19:09] jansenbe commented on #155
Hi @ahollandusc,

I've done the work for this, nuget packages are available now:
![image](https://user-images.githubusercontent.com/7451219/94188817-34aefc80-feaa-11ea-9521-de15f7cf6dfe.png)

[2020-09-24 19:10] jansenbe commented on #146
Done

[2020-09-24 19:10] #146 closed

[2020-09-25 06:40] ahollandusc commented on #155
Thanks Bert, that works 😊
You’re a champ!

From: Bert Jansen <notifications@github.com>
Sent: Friday, 25 September 2020 5:10 AM
To: pnp/pnpcore <pnpcore@noreply.github.com>
Cc: Adrian Holland <aholland@usc.edu.au>; Mention <mention@noreply.github.com>
Subject: Re: [pnp/pnpcore] Missing Nuget Package PnP.Core.Auth (#155)

Hi @ahollandusc<https://github.com/ahollandusc>,

I've done the work for this

[2020-09-25 07:21] jansenbe commented on #155
Cool!

As this project is brand new (we've not yet made a ton of noise about it) you might still run into things. If so please provide feedback so that we can make this better. If feel like contributing to it that would be great as well, there are development opportunities but also documentation/sample options.

[2020-09-25 07:22] jansenbe commented on #155
Closing this issue now.

[2020-09-25 07:22] #155 closed

[2020-09-26 12:42] jansenbe commented on #154
Thanks @pkbullock , nice work!

[2020-09-26 12:42] #154 closed

[2020-09-26 12:45] jansenbe commented on #117
Think we can close this one @pkbullock as we're above 80% test coverage. Let's keep a continued focus on test coverage going forward, feel free to raise concerns if you see new code being added without the needed tests.

[2020-09-26 12:45] #117 closed

[2020-09-26 12:46] jansenbe commented on #63
Removed myself for the time being so that others can pick this up

[2020-09-27 15:14] jansenbe opened #160 "Add method to download a file as binary stream"
## Category

- [x] Feature request

## Describe the feature

We need a GetAsBinaryAsync (or similar) on File objects to enable downloads

[2020-09-27 15:54] pkbullock opened #161 "Docs fixes and content tweaks"
## Category

- [x] documentation

## Describe the change

Content tweaks under discussion #158
Fixes for iOS browsers, mobile
Samples readme publications
Consolidated pages e.g https://pnp.github.io/pnpcore/index.html vs https://pnp.github.io/pnpcore/articles/intro.html vs https://github.com/pnp/pnpcore/blob/dev/README.md. They're almost the same, we should able to simplify this as well

[2020-09-27 16:37] jansenbe opened #162 "Implement Assembly redirect concept that can also function in Azure functions"
## Category

- [x] Feature request

## Describe the feature

Azure functions can already have older/newer versions of assemblies loaded the one references by the PnP.Core SDK.

Quick research:
- https://codopia.wordpress.com/2017/07/21/how-to-fix-the-assembly-binding-redirect-problem-in-azure-functions/
- https://stackoverflow.com/questions/38093972/azure-functions-binding-redirect/44425580
- http

[2020-09-27 22:26] pkbullock commented on #161
Assign to me pls.

[2020-09-28 06:41] jansenbe commented on #160
For now assigned to you @ypcode

[2020-09-28 06:43] jansenbe commented on #130
Cleanup in progress. Sample work finished

[2020-09-28 06:45] jansenbe commented on #64
Closing this one for now, think we cover more than enough for preview 3. Let's create new issues for the individual missing things once they popup. Thanks for all the great work here @ypcode !

[2020-09-28 06:45] #64 closed

[2020-09-28 06:47] jansenbe commented on #63
Moving to beta 1 milestone

[2020-09-28 06:49] jansenbe commented on #95
Moving this one to beta 1

[2020-09-29 13:33] pkbullock commented on #161
Note to self, check this is in the TOC:  https://pnp.github.io/pnpcore/articles/contributor/configuring-for-auth-tests.html

[2020-09-29 14:27] PaoloPia commented on #150
Done!

[2020-09-29 14:27] #150 closed

[2020-09-29 22:57] jansenbe commented on #125
Started working on this

[2020-09-30 12:07] jansenbe commented on #125
Testing done for getting of IRM settings. Updating IRM settings will require CSOM, see new issue created for this.

[2020-09-30 12:07] #125 closed

[2020-09-30 12:09] jansenbe opened #169 "Use CSOM to implement IRM settings update"
## Category

- [x] Feature request

## Describe the feature

IRM can be enabled using REST and List and File IRM settings can be retrieved, however one cannot update IRM settings via REST (so it seems). Do more research, but most likely using CSOM is required here.

[2020-09-30 13:01] pkbullock opened #170 "Review and Clean up tests where failure leaves SP assets behind"
## Category

- [x] Feature request

## Describe the feature

- Determine if there is an option to run the script automatically after a test run
- Ensure that if scripts fail, more obvious detail that clean up is required
- This is for live runs only

[2020-09-30 15:19] jansenbe commented on #160
Implemented. Thanks @ypcode !

[2020-09-30 15:19] #160 closed

[2020-10-01 11:05] jansenbe commented on #129
Pushing to beta 1

[2020-10-01 12:10] pkbullock opened #176 "Docs - Samples Pencil icon goes to 404"
## Category

- [x] Bug

## Steps to reproduce

Click on sample pencil, goes 404 because the generated page only existing during build. Needs to link to original samples location.

[2020-10-01 14:51] jansenbe commented on #38
TestQueryTeamChannelMessages fails due to $top being added while it's not supported

[2020-10-01 17:54] jansenbe commented on #130
done

[2020-10-01 17:54] #130 closed

[2020-10-02 22:41] jansenbe commented on #144
Fixed

[2020-10-02 22:41] #144 closed

[2020-10-04 12:35] RYO-4947123 opened #181 "DefaultConfiguration is required from preview 3, but the WPF sample code is still dummy"
## Describe

After updating the version to the latest
When I run the WPF demo, I get the following exception:

[code]

The cause is
DefaultConfiguration is required from preview 3, but the WPF sample code is still dummy(`CredentialManager`).

I changed it to `InteractiveFlow` and it worked.

## Environment details (*development & target environment*)

- **SDK version**: 0.3.0-preview3 or later
- *

[2020-10-04 16:46] jansenbe commented on #181
Thanks for reporting this @RYO-4947123 . We'll check the samples and update them

[2020-10-04 18:15] ypcode commented on #170
Please have a look at the TestAssets helper class when working on this :)

[2020-10-05 06:12] jansenbe commented on #181
The DefaultConfiguration indeed was wrong for this sample. This previously worked as we did not read the DefaultConfiguration, but we fixed that recently, which made this issue appear. Issue has been fixed, thanks for informing us.

[2020-10-05 06:12] #181 closed

[2020-10-06 16:42] ypcode commented on #63
I'll take this one

[2020-10-07 08:53] raclettierer opened #184 "Get List by URL"
## Category

- [x] Feature request

## Describe the feature

Usually we access the lists via URL because the title ( pnpContext.Web.Lists.GetByTitleAsync() ) can always change. The **GetList** method on the Web object is missing.

## Describe the solution you'd like
In CSOM Core I use actually following Code
[code]

## Additional context

Is there a possibility to use CSOM in PNP.Core until PNP.Co

[2020-10-07 12:20] jansenbe commented on #184
Thanks for reporting this @raclettierer, getting by URL indeed should be added. We'll add it the coming days and given we have nightly nuget releases you'll get the feature the day after. I'll update this issue once done.

[2020-10-07 12:21] jansenbe commented on #131
This will now be possible via the ExternalAuthenticationProvider provider, this issue can be closed.

[2020-10-07 12:21] #131 closed

[2020-10-07 12:59] raclettierer opened #185 "SecurityExtensions missing"
## Category

- [x] Feature request

## Describe the feature

For many applications or processes we need to grant or remove permissions on different levels (List or Listitem).  In the past, I use the AddPermissionLevelToGroup or AddPermissionLevelToUser method from SecurityExtensions.

Are this expansion already planned?

## Describe the solution you'd like

Code: https://github.com/pnp/PnP-Sites-C

[2020-10-08 02:48] RYO-4947123 opened #187 "Want to connect to multiple SharePoint sites"
## Category

- [x] Bug

## Describe the bug

I want to access multiple SharePoint sites, but it stops after the second authentication.

## Steps to reproduce

I made the following settings to access multiple SharePoint sites.

Based on DEMO.WPF.

appsettings.js
[code]

MainWindow.xaml.cs
[code]

A deadlock occurs after the second authentication.

## Expected behavior

If possible, I would like to

[2020-10-08 06:55] jansenbe commented on #187
Thanks for reporting this @RYO-4947123 . I've checked our authentication handler code and we accidently left a few GetAwaiter().GetResult() calls in there which results in a blocking thread. These issues have been fixed and I've tested your scenario with the latest bits and things do work as expected.

There will be a nightly nuget package update, so if you tomorrow update to the latest nuget then

[2020-10-08 10:08] jansenbe commented on #184
@raclettierer : we've implemented a GetByServerRelativeUrl method as shown in below test case. This method will show up in the updated nuget package tomorrow, so just bump to the latest nuget and give it a try. Also keep letting us know what things you're missing.

![image](https://user-images.githubusercontent.com/7451219/95444987-be58d280-095e-11eb-8a2b-61ee4478f1a4.png)

[2020-10-08 15:10] RYO-4947123 commented on #187
The deadlock has been resolved. Thank you.
However, I have to log in multiple times for each site. Is it possible to log in only once?

[2020-10-09 08:36] jansenbe commented on #187
You don't need to re-authenticate each time again, as that's quite inconvenient when using interactive auth. Once you've authenticated to one site you can simply "clone" that PnPContext to other PnPContext instances for other sites as shown in below snippet. So you could grab a context once at application start and then keep that to clone new contexts from for the sites you want to access.

![imag

[2020-10-09 10:25] RYO-4947123 commented on #187
"InteractiveFlow" in appsettings.js is used in `Create` method from `AuthenticationProviderFactory` class .
Is it possible to cache the provider generated by this method?
If it is generated from the same parameter, you will get the same result.
I think this will result in one authentication.
If you dare to separate the authentication, you can define it as "AnotherInteractiveFlow".

I'm sorry if I

[2020-10-09 11:03] jansenbe commented on #187
When you use Clone() we'll just take over the AuthenticationProvider from the source PnPContext,

[2020-10-09 11:21] RYO-4947123 commented on #187
I was able to confirm that the desired thing can be achieved with Clone().
However, I think that there is a problem that the setting is not completed in appsettings.js and the URI appears in the source.

[2020-10-09 16:35] jansenbe commented on #187
You can get the configuration information yourself as shown below, but I'll also add an overload to the Clone method that takes a configuration instead of an Uri, think that's a good feature to have.

![image](https://user-images.githubusercontent.com/7451219/95608941-30641100-0a5e-11eb-8db6-830e53d9fb49.png)

[2020-10-09 17:00] jansenbe commented on #187
Tomorrow (after nightly nuget update) you can do Clone("DemoSite2") on the PnPContext: https://github.com/pnp/pnpcore/blob/dev/src/sdk/PnP.Core/Services/Core/PnPContext.cs#L373

[2020-10-09 17:06] RYO-4947123 commented on #187
I think adding an overload to the Clone method is the best idea to reduce the impact.
I don't want to put you in trouble, so I'm wondering if that's okay.
However, there is a concern that the client code will be dirty, such as extra nesting of using, and if you want to access another site for each event, you will get a useless context first.
Structurally in the appsettings, it seemed possible to s

[2020-10-09 17:08] jansenbe commented on #184
Hi @raclettierer , If you can confirm the GetListByServerRelativeUrl works for you then feel free to close this issue.

[2020-10-09 17:14] jansenbe commented on #187
What about then using the CreateAsync overload on the context factory that takes in an authentication provider:

![image](https://user-images.githubusercontent.com/7451219/95612352-8edfbe00-0a63-11eb-9e61-3932335a32ea.png)

[2020-10-09 17:49] RYO-4947123 commented on #187
Thank you for your quick suggestion despite your busy schedule.
I think the ability to share AuthenticationProvider is very good.

`using (var context2 = await pnpContextFactory.CreateAsync("DemoSite2", authProvider)`
Now you don't even need siteConfing.

If i get AuthenticationProvider for the first time, i can save it myself and refer to it from the next time.
It's a compromise between impact an

[2020-10-09 19:36] jansenbe commented on #187
ok, seems you've a solution. Let's close this issue. Please create new issues for the other things you encounter :-)

[2020-10-09 19:36] #187 closed

[2020-10-09 23:20] RYO-4947123 opened #189 "If the AuthenticationProviderName is the same, I want to share the AuthenticationProvider"
## Category

- [x] Feature request

## Describe the feature

Currently, even if the AuthenticationProviderName of appsettings.json is the same, AuthenticationProvider refers to another instance.
In the following case, SiteA and SiteB have the same "InteractiveFlow" but refer to different AuthenticationProvider instances.

appsettings.json
[code]

If the AuthenticationProviderName is the same, the

[2020-10-10 02:04] RYO-4947123 commented on #189
I'm sorry. CreateIfAbsent was a silly idea.
It's weird to cache each implementation.
You should control the initialization side of PnPCoreOptions.

How about modifying it as follows?

Configure() method from AuthenticationProvidersOptionsConfigurator class
[code]

[2020-10-10 04:45] raclettierer commented on #184
Works well, I tested it in an Azure Function

[2020-10-10 04:45] #184 closed

[2020-10-10 08:40] jansenbe commented on #189
@PaoloPia : what do you think about "reusing" the IAuthenticationProvider across multiple configurations if the name is the same? Given the settings belong to the authentication provider I do not see anything bad with doing this, but wanted your opinion as well

[2020-10-10 13:21] ypcode commented on #189
IMHO it might lead to "static instances" of services which we probably don't want to enable by default for all providers. But definitely in the case of interactive auth flow, it should probably be shared for the application to prevent the need to reauth multiple times

[2020-10-10 13:54] PaoloPia commented on #189
Hi,
I completely understand the need. At the same time, we need to think carefully about the scope of the authentication provider. If you want to share the same Authentication Provider across multiple instances of PnPContext you can already do that. You simply need to create the Authentication Provider in code and assign it to the _AuthenticationProvider_ property of the site in the _PnPCoreOption

[2020-10-10 14:02] ypcode commented on #189
@PaoloPia I think we could have a `AddSharedPnPCoreAuthenticationProvider<TProvider>()`
This would register the auth provider as singleton.
That would make sense for Console, WPF or Blazor apps, but definitely should not be the default to prevent issues in ASP.NET, Azure Functions that would be very common use cases and should have by default isolated scopes, And Most likely those won't have inter

[2020-10-11 03:19] RYO-4947123 commented on #189
In the case of ASP.NET and Azure Functions, you cannot simply share the AuthenticationProvider, and you need an instance for each user (session).
Is my perception correct?
I thought it was better not to share by default.
I want you to be able to specify sharing arbitrarily instead.
By the way, the fact that AuthenticationProvider is ʻAddTransient` in ASP.NET seems to have another problem of authen

[2020-10-11 08:24] ypcode commented on #189
Hello @RYO-4947123 ,

You're correct; Shared (static) scope is something that should ideally be avoided by default and used only on very specific cases. I think interactive auth in these cases of client apps (WPF, Console,...) is such a case. So allowing to change the scope in config is probably something we could do. However we aim for the SDK to be really easy to use so, IMHO, we probably don't

[2020-10-11 14:38] jansenbe commented on #189
There are a couple of workarounds for in case folks want to ensure the same IAuthenticationManager instance is used:
- Create the IAuthenticationManager yourselve and then pass that into the PnPContextFactory
- Use the Clone() method on an existing PnPContext

Not sure if we already at this point need to do additional work for this, I'm more in favor for waiting and seeing if there's more demand.

[2020-10-11 15:39] ypcode commented on #63
The User Custom Actions are working for all "modern" custom action (SPFx extensions) and I did a test of setting a "classic" custom action by disabling no script with PnP PowerShell and it did work.
However since the DenyCustomizePage property doesn't seem to be available through SP REST and can then not easily be implemented, I left the classic custom action test commented out for now (even if I

[2020-10-11 20:44] pkbullock opened #192 "Build List view handling Model"
## Category

- [x] Feature request

## Describe the feature

As per discussion https://github.com/pnp/pnpcore/discussions/188
i'd like to build the list view handling.

[2020-10-12 06:45] jansenbe commented on #63
Turning off noscript on modern sites is not something we should promote. This issue can be closed now. Thanks again for this great work @ypcode !

[2020-10-12 06:45] #63 closed

[2020-10-13 02:59] jansenbe commented on #189
Thanks for your feedback @RYO-4947123 , it resulted in a good discussion about this feature. For now we think the offered workarounds are sufficient, so I'll be closing this issue. Keep the feedback coming!

[2020-10-13 02:59] #189 closed

[2020-10-13 21:48] tbithell opened #194 "SharePoint Add-in Auth context"
## Auth

- [x] Feature request

## Describe the feature

## Describe the solution you'd like

## Additional context

[2020-10-14 06:47] piteerus opened #195 "How to add folder to SharePoint document library?"
## Category

- [x] Bug

## Describe the bug

[code]
## Steps to reproduce

[code]
## Expected behavior

The new folder should be created.

## Environment details (*development & target environment*)

- **SDK version**: 0.3.11.0
- **OS**: Windows
- **SDK used in**: Azure Function
- **Framework**: .NET Core v3.x
- **Tooling**: Visual Studio 2019
- **Additional details**:

*Thanks for your contributi

[2020-10-14 08:06] ypcode commented on #195
Hello @piteerus,

Thanks for reporting this, I think we may probably address that issue making sure the RootFolder is properly loaded and initialized in the AddFolderAsync method. We'll need to think about the best way to handle it ( cc @jansenbe ).

In the meantime, you may want to specify the Root folder to be explicitly loaded.
Something like
[code]

AFAIK, that would help :)
Let us know how it

[2020-10-14 08:10] jansenbe commented on #194
hi @tbithell ,

We (being Microsoft in this case) do understand this need and hopefully there will be a solution in the near future that addresses this. Can't provide anymore details and for now the recommendation is to start developing with the current authentication model.

[2020-10-14 08:34] jansenbe opened #196 "AddFolderAsync fails due to unresolved token"
## Category

- [x] Bug

## Describe the bug

Verify why below approach results in an unresolved token in the `AddFolderAsync` call

[code]

[2020-10-15 12:50] piteerus commented on #195
This one works for me:
[code]

[2020-10-15 13:35] jansenbe commented on #195
See also #196 , that should work as well and save you a server roundtrip...but we first need to fix it :-)

[2020-10-15 16:36] jansenbe commented on #196
Fixed by adding missing Expand=true on the RootFolder property in the List model

[2020-10-15 16:36] #196 closed

[2020-10-15 16:53] jansenbe commented on #194
The question as such has been answered, so closing the issue. A similar issue is still open in the PnP Framework repo, let's use that for additional discussion

[2020-10-15 16:53] #194 closed

[2020-10-16 08:31] jansenbe commented on #195
Closing this one as there are multiple ways to achieve this

[2020-10-16 08:31] #195 closed

[2020-10-16 08:32] jansenbe commented on #115
not a priority, so closing this to cleanup the issue list

[2020-10-16 08:32] #115 closed

[2020-10-16 09:12] jansenbe commented on #132
Fixed!

[2020-10-16 09:12] #132 closed

[2020-10-19 12:03] jansenbe commented on #95
@JarbasHorst : let me know if you still plan to work on this, if not I'll open the task for others again

[2020-10-19 13:06] jansenbe opened #198 "TeamChannel.GetByDisplayName does not work as $top=1 is not valid in the Graph query"
## Category

- [x] Bug

## Describe the bug

GetByDisplayName  constructs a query like /teams/b32780e9-df70-4548-a735-4e7f055415a1/channels?$filter=displayName eq 'General'&$top=1 which does not work. Leaving $top out works in this case.

Related to #38

[2020-10-19 19:08] pkbullock commented on #176
Pencil is working for samples, redirecting to the section of repo for samples.

[2020-10-19 19:08] #176 closed

[2020-10-20 11:35] jansenbe opened #201 "Make LoadProperties a regular method instead of an extension method"
## Category

- [x] Feature request

## Describe the feature

LoadProperties is today implemented via an extension method, works as such, but VS intellisense is not proposing it...you always need to ensure the proper namespace is included before this works, which is not a good developer experience. Making it a regular method (interface + implementation) will fix this. Given the underlying code pars

[2020-10-20 18:09] jansenbe commented on #170
FYI: I've updated the feature tests so that they always can start and end in a consistent state

[2020-10-21 15:35] jansenbe commented on #140
Also links to #38 as this is a metadata extension

[2020-10-21 20:49] pkbullock opened #202 "Add Execute (for non-async in PnP Context class)"
## Category

- [x] Feature request

## Describe the feature

- Add Execute and Execute(Batch batch) methods in PnP Context class to avoid mixing when using non-async methods
- Update tests that mix the modes to provide consistency in using all non-async methods.

e.g. where it looks odd in the example:

[code]

[2020-10-22 07:07] jansenbe commented on #202
Done

[2020-10-22 07:07] #202 closed

[2020-10-22 14:57] jansenbe opened #203 "Verify VS Code can be used for contributing to PnP Core SDK"
## Category

- [x] Feature request

## Describe the feature

We've been using Visual Studio for development, but we should give users a choice to also use VS Code. VS Code is also better suited for development on non Windows machines.

[2020-10-22 17:51] jansenbe commented on #203
Done!

[2020-10-22 17:51] #203 closed

[2020-10-31 21:53] pkbullock commented on #161
Points 1-3 done.
Referring to the last point So DOCFX supports the syntax, its what's use don the M365 community docs, to incorporate fragments, however GitHub does not. we can reduce this duplication but not completely.
Example:
[code]

[2020-10-31 22:01] pkbullock commented on #161
Complete.

[2020-10-31 22:01] #161 closed

[2020-11-02 07:53] pkbullock commented on #192
So the next step for this is to add support enums e.g. ViewType2, ViewType etc, that have fixed values to make these easier to set these.

[2020-11-02 08:24] jansenbe commented on #116
Started working on this one

[2020-11-02 20:00] pkbullock opened #210 "Create models for Search"
## Category

- [x] Feature request

## Describe the feature

- Add the ability to call the search APIs
- Unit Tests for calling the APIs
- If there are special requirements or permissions with this model, add to the documentation

## Contributing

We encourage and welcome contributions for the PnP Core SDK, if you are interested, please comment below to engage with the team. If you want to learn a

[2020-11-02 20:01] pkbullock opened #211 "Create models for Hub Site Joining"
## Category

- [x] Feature request

## Describe the feature

- Add the ability to call the APIs relating to hub site joining
- Unit Tests for calling the APIs
- If there are special requirements or permissions with this model, add to the documentation

## Contributing

We encourage and welcome contributions for the PnP Core SDK, if you are interested, please comment below to engage with the team.

[2020-11-02 20:03] pkbullock opened #212 "Create models for navigation"
## Category

- [x] Feature request

## Describe the feature

- Add the ability to call the  APIs relating to Navigation, including Site, Hub, Footer navigation elements
- Unit Tests for calling the APIs
- If there are special requirements or permissions with this model, add to the documentation

## Contributing

We encourage and welcome contributions for the PnP Core SDK, if you are interested, pl

[2020-11-02 20:04] pkbullock opened #213 "Create models for SharePoint permissions"
## Category

- [x] Feature request

## Describe the feature

- Add the ability to call the APIs relating to SharePoint Permissions
- Unit Tests for calling the APIs
- If there are special requirements or permissions with this model, add to the documentation

## Contributing

We encourage and welcome contributions for the PnP Core SDK, if you are interested, please comment below to engage with the

[2020-11-02 20:08] pkbullock opened #214 "Complete the model for Teams and Test Cases"
## Category

- [x] Feature request

## Describe the feature

- Complete the models for Teams.
- There is existing work in Core, this needs to be completed, a code review maybe required to understand the gaps
- Unit tests are covered under issue #95 which may have another contributor, if you add more elements to models, add tests for additions and co-ordinate coverage with the other contributor to

[2020-11-02 20:10] pkbullock opened #215 "Create models for ALM APIs"
## Category

- [x] Feature request

## Describe the feature

- Add the ability to call the ALM APIs as descirbed in the article: [https://docs.microsoft.com/en-us/sharepoint/dev/apis/alm-api-for-spfx-add-ins?tabs=sprest](https://docs.microsoft.com/en-us/sharepoint/dev/apis/alm-api-for-spfx-add-ins?tabs=sprest)
- Unit Tests for calling the APIs
- If there are special requirements or permissions wit

[2020-11-02 20:14] pkbullock opened #216 "Create models for Sharing"
## Category

- [x] Feature request

## Describe the feature

- Add the ability to call the APIs related to Sharing
- Unit Tests for calling the APIs
- If there are special requirements or permissions with this model, add to the documentation

## Contributing

We encourage and welcome contributions for the PnP Core SDK, if you are interested, please comment below to engage with the team. If you wan

[2020-11-02 20:16] pkbullock opened #217 "Create model for SP Web Hook Subscriptions"
## Category

- [x] Feature request

## Describe the feature

- Add the ability to call the SP Web hook Subscriptions APIs and/or Graph web hooks
- Unit Tests for calling the APIs
- If there are special requirements or permissions with this model, add to the documentation

## Contributing

We encourage and welcome contributions for the PnP Core SDK, if you are interested, please comment below to en

[2020-11-02 20:20] pkbullock opened #218 "Create models for the Change API"
## Category

- [x] Feature request

## Describe the feature

- Add the ability to call the Change APIs
- Unit Tests for calling the APIs
- If there are special requirements or permissions with this model, add to the documentation

## Contributing

We encourage and welcome contributions for the PnP Core SDK, if you are interested, please comment below to engage with the team. If you want to learn a

[2020-11-02 20:22] pkbullock opened #219 "Create model to set regional settings"
## Category

- [x] Feature request

## Describe the feature

- Add the ability to call the APIs relating to the regional settings
- Unit Tests for calling the APIs
- If there are special requirements or permissions with this model, add to the documentation

## Contributing

We encourage and welcome contributions for the PnP Core SDK, if you are interested, please comment below to engage with the t

[2020-11-02 20:23] pkbullock opened #220 "Create models for supporting Alerts"
## Category

- [x] Feature request

## Describe the feature

- Add the ability to call the APIs for List and Library alerts
- Unit Tests for calling the APIs
- If there are special requirements or permissions with this model, add to the documentation

## Contributing

We encourage and welcome contributions for the PnP Core SDK, if you are interested, please comment below to engage with the team. I

[2020-11-02 20:24] pkbullock opened #221 "Create model for supporting document sets"
## Category

- [x] Feature request

## Describe the feature

- Add the ability to call the APIs for working with document sets
- Unit Tests for calling the APIs
- If there are special requirements or permissions with this model, add to the documentation

## Contributing

We encourage and welcome contributions for the PnP Core SDK, if you are interested, please comment below to engage with the team

[2020-11-02 20:25] pkbullock opened #222 "Create model for enabling support for Checked Out Files"
## Category

- [x] Feature request

## Describe the feature

- Add the ability to call the APIs relating to Checked Out Files
- Unit Tests for calling the APIs
- If there are special requirements or permissions with this model, add to the documentation

## Contributing

We encourage and welcome contributions for the PnP Core SDK, if you are interested, please comment below to engage with the team.

[2020-11-02 20:27] pkbullock opened #223 "Create models for Site Creation"
## Category

- [x] Feature request

## Describe the feature

- Add the ability to call the APIs for creating modern sites, Groups, Comm Sites etc.
- Unit Tests for calling the APIs
- If there are special requirements or permissions with this model, add to the documentation

## Contributing

We encourage and welcome contributions for the PnP Core SDK, if you are interested, please comment below to

[2020-11-02 20:28] pkbullock opened #224 "Create models for Site Header/Footer"
## Category

- [x] Feature request

## Describe the feature

- Add the ability to call the APIs relating to configuring the Site Header/Footer
- Unit Tests for calling the APIs
- If there are special requirements or permissions with this model, add to the documentation

## Contributing

We encourage and welcome contributions for the PnP Core SDK, if you are interested, please comment below to enga

[2020-11-04 19:04] jscarano opened #226 "SharePoint Rest service exception produced when trying to connect to SharePoint site using a different case (lower versus upper) in the URL."
## Category

- [x] Bug

## Describe the bug

If I have a site in SharePoint online that has capital letters in the URL

[code]

And I try to use a different case (say lower case)
[code]

The code throws an exception (SharePoint Rest service exception)

[code]

## Steps to reproduce

1. Create a site in SharePoint online named "TEST-MixedCase". Note the URL should be "/sites/TEST-MixedCase"
2. Use

[2020-11-06 22:44] jansenbe commented on #226
Hi @jscarano ,

Thanks for reporting this, will get this fixed as soon as possible. Keep the feedback coming!

[2020-11-07 11:54] jansenbe commented on #226
This seems to be due to the fact that we always use batching to send requests...in the batch the URL of the site needs to be correct, otherwise there will be an `{"error":{"code":"-1, Microsoft.SharePoint.Client.InvalidClientQueryException","message":{"lang":"en-US","value":"Invalid request."}}}` error.

[2020-11-07 12:49] jansenbe commented on #226
Docs are updated to reflect the need to provide url's with the correct case: https://pnp.github.io/pnpcore/articles/consumer/readme.html

[2020-11-09 20:52] pkbullock commented on #192
This should be it - will close now.

[2020-11-09 20:52] #192 closed

[2020-11-10 15:14] jansenbe commented on #87
Starting to work on this as it's a pre-requisite to finalizing the pages API feature

[2020-11-13 21:42] RicardoCostaDev opened #228 "Error: Task Canceled when downloading from Sharepoint "big" files >= 2GB"
https://github.com/pnp/pnpcore/blob/4c38c88659bd60429f0ad73e0be415ea1e2db6e8/src/sdk/PnP.Core/Model/SharePoint/Core/Public/IFile.cs#L191

I'm getting TaskCanceled exception on file.GetContent() and file.GetContentBytes() when trying to download "big" files , >= 2GB.
This issue doesn't happend when trying to download smaller files.

[2020-11-14 09:58] jansenbe commented on #228
Thanks for reporting this @RicardoCostaDev, we'll investigate this

[2020-11-16 14:47] jansenbe commented on #87
Done for 95%, created new tasks to track the remaining work

[2020-11-16 14:47] #87 closed

[2020-11-16 14:55] jansenbe opened #229 ""Special" field handling unit tests"
## Category

- [x] Feature request

## Describe the feature

Support for handling "special" field types (Url, LookUp, LookUp multi value, User, User multi value, Taxonomy, Taxonomy multi value and Location) was added but dedicated unit tests are still to be created.

Create a set of tests per special field type that:
- Create a List
- Add a column of of the special field type
- Add an item, popula

[2020-11-16 14:57] jansenbe opened #230 "Special field handling end user documentation (=working with list items)"
## Category

- [x] Feature request

## Describe the feature

Support for handling "special" field types (Url, LookUp, LookUp multi value, User, User multi value, Taxonomy, Taxonomy multi value and Location) was added but user docs still have to be written.

See the FieldTypeReadUrl as commented test in listitemtests.cs for some inspiration.

[2020-11-16 14:58] jansenbe commented on #116
90% done, closing and creating new issues to track the remaining work

[2020-11-16 14:58] #116 closed

[2020-11-16 15:02] jansenbe opened #231 "Finalize Pages API implementation"
## Category

- [x] Feature request

## Describe the feature

There's a couple of pending tasks to finalize the modern page API:

- AuthorByLineId support during save (was pending on #87)
- Translation features

[2020-11-16 15:03] jansenbe opened #232 "Create extra unit tests for the modern API"
## Category

- [x] Feature request

## Describe the feature

There's already a tests covering the basics, but more tests are needed to ensure full coverage of the modern page API.

[2020-11-16 15:04] jansenbe opened #233 "End user documentation on how to use the modern pages API"
## Category

- [x] Feature request

## Describe the feature

Create end user documentation outlining how the modern pages API works and should be used.

[2020-11-16 15:39] jansenbe opened #234 "Implement "update" behavior for the Location field type"
## Category

- [x] Feature request

## Describe the feature

All special field types are fully supported...except updating Location fields is not fully baked yet.

[2020-11-16 15:50] jansenbe opened #235 "Add support for creating taxonomy fields"
## Category

- [x] Feature request

## Describe the feature

Most field types can be created, taxonomy (single and multi value) is the most needed missing one.

[2020-11-17 11:40] warrenroscoe opened #236 "The underlying connection was closed when running Get-PnPTenantTemplate and Get-PnPProvisioningTemplate"
## Category

- [x] Bug

## Describe the bug

When running the script below dring office hours, I am pretty much always getting the exception below on both the Get-PnPTenantTemplate and Get-PnPProvisioningTemplate commands.
I have tried various script tweaks (ServicePointManager settings) from documented fixes on the internet ... they are in the code, but still I cant get either of the commands abo

[2020-11-18 17:35] jansenbe commented on #231
Working on this...

[2020-11-19 13:26] jansenbe commented on #231
Done

[2020-11-19 13:26] #231 closed

[2020-11-20 10:22] jansenbe commented on #162
See also https://github.com/SharePoint/sp-dev-service/blob/master/prototype/Executor/Support/AzureFunctionsResolveAssembly.cs#L29

[2020-11-20 11:49] jansenbe commented on #232
In progess

[2020-11-23 22:37] paveldanilchyk opened #238 "SharePoint Online authentication manager - SharePoint App-Only permissions"
## Add old authentication mechanism to .Net Standard library.

- [x] Feature request

## Describe the feature
PnP-Sites-Core library provides ability to get ClientContext using SharePoint App-only permissions (Azure Access Control (ACS)).
https://docs.microsoft.com/en-us/sharepoint/dev/solution-guidance/security-apponly-azureacs.
PnP core library uses a MSAL.Net for authentication.
Could we add a

[2020-11-24 08:23] jansenbe commented on #238
Hi @paveldanilchyk ,

Current PnP Core SDK does not support any tenant level operations and we do not directly support ACS app-only. If you tenant level API calls using the CSOM Tenant object the please use [PnP Framework](https://github.com/pnp/pnpframework) as that still depends on CSOM and also has support for Azure ACS app-only. If you don't need tenant API's you can use our custom authenticat

[2020-11-25 00:11] Ofer-Gal opened #239 "Error in Demo.Console\Program.cs:line 106"
## Category

- [x] Bug

## Describe the bug
Microsoft.Identity.Client.MsalServiceException
  HResult=0x80131500
  Message=A configuration issue is preventing authentication - check the error message from the server for details.
## Steps to reproduce

Ran and logged in but got the error.

## Expected behavior
It should run as is

[2020-11-25 03:36] jansenbe commented on #239
Hi @Ofer-Gal ,

There was a small compilation issue in the code: as we're still in preview we sometimes have breaking API changes and in this case the sample was not yet updated. I've just updated the sample for that. Please test with the latest version to see if you still have problems.

Before you can run the sample you need to create an Azure AD application as specified in the readme: https://g

[2020-11-25 03:38] jansenbe opened #240 "Switch to validateUpdateListItem for doing list item updates"
## Category

- [x] Feature request

## Describe the feature

See https://www.linkedin.com/pulse/list-items-system-update-options-sharepoint-online-andrew-koltyakov/ for more details.

[2020-11-25 10:41] jansenbe opened #241 "Add support page commenting and liking"
## Category

- [x] Feature request

## Describe the feature

The Pages API in PnP Framework does not support page commenting and like/unlike as there's no CSOM API...but there's a REST API for this, so can easily include that. See https://www.vrdmn.com/2017/07/working-with-page-comments-rest-api-in.html for more insights.

Other resources:
- https://sharepoint.stackexchange.com/questions/248841/co

[2020-11-25 13:55] Ofer-Gal commented on #239
I have an Application regitrated as explain.
Got me the new Demo.Console and now the error is different. it wants client_secret which is not included in "InteractiveAuthenticationProvider"
"The request body must contain the following parameter: 'client_assertion' or 'client_secret'."
1. What provider should I use for client secret or certificate?
2. How do I use CredentialManagerAuthenticationProv

[2020-11-25 14:06] jansenbe commented on #232
Done

[2020-11-25 14:06] #232 closed

[2020-11-25 14:12] jansenbe commented on #239
Hi @Ofer-Gal ,

Can you cross check below settings in the app you've created in Azure AD. The docs don't mention Access Tokens for the implicit grant, but think that's needed. I'll update the docs based upon your feedback.

![image](https://user-images.githubusercontent.com/7451219/100238413-756dd500-2f30-11eb-8757-b63ce20c9be6.png)

[2020-11-25 16:17] Ofer-Gal commented on #239
Yes sir.
I was missing Access tokens and the yes for "Enable the following mobile and desktop flows:"
Now I get another error on line 143 "  await team.PrimaryChannel.GetAsync(p => p.Messages)" But that can be because I do not have any message in the channel.

Thank you much.

Error
-------------------------------------------
"PnP.Core.MicrosoftGraphServiceException
  HResult=0x80131500
  Message=

[2020-11-25 16:44] jansenbe commented on #239
Good to hear you've made progress. About the teams, your thinking might be correct, something we'll verify. I'll update the docs to reflect the changes you had to do, thanks for letting us know and testing this library. We plan to go GA in early January, don't hesitate to let the feedback coming.

We'll also be creating more end user documentation, currently we mainly focused on contributor docs.

[2020-11-25 16:58] Ofer-Gal commented on #239
Speaking of errors,  await team.PrimaryChannel.GetAsync(p => p.Messages); does not work even when there are messages.
Also, when adding items to the Demo1 list, the .Items.Count() is always 0 and so is Items.Length with graph and itemsQuery
Knowing Graph, it may be a permission issue.
I tried this sample with .Net 5.0 and it just did not work. no Error.
Shouldn't it work with .NET 5.0?

Thanks aga

[2020-11-25 17:03] jansenbe commented on #239
Seems like I was using another app to test this: you indeed need to grant Teams permissions to the Azure AD app and then do the admin consent again. Add [ChannelMessage.Read.All](https://docs.microsoft.com/en-us/graph/api/channel-list-messages?view=graph-rest-1.0&tabs=http) to start with

[2020-11-25 17:06] jansenbe commented on #226
Closing this one: doing this automatically requires an extra roundtrip for each PnPContext object creation, not something that's optimal. For now folks have to provide the correct cased URL as specified in our docs.

[2020-11-25 17:06] #226 closed

[2020-11-25 17:20] jansenbe commented on #233
In progress

[2020-11-25 23:44] Ofer-Gal commented on #239
After Adding almost all the Graph permissions there are, The console ran everything With .NET 5 Cudus guys!
Can you just explain to me where "PnP.Framework" Version="0.1.57-preview" is fitting? I never found a "Getting Started" for it. Do I need "PnP.Core.Auth" Version="0.3.57-preview3" to use whatever is included in it?
Thanks again

[2020-11-26 07:31] jansenbe commented on #239
PnP Framework in a port from our old PnP Sites Core library that only targets SPO as it uses the CSOM for .NET Standard 2.0 framework under the covers. PnP Sites Core will be retired soon, so we'll more forward with PnP Framework and PnP Core SDK. The later is a new, modern and well tested code base whereas PnP Framework is more feature rich. We'll be rebuilding the key features of the PnP Framewo

[2020-11-26 07:31] #239 closed

[2020-11-27 09:18] jansenbe commented on #233
Done

[2020-11-27 09:18] #233 closed

[2020-11-27 09:24] paveldanilchyk commented on #238
This question/suggestion is irrelevant now.

MSAL client credential flow works for my case.
For this case need to worry about scope.
https://github.com/SharePoint/sp-dev-docs/issues/6498

Thank you,

[2020-11-27 09:24] #238 closed

[2020-11-27 19:10] jansenbe commented on #149
Moved to an alternative implementation not using dependency injection so that for Blazor we can now skip telemetry without it causing an error. In future we might implement an alternative solution to handle telemetry for Blazor clients

[2020-11-27 19:10] #149 closed

[2020-11-27 19:38] jansenbe commented on #162
To be reviewed: problem might be solved with using .NET 5? Also our .NET Standard 2.0 version now has lesser and lower dependencies and should work across the board

[2020-11-30 17:13] jansenbe commented on #229
In progress

[2020-12-01 17:24] jansenbe commented on #235
Working on it

[2020-12-03 13:03] jansenbe commented on #240
In progress

[2020-12-07 12:20] jansenbe commented on #240
Done

[2020-12-07 12:20] #240 closed

[2020-12-07 12:21] jansenbe commented on #235
Done

[2020-12-07 12:21] #235 closed

[2020-12-07 12:21] jansenbe commented on #229
Done

[2020-12-07 12:21] #229 closed

[2020-12-07 13:13] jansenbe commented on #234
Location field is not an urgently needed feature, moving to backlog for now

[2020-12-07 13:15] jansenbe commented on #170
Not super urgent as most tests do cleanup after themselves and for the ones that don't there's the PnP PowerShell cleanup script. Moving to backlog for now

[2020-12-07 13:16] jansenbe commented on #140
Not urgent for being able to ship GA so moving to backlog

[2020-12-07 13:17] jansenbe commented on #169
Verify if IRM settings are something we want to proceed with...moving to backlog

[2020-12-07 13:20] jansenbe commented on #70
For now we regularly do a full offline test, especially when doing large refactorings. This is sufficient for now, hence moving this one  to the backlog

[2020-12-07 13:21] jansenbe commented on #68
Will be fixed when 2.1 version of VROOM API get's rolled out...pushing this to backlog for future validation

[2020-12-07 13:25] jansenbe commented on #67
Not really a problem - dropping this one

[2020-12-07 13:25] #67 closed

[2020-12-07 13:27] jansenbe commented on #219
Done

[2020-12-07 13:27] #219 closed

[2020-12-08 03:21] jansenbe opened #243 "Document "working with a web" for SDK consumers"
## Category

- [x] Feature request

## Describe the feature

Write end user documentation on how to work with webs

[2020-12-08 03:24] jansenbe opened #244 "Document "working with taxonomy" for SDK users"
## Category

- [x] Feature request

## Describe the feature

Document "working with taxonomy" for SDK users

[2020-12-08 03:24] jansenbe opened #245 "Document "working with teams" for SDK users"
## Category

- [x] Feature request

## Describe the feature

Document "working with teams" for SDK users

[2020-12-08 03:27] jansenbe opened #246 "Integrate the set translations API for modern pages to connect individual pages as translations"
## Category

- [x] Feature request

## Describe the feature

Integrate this feature as part of the pages translations API feature. API information

Request:

[code]

Request body:

[code]

Response:

[code]

[2020-12-08 03:40] jansenbe opened #247 "Add support for web part connections"
## Category

- [x] Feature request

## Describe the feature

Make it easy to understand web part connections and perform CRUD operations on web part connections within a page

[2020-12-08 17:47] jansenbe opened #248 "Create a Blazor web site allowing folks to write Core SDK code and press run"
## Category

- [x] Feature request

In the category of super cool things ~ living on the edge ~ to build: making a .NET Blazor (WASM) site that allows folks to write and run PnP Core SDK code. User would sign in to Azure AD consenting to an app and then write, compile and execute PnP Core SDK code. Having a live sample gallery would be a bonus ✨

For inspiration:

- https://alistairevans.co.uk/202

[2020-12-08 18:06] jansenbe opened #249 "JS interop for the Blazor WebAssembly version of PnP Core SDK by distributing as an NPM package"
## Category

- [x] Feature request

Wouldn't it be cool if one could use some PnP Core SDK API's in TypeScript projects via a PnP Core SDK NPM package that wraps a WASM build of PnP Core SDK + the needed JS Interop. This would make it easier to use PnP Core SDK in TypeScript based developments. The needed interop can possibly be generated off our public model.

Resources:

- https://docs.microsoft

[2020-12-10 09:24] jansenbe opened #252 "Document "working with lists" for SDK consumers"
## Category

- [x] Feature request

## Describe the feature

Write consumer documentation showing how to work with lists

[2020-12-10 09:26] jansenbe opened #253 "Document "working with content types" for SDK users"
## Category

- [x] Feature request

## Describe the feature

Write end user documentation explaining how to work with content types

[2020-12-10 10:24] pkbullock opened #254 "Document/Decorate for inconsistent naming of underlying APIs"
## Category

- [x] Domain model extension

## Describe the domain model extension

Ensure that where areas of SharePoint/Graph naming inconsistencies that where in the SDK we have standardised for both we highlight the new name may not match the underlying API.

[2020-12-10 10:43] pkbullock opened #255 "Experiment: Tag unit tests as samples so examples are testable"
## Category

- [x] Feature request

## Describe the feature

Investigate if the sample code can be tagged in a way from unit tests to ensure that when we make a change to the underlying code, the example code is proven to work.

[2020-12-11 04:14] jansenbe opened #256 "Do more testing/documentation work for the GetListDataAsStreamAsync method"
## Category

- [x] Feature request

## Describe the feature

The method is there but more testing and possible fixes are needed to support additional scenarios (like paging, loading schema, etc)

[2020-12-11 16:43] jansenbe opened #257 "Add batch method for EnsureUser and GetCurrentUser on Web class"
## Category

- [x] Feature request

## Describe the feature

[2020-12-11 17:38] jansenbe commented on #230
Boom...done!

[2020-12-11 17:38] #230 closed

[2020-12-11 18:24] jansenbe commented on #257
Done

[2020-12-11 18:24] #257 closed

[2020-12-12 01:05] jansenbe commented on #201
Done!!

[2020-12-12 01:05] #201 closed

[2020-12-12 11:45] jansenbe commented on #139
Starting with this

[2020-12-12 11:56] jansenbe opened #258 "Add support for downloading previous file versions"
## Category

- [x] Feature request

## Describe the feature

Enable download (openbinarystream) on versions (IFileVersion) of a file

[2020-12-12 19:36] jansenbe opened #259 "Create unit test to cover IFileVersion"
## Category

- [x] Feature request

## Describe the feature

There are no unit tests covering the IFileVersion and IFileVersionCollection classes

[2020-12-13 09:11] jansenbe commented on #139
Done

[2020-12-13 09:11] #139 closed

[2020-12-13 09:22] jansenbe commented on #213
Linked to #185

[2020-12-13 09:23] jansenbe commented on #185
Linked to #213

[2020-12-13 09:46] jansenbe commented on #228
See https://github.com/SharePoint/sp-dev-docs/issues/5247 for more background

[2020-12-13 10:54] jansenbe commented on #162
Seems to be no issue in Sergei Sergeev's latest blog (https://spblog.net/post/2020/12/10/how-to-access-sharepoint-data-from-azure-function-with-spfx-and-pnp-core) + the Azure Function .NET 5 support will run in an isolated process: https://techcommunity.microsoft.com/t5/apps-on-azure/net-5-support-on-azure-functions/ba-p/1973055

[2020-12-13 10:54] #162 closed

[2020-12-13 11:06] jansenbe opened #260 "Document "Working with files" for SDK consumers"
## Category

- [x] Feature request

## Describe the feature

Document "Working with files" for SDK consumers

[2020-12-14 11:43] jansenbe commented on #228
@RicardoCostaDev : this issue has been fixed. If you tomorrow use our latest nightly nuget package you need to make a few tweaks to your config/code:

- Configure the HttpClient timeout settings by setting the Timeout configuration setting. See https://pnp.github.io/pnpcore/articles/consumer/pnp%20core%20settings.html#sample-settings-file
- Indicate you want to stream the content (to avoid the ful

[2020-12-14 11:52] jansenbe commented on #228
I'm closing this issue, if you still experience issues then please create a new one with the error messages you're seeing

[2020-12-14 11:52] #228 closed

[2020-12-14 14:23] jansenbe commented on #260
Starting to work on this

[2020-12-14 19:42] jansenbe commented on #260
Done

[2020-12-14 19:42] #260 closed

[2020-12-14 20:05] pkbullock commented on #245
Since i'm working on the tests ill cover this part...

[2020-12-15 18:58] jansenbe commented on #252
I'll start working on this

[2020-12-16 09:51] jansenbe opened #262 "Add the other List recycle methods, only RecycleAsync exists"
## Category

- [x] Feature request

## Describe the feature

Add the other List recycle methods, only RecycleAsync exists

[2020-12-16 12:14] jansenbe opened #263 "Review View delete implementation"
## Category

- [x] Feature request

## Describe the feature

Update the model to align with how delete is done for other entities (using Delete on the model vs a Remove method on the model collection)

[2020-12-16 12:15] jansenbe commented on #252
Basic version done

[2020-12-16 12:15] #252 closed

[2020-12-16 12:41] jansenbe commented on #262
done

[2020-12-16 12:41] #262 closed

[2020-12-16 12:44] jansenbe opened #264 "Document "working with folders""
## Category

- [x] Feature request

## Describe the feature

[2020-12-16 17:18] jansenbe opened #265 "Add support for adding List Items in a folder"
## Category

- [x] Feature request

## Describe the feature

Add support for adding List Items in a folder

[2020-12-16 17:29] jansenbe commented on #264
Basic docs done

[2020-12-16 17:29] #264 closed

[2020-12-16 18:00] jansenbe commented on #253
Starting with this

[2020-12-16 18:36] jansenbe opened #266 "Finalize support for fieldlinks on site/list content types"
## Category

- [x] Feature request

## Describe the feature

Adding FieldLinks via REST has a lot of limitations, best to switch to a CSOM add. See the  AddFieldToContentType extension method in PnP Framework. Also implement the csom Reorder method

[2020-12-16 20:44] jansenbe commented on #253
done

[2020-12-16 20:44] #253 closed

[2020-12-16 22:37] jansenbe commented on #243
I'll start working on this

[2020-12-16 22:48] jansenbe opened #267 "Add support for page and news scheduling"
## Category

- [x] Feature request

## Describe the feature

Add support for page and news scheduling

[2020-12-17 12:26] jansenbe commented on #218
Let's standardize on the Graph delta API's

[2020-12-18 13:50] pkbullock commented on #198
From testing this issue only affect Async e.g. (GetByDisplayNameAsync) calls to the graph. There must be a reasonable difference there - or an indication the non-async calls under hood is missing something making this by chance a working call.

[2020-12-18 14:52] rjcg916 opened #268 "Model for SiteGroup User Management"
## Category

- [x] Feature request

## Describe the feature

Add support for adding/deleting/updating users in SP Site Groups

[2020-12-19 13:35] jansenbe commented on #268
Linked to #185  and #213

[2020-12-21 20:04] jansenbe opened #272 "Review File tokenization"
## Category

- [x] Feature request

## Describe the feature

When a file is obtained via Web.GetServerRelative... doing an EnsureProperties on the File goes wrong because it resolves the wrong parent.id token

[2020-12-22 13:06] jansenbe opened #274 "Support using cookiecontainer and networkcredentials in PnP Core SDK to support usage from PnP PowerShell and future page transformation tech porting"
## Category

- [x] Feature request

## Describe the feature

Resources:

- https://stackoverflow.com/questions/59684127/add-cookies-to-dependancy-injected-httpclient-in-asp-net-core
- https://d-fens.ch/2016/12/27/howto-set-cookie-header-on-defaultrequestheaders-of-httpclient/
- https://gist.github.com/bryanbarnard/8102915

[2020-12-22 16:43] jansenbe commented on #272
Working on this

[2020-12-22 18:34] jansenbe commented on #272
Fixed

[2020-12-22 18:34] #272 closed

[2020-12-22 19:00] jansenbe commented on #263
Done

[2020-12-22 19:00] #263 closed

[2020-12-23 14:41] erwinvanhunen opened #275 "Adding items to list throws exception"
## Category

- [x] Bug

## Describe the bug

Adding an item to a list throws an exception

## Steps to reproduce

[code]

Exception thrown: Please first fetch this list from SharePoint before doing operations on it.

This works:
[code]
## Expected behavior

Most likely it's because some required values are not loaded by default to able for PnP Core to successfully add the request to the batch. The

[2020-12-23 14:55] erwinvanhunen opened #276 "Batch can be submitted multiple times"
## Category

- [x] Bug

## Describe the bug

When creating a new batch (context.NewBatch()) and adding items to that batch, one can invoke the batch multiple times, effectively repeating the tasks. While that is a new 'feature' it can be rather destructive too.

## Steps to reproduce

[code]

## Expected behavior

A batch should be prevented from submitted twice, alternatively, one can think of an

[2020-12-23 15:32] #276 closed

[2020-12-23 23:48] jansenbe commented on #275
Fixed. Optimized behavior is there when the initial list load goes like this, including RootFolder:

[code]

If RootFolder is not loaded it will be loaded on demand but above approach saves one roundtrip

[2020-12-23 23:48] #275 closed

[2020-12-23 23:53] jansenbe opened #277 "Implement "LoadProperties" also on other model classes (today we only support model collections)"
## Category

- [x] Feature request

## Describe the feature

[2020-12-27 10:39] jansenbe opened #278 "Add support for adding a web"
## Category

- [x] Feature request

## Describe the feature

We've support for getting, updating and deleting webs but not for adding a new web to an existing web

[2020-12-27 10:43] jansenbe commented on #243
done

[2020-12-27 10:43] #243 closed

[2020-12-27 18:28] jansenbe commented on #129
Started working on this by cleaning Site and Web models

[2020-12-28 18:34] jansenbe commented on #278
Working on this

[2020-12-28 20:46] jansenbe commented on #278
Done

[2020-12-28 20:46] #278 closed

[2020-12-30 03:55] brittanyru opened #282 "Documentation for PnP Core with C#"
I am trying to use the PnP package "PnP.Framework (0.1.94-preview)", but I am not finding any resources and documentation on how to use it. Is there any documentation for the APIs and how to use it? I am reading different articles here and there talking about registering azure application sometimes, and other times authenticating differently, but I don't find an official documentation on how to ac

[2020-12-30 09:37] brittanyru opened #279 "Documentation for PnP Core with C#"
I am trying to use the PnP package "PnP.Framework (0.1.94-preview)", but I am not finding any resources and documentation on how to use it. Is there any documentation for the APIs and how to use it? I am reading different articles here and there talking about registering azure application sometimes, and other times authenticating differently, but I don't find an official documentation on how to ac

[2020-12-30 09:39] PaoloPia commented on #274
It's now implemented and under test.

[2020-12-30 17:52] jansenbe commented on #274
We've confirmed this works, closing the issue.

[2020-12-30 17:52] #274 closed

[2021-01-03 01:32] jansenbe commented on #198
Both were using different implementations in this case, with the new series of Get methods on collections and the rewrite of the GetBy... methods to use those new collection get methods this issue has been resolved.

[2021-01-03 01:32] #198 closed

[2021-01-03 10:30] pkbullock commented on #214
Note for self, the chat message features are text only and basic, explore expanding to include rich text, importance, and other features that Teams offers in a message posting.

[2021-01-03 11:06] pkbullock commented on #95
I've added as far as I can go with this task - any todo's or additional tests, model changes will be added in a future issue. Closing.

[2021-01-03 11:06] #95 closed

[2021-01-04 02:54] jansenbe commented on #95
Thx @pkbullock !

[2021-01-04 18:08] jansenbe commented on #282
For a listitem the fields (I assume that's what you need) are handled slightly different as each list can have it's own fields and thus each list has a different schema.  When loading a list to work with items check https://pnp.github.io/pnpcore/using-the-sdk/listitems-intro.html#reading-list-items to get started.

If you've an item loaded you also have the Values collection loaded which contains

[2021-01-04 18:19] jansenbe commented on #282
See also https://pnp.github.io/pnpcore/using-the-sdk/basics-getdata.html for new documentation on getting data

[2021-01-05 17:55] jansenbe commented on #268
Implemented

[2021-01-05 17:55] #268 closed

[2021-01-05 18:00] jansenbe commented on #213
Implemented

[2021-01-05 18:00] #213 closed

[2021-01-05 18:02] jansenbe commented on #185
Implemented

[2021-01-05 18:02] #185 closed

[2021-01-06 17:00] jansenbe commented on #282
Hey @brittanyru : did above get you unblocked? If so feel free to close the issue.

[2021-01-06 19:35] jansenbe commented on #277
In progress, need to still finalize some of the complex graph cases where we need generate extra queries

[2021-01-07 07:38] jansenbe commented on #277
Done

[2021-01-07 07:39] #277 closed

[2021-01-07 10:54] jansenbe opened #283 "Update InteractiveAuthenticationProvider to use a default RedirectUri if not provided + use InteractiveAuthenticationProvider as default if nothing set"
## Category

- [x] Feature request

## Describe the feature

InteractiveAuthenticationProvider can default to the http://localhost redirecturi if nothing (no appid, tenant) was specified as we then can fall back to the PnP Management shell app. With this in place we can also allow to configure the SDK with a simple AddPnPCore() as we can default to InteractiveAuthenticationProvider using the PnP m

[2021-01-08 10:46] jansenbe commented on #129
List and Field was done as well

[2021-01-08 11:49] jansenbe commented on #129
done

[2021-01-08 11:49] #129 closed

[2021-01-08 18:42] jansenbe opened #284 "REST batching has a maximum of 100 requests, add the needed logic to split the batch when needed"
## Category

- [x] Feature request

## Describe the feature

[2021-01-08 19:57] jansenbe commented on #284
Done

[2021-01-08 19:57] #284 closed

[2021-01-09 11:15] jansenbe commented on #265
Done by @erwinvanhunen , thanks!

[2021-01-09 11:15] #265 closed

[2021-01-10 06:27] jansenbe opened #285 "Document "Working with sites""
## Category

- [x] Feature request

## Describe the feature

[2021-01-10 17:56] jansenbe commented on #285
done

[2021-01-10 17:56] #285 closed

[2021-01-11 14:17] derhallim opened #286 "Invoke-PnPSiteTemplate is ignoring ClientSidePages"
**Command:**
Invoke-PnPSiteTemplate

**Actual behavior:**
When using this command to apply site pages to the site, it ignores the page. If I use the old library with the command: **Apply-PnPProvisioningTemplate** it will work fine. With the new command, it shows the page was modified recently (like 2 minutes ago). But it doesn't actually apply any template to it.

**Expected Behavior**
I'd expect

[2021-01-11 18:09] jansenbe commented on #286
@derhallim : for the page header alignment you need to fix the template (your template contains TextAlignment="Center"). We used to have a bug in the previous version where there was a mismatch in enums but this has been fixed in the new SDK. I'll have a look at the preview image

[2021-01-11 18:16] derhallim commented on #286
@jansenbe yep just noticed it. Works after removing the whole tag and it defaults to left.
Thanks for having a look at the previews.

[2021-01-11 19:47] derhallim commented on #286
@jansenbe I've got this: https://gist.github.com/derhallim/5474952d9b54caf54aab8c497fc0d909

[2021-01-11 20:16] jansenbe commented on #286
The page you've shared is not set to be a template page and does not have a header with an image...so I can't repro this issue here. Can you share the actual page you're testing with.

[2021-01-11 20:48] derhallim commented on #286
@jansenbe here's an example of 2 pages that appear in the preview panel:
https://gist.github.com/derhallim/13e20e9b76450679d6496951c8a391f1

[2021-01-12 10:03] jansenbe commented on #286
@derhallim : this issue has been fixed in the beta2 release of PnP Core SDK and as such it will appear in tomorrow's nightly build from PnP PowerShell and PnP Framework

[2021-01-12 10:03] #286 closed

[2021-01-12 10:04] jansenbe commented on #282
Closing this one, if you've other PnP Core SDK questions feel free to ask them via a new issue

[2021-01-12 10:04] #282 closed

[2021-01-12 10:35] jansenbe opened #287 "Improve batch error handling"
## Category

- [x] Feature request

## Describe the feature

Support a model to return all the errors in a given batch without immediately throwing an error during processing. Also needs to take in account the current batch splitting.

[2021-01-12 10:54] adzero opened #288 "Applying template with ClientSidePages in template definition fails"
## Category

- [x] Bug

## Describe the bug

Using the PnP.Powershell preview module, I try to apply a template with the new  `Invoke-PnPSiteTemplate` command.
Provisionning is done but fails at the end with ClientSidePages (I actually have only one quite simple Home page definition) and raises a NullReferenceException.
If I comment the ClientSidePages in my xml file, no error.
If I use the (soon-

[2021-01-12 10:59] jansenbe commented on #288
@adzero : can you share a template with a failing page and the authentication method used in PnP PowerShell?

[2021-01-12 13:23] adzero commented on #288
@jansenbe : here's the content of ClientSidePages node.

[code]
I noticed this first with another template on Januray 4th after updating PnP module, but this one is even simpler with only a library control.

I'm connecting and applying template to the site like this :

[code]

[2021-01-12 14:07] jansenbe commented on #287
Done

[2021-01-12 14:07] #287 closed

[2021-01-12 14:11] jansenbe commented on #288
@adzero : Can you cross check you're really using the latest PS (e.g. check the loaded module) as this is something I thought we had fixed last week (home pages were not updated, see https://github.com/pnp/pnpframework/issues/73)

[2021-01-12 16:12] jansenbe opened #289 "Add support for change tracking for list item field collections (e.g. taxonomy collection)"
## Category

- [x] Feature request

## Describe the feature

Currently these collections are always considered changed and processed accordingly.  Replace the "list" by a list model that supports change tracking and integrate into the current "get changes" flows

[2021-01-12 16:22] adzero commented on #288
@jansenbe : I uninstalled the previous PnP.PowerShell version and checked the module version loaded and it is 0.3.33.

Let me know if I can do something else to help.

[2021-01-12 16:23] derhallim commented on #286
Awesome! Thanks @jansenbe

[2021-01-12 17:38] cjanow3 opened #290 "Invoke-PnPSiteTemplate fails with (and without) ClientSidePages in template definition"
## Category

- [x] Bug

## Describe the bug

Using 0.3.33-nightly, I am able to successfully use Connect-PnPOnline with parameters Tenant, ClientId, and CertificatePath.  However, when attempting to apply template to site, I am receiving errors: one error when my template includes ClientSidePages references and another when it does not.  I had seen references to other issues with ClientSidePages,

[2021-01-12 18:15] jansenbe commented on #288
Hi @adzero , when I use your template I can overwrite the home page, both from using PnP Framework code as from the latest PnP PowerShell release (.34).

![image](https://user-images.githubusercontent.com/7451219/104355139-88e9f500-550a-11eb-9a07-9271a10a4f59.png)

[2021-01-12 18:23] jansenbe commented on #290
Hi @cjanow3 ,

Can you cross check you're using the right version (e.g. by adding -verbose to the connect-pnponline statement) as we've fixed this bug in 0.3.33. See https://github.com/pnp/pnpframework/issues/86 for some background.

[2021-01-13 09:49] adzero commented on #288
Hi @jansenbe, tried again this morning and NullReferenceException still happens.
If comment the pnp:ClientSidePages node, provisionning ends without error.

I checked to update PnP.PowerShell to .34-nightly but the last version available is still .33-nightly : [PSGallery](https://www.powershellgallery.com/packages/PnP.PowerShell)

I'll give another try as soon as .34 is available.

[2021-01-14 11:41] jansenbe opened #291 "Review telemetry needs before GA"
## Category

- [x] Feature request

## Describe the feature

Do we need to send an "os" event to understand where we're running?

[2021-01-14 21:48] pkbullock opened #293 "Support for post messages in Teams with Adaptive Cards"
## Category

- [x] Feature request

## Describe the feature

Show how to use the PnP Core SDK to post messages using adaptive cards.

Seems like this could be possible and would be a good showcase

References:
https://docs.microsoft.com/en-us/answers/questions/158736/how-to-send-an-adaptive-card-through-microsoft-gra.html
https://docs.microsoft.com/en-us/graph/api/chatmessage-post?view=graph-rest-

[2021-01-15 08:10] jansenbe opened #294 "Sample request: built Blazor wasm teams app"
## Category

- [x] Feature request

## Describe the feature

Mike Berglund did do a nice write up on how to build Blazor Teams apps: https://mikaberglund.com/microsoft-teams-app-with-blazor-server-or-blazor-webassembly/. What if we'd leverage his work but then make an Teams app that can also be used as an SPFX app on a SharePoint page...

[2021-01-15 08:21] pkbullock commented on #245
Closing this, in the continuation of the model, docs and code will be posted under issue #214

[2021-01-15 08:21] #245 closed

[2021-01-15 10:09] jansenbe commented on #258
Started working on this

[2021-01-15 10:22] jansenbe commented on #258
Done!

[2021-01-15 10:22] #258 closed

[2021-01-15 10:24] jansenbe commented on #259
There are unit tests for this...I was wrong

[2021-01-15 10:24] #259 closed

[2021-01-15 16:12] jansenbe commented on #289
Starting to work on this

[2021-01-17 18:23] jansenbe commented on #289
done

[2021-01-17 18:23] #289 closed

[2021-01-18 03:11] Maddisan opened #295 "'Column not found' when adding field to content type"
Trying to add an existing column to a content type results in an error. I've tried using default columns and content types as well as new ones.

[code]
[code]

I am able to add columns to content types successfully using Powershell.
` Add-PnPFieldToContentType -Field "WorkAddress" -ContentType "Announcement"`

Any help you can provide on this issue would be much appreciated.

[2021-01-18 08:06] jansenbe commented on #295
Thanks for reporting this @Maddisan , this is indeed an issue due to the REST API limitations when working with content types. See https://docs.microsoft.com/en-us/previous-versions/office/sharepoint-visio/jj245869(v=office.15)?redirectedfrom=MSDN#postsyntax.

We'll address this by under the covers either using Graph or hitting the CSOM endpoint (client.svc) and aim to fix this before our GA relea

[2021-01-18 08:12] jansenbe commented on #288
Any feedback here @adzero or can we close this issue?

[2021-01-18 08:58] jansenbe commented on #291
I'll start working on this

[2021-01-19 02:58] Maddisan commented on #223
Will this allow the ability to create new Site Collections?

[2021-01-19 09:06] adzero commented on #288
Hi @jansenbe, sorry for the delay.

I just updated my PnP.PowerShell module to 0.3.40-nightly and applied once again the template.
Sadly, error still occurs when I uncomment ClientSidePages node.

Here's a screenshot. First with ClientSidePages commented and second uncommented.

![pnp-template-error](https://user-images.githubusercontent.com/7522988/105008204-32fcdc00-5a39-11eb-8c05-14d709c9fe3b.p

[2021-01-19 11:37] jansenbe commented on #288
@adzero : please call Get-PnPException after the apply of the template fails and share that output here. For the second issue please create a separate issue in the PnP Framework repo (https://github.com/pnp/pnpframework/issues)

[2021-01-19 12:48] adzero commented on #288
Here's the output of `Get-PnPException` after `Invoke-PnPSiteTemplate` fails :

![pnp-template-error2](https://user-images.githubusercontent.com/7522988/105036525-e3300c00-5a5c-11eb-8220-ebbc19856d72.png)

[2021-01-20 19:42] jansenbe commented on #291
Done

[2021-01-20 19:42] #291 closed

[2021-01-20 19:45] jansenbe opened #297 "Verify model load behavior with how CSOM works"
## Category

- [x] Feature request

## Describe the feature

To ease transitioning from CSOM (needed for PnP Framework / PnP PowerShell use of PnP Core SDK) the model behavior defaults need to be aligned with how CSOM works:

- load model with x properties, load same model again with y properties
- load collection with a filter and properties, load collection again with other filter and properties

[2021-01-20 19:48] jansenbe opened #298 "Build a "lightweight" CSOM client that we can use for our required CSOM operations"
## Category

- [x] Feature request

## Describe the feature

Some operations do require CSOM, currently we've a solution that's based on coming up with the XML payload via string manipulation. This works but has limitations:

- does not support batching of requests
- hard to maintain

What if we'd had a minimal CSOM client implementation that could use information from our model (we can add additi

[2021-01-20 22:38] GreatTommy commented on #288
I've got the same issue with PnP.PowerShell (1.1.1), and I'm also using Sharepoint in french (maybe that's could be a clue to solve the issue).
I observed the issue comes when Get-PnPSiteTemplate function treats site pages. So I also tried the function Export-PnPPage and indeed I got the same error message.

[2021-01-20 23:26] derhallim opened #299 "CAML query getting ignored when querying custom field"
## Category

- [x] Bug

## Steps to reproduce

Hello, I am trying to get a particular ListItem using the pattern based on the CAML query sample code from this [link ](https://pnp.github.io/pnpcore/using-the-sdk/listitems-intro.html#getting-list-items-via-a-caml-query
)

I want to return a List Item where a custom field equals a specific value. When I execute my CAML in a CAML utility against my Li

[2021-01-21 07:12] jansenbe commented on #299
Thanks for logging this one @derhallim , I'll have a look later today.

[2021-01-21 07:16] jansenbe commented on #288
@GreatTommy / @adzero: I assume your complete tenant is in French given you get French error messages. My tenant is English, but I'll create a non English site and see if I can repro as well. If that doesn't work, would it be possible for one of you to setup a test user in your tenant, create a test site where that user is site collection admin and then share with me...that way I can debug using y

[2021-01-21 07:18] jansenbe commented on #297
starting to work on this

[2021-01-21 09:19] #297 closed

[2021-01-21 09:21] jansenbe opened #300 "Document the similarities/differences between CSOM and PnP Core SDK"
## Category

- [x] Feature request

## Describe the feature

PnP Core SDK feels a bit like CSOM but works not always the same...clarify the differences in documentation to assist folks moving over from CSOM.

[2021-01-21 09:52] jansenbe commented on #299
Hi @derhallim ,

This feature works, I've created a test case that creates a list with custom field, populates the list and the queries using the custom field and this works fine. See https://github.com/pnp/pnpcore/blob/dev/src/sdk/PnP.Core.Test/SharePoint/ListTests.cs#L476 for the actual test.

I think the problem is that you already load all list items with this line as you've included `p => p.I

[2021-01-21 10:20] derhallim commented on #299
Thanks a lot, @jansenbe!

[2021-01-21 10:20] #299 closed

[2021-01-21 10:31] jansenbe opened #301 "Implement cross site collection copy features"
## Category

- [x] Domain model extension

## Describe the domain model extension

Implement cross site collection copy features, see copymover.cs in PS for a sample rest implementation

[2021-01-21 10:37] jansenbe commented on #288
I can simulate the issue with a non English site, thanks for pointing me in the right direction.

[2021-01-21 10:53] GreatTommy commented on #288
Ok great, I hope you will be able to identify the problem. Don't hesitate to tell me if there is anything I can do to help.

[2021-01-21 11:01] jansenbe commented on #288
@GreatTommy / @adzero : the issue has been fixed. See https://github.com/pnp/pnpcore/commit/dd43f2fa1943495449c0e517419666cc5049e45d for details on the fix. This fix will appear in tomorrow's nightly releases of PnP PowerShell, PnP Framework and PnP Sites Core. Please test tomorrow and let us know if things work for you.

[2021-01-21 18:09] jansenbe commented on #288
FYI: We've released version 1.1 from PnP Framework so you've an official release build with this fix. There will also be an new PS release still today.

[2021-01-22 09:55] GreatTommy commented on #288
I have tested the new PnP.PowerShell 1.2.0 and it's now working like a charm. Thanks !

[2021-01-22 10:56] #288 closed

[2021-01-25 03:42] rmillener opened #303 "[BUG] Get-PnPPage results in Property LookupId was not yet loaded"
### Issue
Get-PnPPage results in Property LookupId was not yet loaded error

### Expected behavior
Running the following returns a page:
[code]

### Actual behavior
![Get-PnPPage-Exception](https://user-images.githubusercontent.com/36008992/105658728-f561ec80-5f2b-11eb-8e84-f719cedb9293.PNG)

### What is the version of the Cmdlet module you are running?
1.2.4-nightly

### Which operating system/en

[2021-01-25 09:39] jansenbe commented on #303
Fix has been implemented: https://github.com/pnp/pnpcore/blob/78e2c0ee974179cf1b4442d68b8d88fcc93a3726/src/sdk/PnP.Core/Model/SharePoint/Core/Internal/FieldLookupValue.cs#L23. Will be part of the nightly updates

[2021-01-25 09:52] rmillener commented on #303
Thanks @jansenbe, extremely efficient!

[2021-01-25 16:39] PaoloPia commented on #283
Done!

[2021-01-25 16:39] #283 closed

[2021-01-26 09:10] jansenbe commented on #303
Just cross checked our nightly builds and error is gone, so closing this issue

[2021-01-26 09:10] #303 closed

[2021-01-26 22:43] pkbullock commented on #293
This done incidentally as part of another issue. Cool though :-)

[2021-01-26 22:43] #293 closed

[2021-01-27 08:03] pkbullock commented on #214
For the chat messages, Add HTML example to the docs - missed that one and ensure all sections have intro text.

Additional out the string manipulation into an extension method to tidy up.

[2021-01-27 10:16] jansenbe opened #306 "Introduce concept to allow additional headers being set on a graph request"
## Category

- [x] Feature request

## Describe the feature

Some graph API calls do require additional headers to be specified, we need a model that allows the additional headers to be specified at the model and/or provided in the API call

[2021-01-28 19:10] jansenbe commented on #223
@Maddisan : yes, that's the plan

[2021-01-29 14:36] pkbullock commented on #214
Im going to split this out into smaller issues and tasks. Not sure how far to go with this.

[2021-01-29 14:41] pkbullock opened #309 "Add @mention to Chat Message"
## Category

- [x] Feature request

## Describe the feature

- Add/Check support for querying user in AD
- Add the ability to @mention people in a chat message
- Add Tests for validating the feature
- Add documentation with code sample to show folks how to do it.

Supporting link: https://docs.microsoft.com/en-us/graph/api/chatmessage-post?view=graph-rest-beta&tabs=http#example-2-

## Contributing

[2021-01-29 14:46] pkbullock opened #310 "Add Reply To to Chat Message"
## Category

- [x] Feature request

## Describe the feature

- Add Reply To a chat message capability
- Add tests to validate the feature
- Add documentation with sample usage code

Reference: https://docs.microsoft.com/en-us/graph/api/channel-post-messagereply?view=graph-rest-beta&tabs=http#example-1-create-a-new-reply-to-a-chatmessage

## Contributing
We encourage and welcome contributions for t

[2021-01-29 14:49] pkbullock commented on #214
Will close this to break down any areas into smaller pieces.

[2021-01-29 14:49] #214 closed

[2021-01-29 14:53] pkbullock opened #311 "Expand supporting more Teams Tab Types"
## Category

- [x] Feature request

## Describe the feature

- Expand on the current support tab types to include more as per the links referenced below.
- Add tests to validate the feature
- Add documentation with sample usage code

Reference: https://docs.microsoft.com/en-us/graph/teams-configuring-builtin-tabs
and https://docs.microsoft.com/en-us/graph/api/channel-post-tabs?view=graph-rest-beta

[2021-01-29 15:16] erwinvanhunen opened #312 "I'm trying to add list items in a simple site.. but keep getting Invalid file name error:"
I'm trying to add list items in a simple site.. but keep getting Invalid file name error:
[code]
results in

Invalid file name.
The file name you specified could not be used.  It may be the name of an existing file or directory, or you may not have permission to access the file.

I'm using
Manifest   1.2.0      PnP.PowerShell
Tested with nightly build as well:
Manifest   1.2.7      PnP.PowerShell

[2021-01-30 13:59] pkbullock commented on #248
Another inspiration https://try.mudblazor.com/

[2021-01-30 23:58] bhishma commented on #312
Sorry for confusion. I meant to not show the real guid here that's why tried to obfuscate.
The real error shows GUID properly.

[2021-01-31 10:48] erwinvanhunen commented on #312
Okay, that explains :-)

In our ongoing investigation, could you run the exact following snippet in a test site?

[code]

And see what happens? Just to determine if there is something with the list that makes it through the exception.

[2021-01-31 11:33] bhishma commented on #312
I still get same issue:
[code]

[2021-01-31 11:49] erwinvanhunen commented on #312
I'm almost starting to wonder if the corporate proxy you mentioned is doing something in between. The main difference between using batching and non-batching is how we make the API calls behind the scenes. When adding an item without batching we use CSOM, when adding a item through batching we use the SharePoint REST api.

Can you try to open this in your browser (where you obviously replace the u

[2021-02-01 07:16] jansenbe opened #313 "Add support for scheduled publishing of a page"
## Category

- [x] Feature request

## Describe the feature

Scheduled publishing works for modern pages in the UI, add support for in the pages API via additional publish methods

[2021-02-01 07:17] jansenbe commented on #313
Duplicate of #267 - closing again

[2021-02-01 07:17] #313 closed

[2021-02-01 14:25] KarlssonOve opened #314 "[BUG] Invoke-PnPSiteTemplate fails when page url contains non-standard characters (åäö)"
### Reporting an Issue or Missing Feature
When running Invoke-PnPSiteTemplate with xml template containing sitepages with non-standard characters (åäö) in the url, the run fails with the error:
`Invoke-PnPSiteTemplate: The expression "web/getFolderById('[GUID]')/files/AddTemplateFile(urlOfFile='/sites/[sitename]/SitePages/" is not valid. `

### Expected behavior
To run in the same way as templates

[2021-02-01 15:51] erwinvanhunen commented on #314
Thank you for reporting this issue.

We fixed it in the underlying library which is used by the Provisioning Engine. The fix should be available in release 1.2.11-nightly of PnP PowerShell.

[2021-02-01 15:51] #314 closed

[2021-02-02 10:31] salilpune1 opened #315 "Unable to load Items in List with more than 5000 records"
## Category

- [x] Bug

## Describe the bug

I have a list having more than 5k+ items. I am using GetItemsByCamlQueryBatch method to load items. I am setting 5000 view limit to avoid threshold error. But unlike CSOM, I am unable to get ListItemCollectionPosition from list.Items. How do I iterate through the list to get all list items?

## Steps to reproduce
 var list = context.Web.Lists.GetByTitle

[2021-02-02 10:39] koltyakov commented on #315
Setting top 5000 won't avoid throttling error. The query structure should follow some rules, like a filter should be happening on indexed field to return less than throttling.

[2021-02-02 11:50] salilpune1 commented on #315
Its not about throttling. Say List has 8k items and I want to load all of them. In CSOM we used do while loop and use ListItemCollectionPosition  to get all items. I am not able to figure out this is possible in PnPCore.

[2021-02-02 12:50] jansenbe commented on #315
We're not allowing to send paging info, will do some updates and post back here once done

[2021-02-02 13:00] jansenbe commented on #315
@salilpune1 : This will be the model you can use as of tomorrow:

[code]

[2021-02-02 13:06] #315 closed

[2021-02-02 13:14] koltyakov commented on #315
Should be assumed that such paging token only applicable for unordered and unsorted collections. For small lists and applied conditions a token must contain a last value for each sorter field on a previous page, or used a one returned from the API.

[2021-02-02 13:16] jansenbe commented on #315
@koltyakov : You've good sample of that, want to include it the docs

[2021-02-02 13:43] jansenbe commented on #315
See https://pnp.github.io/pnpcore/using-the-sdk/listitems-intro.html#using-paging-with-caml-queries

[2021-02-02 14:07] jansenbe commented on #315
@salilpune1 : maybe using ListDataAsStream is an easier, more flexible and faster approach to retrieve list data. See https://pnp.github.io/pnpcore/using-the-sdk/listitems-intro.html#using-paging-with-listdataasstream for the docs on how to that

[2021-02-03 20:47] pkbullock opened #319 "Teams Calendar Support"
## Category

- [x] Feature request

## Describe the solution you'd like

- Add Teams Calendar Support
- Add tests to validate the feature
- Add documentation with sample usage code

Reference: https://docs.microsoft.com/en-us/graph/api/resources/event?view=graph-rest-1.0

## Contributing
We encourage and welcome contributions for the PnP Core SDK, if you are interested, please comment below to eng

[2021-02-04 17:37] jansenbe commented on #312
@bhishma : do you have an update to share?

[2021-02-05 00:51] bhishma commented on #312
I think Erwin is correct. Must be the proxy thing. I was able to execute same command outside of proxy. However I do get the XML response when I try to hit the endpoint with proxy too.

[2021-02-05 09:29] erwinvanhunen commented on #312
We would propose to exclude the SharePoint tenant from the proxy, but it unfortunately stops here for us as we cannot control your proxy.

[2021-02-09 09:15] jansenbe opened #324 "Evaluate the option to open up generic REST / Graph clients for SDK users to enable scenarios not foreseen via the SDK"
## Category

- [x] Feature request

## Describe the feature

See https://github.com/pnp/pnpcore/discussions/320 for some background.

[2021-02-11 14:07] raclettierer commented on #184
@jansenbe I think is cleaner, if we can pass only the relative url of the web. Because you can't access other lists outside of the current web
var list = ctx.Web.Lists.GetByRelativeUrl("/Lists/tenders/");

[2021-02-12 08:55] raclettierer opened #325 "Possibility to add directly a collection for NewFieldValueCollection"
## Category

- [x] Feature request

## Describe the feature

At the moment I can only add one newfieldtaxonomyvalue at a time .
`var taxonomyCollection = myField.NewFieldValueCollection();`
`taxonomyCollection.Values.Add(myField.NewFieldTaxonomyValue(new Guid("108b34b1-87af-452d-be13-881a29477965", "Dutch")));`
`taxonomyCollection.Values.Add(myField.NewFieldTaxonomyValue(new Guid("8246e3c1-19ea-4b

[2021-02-12 09:33] raclettierer opened #326 "Extend IListItem with Folder Property"
## Category

- [x] Feature request

## Describe the feature

After adding an Item under a folder as subfolder (Not in a document library). I need the reference to these folder object

` IListItem item = list.Items.Add(values, folderUrl, FileSystemObjectType.Folder);`

My old code with csom:
`var itemFolder = item.Folder;`
`ctx.Load(itemFolder );`
`ctx.ExecuteQueryRetry();`

## Describe the solutio

[2021-02-12 10:20] jansenbe commented on #300
Waiting for the refactoring @PaoloPia is working on as this will further align the behavior between Core SDK and CSOM

[2021-02-12 10:24] jansenbe commented on #325
Good suggestion @raclettierer

[2021-02-12 11:24] jansenbe commented on #325
Additional constructors have been added on NewFieldValueCollection, they'll be usable as of tomorrow's nightly build

[2021-02-12 11:24] #325 closed

[2021-02-12 14:27] jansenbe commented on #326
@raclettierer , tomorrow you'll be able to use these new methods on an IListItem:

[code]

[2021-02-12 14:27] #326 closed

[2021-02-13 06:50] raclettierer opened #328 "Add Listitem as folder in root - SharePoint REST error"
## Category

- [x] Bug

## Describe the bug

If I want to add a item as folder in the root of a List with following code, i get an error.

` IListItem item = list.Items.Add(values, string.Empty, FileSystemObjectType.Folder);`

After debugging the pnpn.core solution I found out, that they send an slash too much like :
`https://xxx.sharepoint.com/sites/xxx/lists/myList/`
expected from SharePoint Res

[2021-02-13 08:17] raclettierer opened #329 "Error when add a Listitem in a Library"
## Category

- [x] Bug

## Describe the bug

When I try to add a folder in a doclib with Items.Add the underline url is wrong.
They concat it fix with **/lists/**, but a library has no **list** in the url

## Steps to reproduce

`docList.Items.Add(valuesDocFolder, string.Empty, FileSystemObjectType.Folder);`

## Expected behavior

These trick with a fix /lists/ not realy work in all cases !

` $"{

[2021-02-13 08:21] raclettierer commented on #326
Perfect!

[2021-02-13 08:24] raclettierer commented on #325
work fine. thank you

[2021-02-14 08:48] jansenbe commented on #329
Thanks for reporting this one @raclettierer , now fixed

[2021-02-14 08:48] #329 closed

[2021-02-14 08:51] jansenbe commented on #328
@raclettierer : you can use AddListFolderAsync to add a folder.

[code]

[2021-02-14 19:53] jansenbe commented on #328
@raclettierer : Also enabled your code as that should also work.

[2021-02-14 19:53] #328 closed

[2021-02-15 07:34] raclettierer commented on #329
Not working as expected. I think there are more to do behind

Error:
{
HttpResponseCode: 500
Code: Microsoft.SharePoint.SPException
Message: Invalid item data -- missing FileRef.
ClientRequestId:
}

My code in CSOM looks like follow: Create a Folder in a Folder in a library with a specific contenttype an additional metadata at ones.

            var docList = ctx.Web.GetListByUrl(docUrl);

[2021-02-15 08:39] jansenbe commented on #329
Ah..you're right. I've missed this one as I did test with offline test data when doing my last changes. Have this fixed now, but before committing I'm going to centralize the code that translates list metadata into serverrelativeurl and vice versa is a separate class so I can more easily write test cases for it

[2021-02-20 04:27] VishalMadhvani commented on #324
This would be useful to have. In my case, I needed a Graph client before having a group or site to connect to with PnPContext.
Ended up making use of the AuthenticationProviderFactory.
[code]

[2021-02-20 12:45] matthiasirx opened #333 "Get-PnPPage always uses first page library"
## Category

- [x] Bug

## Describe the bug

In a site with multiple page libraries, all page related cmdlets (Get-PnpPage, Export-PnPPage, ...) always use the (alphabetically?) first library. I was able to trace this back to this commit: https://github.com/pnp/pnpcore/commit/dd43f2fa1943495449c0e517419666cc5049e45d

In my case I have a page library "Classic Pages" and the default "Site Pages".
`G

[2021-02-21 12:22] jansenbe commented on #333
@matthiasirx : the modern page API only supports modern pages and modern pages only live in a single SitePages library per site. I think you're referring to classic pages (wiki, web part, publishing). You can consider modernizing these classic pages into modern pages, see https://aka.ms/sharepoint/modernization/pages

[2021-02-21 12:49] matthiasirx commented on #333
@jansenbe Indeed the second library is for classic wiki pages, which cannot be converted for the time being. But with those two page libraries within the same site, the pages api selects the wrong library, so I can't use the Page cmdlets anymore. Add-PnPPage even creates the pages in the wrong library and then fails with an error afterwards.

[2021-02-22 07:38] jansenbe commented on #333
@matthiasirx : you're right, the wiki page library and site pages library are of the same type, so having a wiki page library might result in the modern page API picking the wrong library. Flagged as bug which I'll tackle once we're done with a fairly big refactoring

[2021-02-23 15:48] jimmywim opened #335 "ListItem: Add RoleAssignment collection"
## Category

- [x] Domain model extension

## Describe the domain model extension

Get ListItemAllFields.RoleAssignments

### Model

Model: ListItem
Properties: RoleAssignments

### APIs

API : https://<tenant>.sharepoint.com/sites/<site>/_api/web/lists(guid'<listId>')/item(<ItemId>)/roleAssignments

### Additional Information

I've made a start on this - but I'd appreciate some help.

I've wired

[2021-02-26 00:18] ishaisagi opened #339 "[BUG] - Add-PnPPage : "Object reference not set to an instance of an object." if page name has a space."
### Reporting an Issue or Missing Feature
running the following command results in a powershell error, but the page is created and cannot be opened (NoComponentId error)
**Add-PnPPage -Name "test page.aspx"**

### Expected behavior
the page should be created without issues,

### Actual behavior
Add-PnPPage : Object reference not set to an instance of an object.
At line:1 char:1
+ Add-PnPPage -Name

[2021-02-27 09:38] jansenbe commented on #333
@matthiasirx : just fixed this issue, next nightly should correctly identify the site pages library

[2021-02-27 09:38] #333 closed

[2021-03-01 10:49] jansenbe commented on #339
Fixed, will be part of the next nightly release

[2021-03-01 10:49] #339 closed

[2021-03-02 08:31] jansenbe commented on #335
@jimmywim , apologies for the late response, been quite hectic weeks. Would you have time for a quick call to run over things, it's probably easier to explain via a call than via writing, especially since we did a quite big internal refactoring last week and still need to update contributor docs

[2021-03-02 09:28] jimmywim commented on #335
Hi @jansenbe Sure, how do I get in touch?

[2021-03-02 09:50] jansenbe commented on #335
@jimmywim : can you send me an email on bjansen@microsoft.com, we'll take it from there

[2021-03-04 10:48] jansenbe commented on #335
Closing this issue now that we've talked

[2021-03-04 10:48] #335 closed

[2021-03-08 10:30] adzero opened #408 "[BUG] Get-PnPGroupPermissions: Object reference not set to an instance of an object."
### Reporting an Issue
Get-PnPGroupPermissions raises "Object reference not set to an instance of an object" exception when using existing group title as Identity.

### Expected behavior
Expecting to get permissions for a group identified by its title.

### Actual behavior
Command raises a NullReferenceException when specifying a group name (existing or not).
Notice that no exception occurs when p

[2021-03-09 11:06] czullu opened #346 "Pagefiles with space not supported"
## Category

- [x] Bug

## Describe the bug
In LoadPageAsync the NormalizePageName does replace spaces and the CAML Query does not search for both variants which leads to the issue, that pages with file names like "my topics.aspx" want be found anymore. As it's true that the ui does create files where the space is replaced users or code still can lead to situations where the actual filename is exa

[2021-03-09 17:56] jansenbe commented on #346
@czullu : fixed this, we're not anymore updating the passed name when loading pages....only when saving a page the provided page name might be updated. The save methods now return the used name (after possible updating).

[2021-03-09 17:56] #346 closed

[2021-03-09 19:24] czullu commented on #346
@jansenbe thank you for the quick fix. Changing name on save could break ApplyTemplate as well since you might have a link to a page like  {pageuniqueid:[siterelativepath]} or the tokenized url {site}/SitePages/My Page.aspx which can not be resolved.
Just as a though.

[2021-03-09 22:51] jansenbe commented on #346
Good point @czullu , will check that

[2021-03-10 08:35] jansenbe commented on #68
Closed as we're not using Graph anymore for list queries

[2021-03-10 08:35] #68 closed

[2021-03-10 08:36] jansenbe commented on #140
Complexity outweighs the benefits here, closing

[2021-03-10 08:36] #140 closed

[2021-03-10 10:37] #298 closed

[2021-03-10 10:45] mgwojciech commented on #298
Thanks! That was fun :)

[2021-03-10 21:34] pkbullock commented on #210
Just for info -  In message centre - MC235978 - "As part of this configuration change, users who run queries using the StartRow parameter (at rest API) with values exceeding 50,000 will be throttled. All queries using StartRow (< 50,000) - will not be impacted."

[2021-03-10 21:34] jimmywim commented on #210
One thought, that aligns with the philosophy of one public API calling SP REST or Graph where necessary, is a single entrypoint for a search call that can do either Graph or SharePoint - but the request objects and response body schemas are drastically different, including how a request is built depending on if you're searching mail, calendar, SP or external items....

Might be worth, in which cas

[2021-03-10 23:38] pkbullock opened #351 "Teams Chat Messages not working..."
## Category

- [x] Bug

## Describe the bug

Teams Chat messages does not work - the code relies on some internal objects that is not exposed to the apps.
e.g. example in docs - https://pnp.github.io/pnpcore/using-the-sdk/teams-channel-chat.html#adding-chat-messages-with-cards

The TeamChatMessageAttachment class and its collection is internal. Will need make some changes to implementation.

Worki

[2021-03-12 14:09] mpiederiet opened #352 "Title and Description are not exported as part of a PNP template (WebSettings section)"
## Category

- [x] Bug

## Describe the bug

A Sharepoint site with a title and description never seems to get exported to the PNP template, regardless of chosen configuration(s) and handlers.

## Steps to reproduce

1. Create a new Sharepoint site
2. Edit the title / description
3. Extract an XML template `Get-PnPSiteTemplate -Handlers WebSettings -Connection $SourceConnection -force -out 'test.x

[2021-03-15 08:21] jansenbe commented on #351
Thanks @pkbullock ! Closing this one now that I've merged your change

[2021-03-15 08:21] #351 closed

[2021-03-15 08:48] jansenbe opened #358 "Enable batching of csom requests"
## Category

Now that all the CSOM requests follow the new request model it becomes possible to combine multiple CSOM requests into a single server call (=batch)

[2021-03-16 15:25] pINKmUNster opened #360 "EnsureFolderAsync troubles"
## Category

- [x] Bug

## Describe the bug

I'm trying to use `await folder.EnsureFolderAsync` to create nested folder on the fly before adding files in it.
File are not upload in the good folder.

## Steps to reproduce

You can reproduce with this code.

I'm trying  to upload in list with folder in it.
/MyList/Daily/Today is working
/MyList/Test/Test not working
/MyList/Weekly/Test not working a

[2021-03-16 17:49] jansenbe commented on #360
@pINKmUNster : Think you want to add the files in the sub folder, so you should use `await subfolder.Files.AddAsync(fileName, stream);`

[2021-03-16 18:54] pINKmUNster commented on #360
Oups sorry , it was wrong copy paste, the following line was from another method.
`await folder.Files.AddAsync(fileName, stream);`

[2021-03-16 19:00] pINKmUNster commented on #360
This is my full code

folderName can be :

-  /Daily/Today
-  /Test/Test
- /Weekly/Test

`public async Task AddFileToSubfolder(Guid libraryId, string folderName, string fileName, Stream stream)
        {
            using var context = await _pnpContext.GetContextAsync();
            var folder = (await context.Web.Lists.GetByIdAsync(libraryId, p => p.RootFolder)).RootFolder;
            var suby

[2021-03-17 14:02] jansenbe commented on #360
Your code also works for me...

[code]

[2021-03-17 16:51] pINKmUNster commented on #360
Yes i work fine if you tried to upload one file in one folder.
It's gone wrong if you try to upload XYZ.doc to Test/Test  and after upload ABC.doc to Test/Test .

When i tried my code, i have this :
Test
-> ABC.doc
-> Test
        -> XYZ.doc

But it's must be :
Test
-> Test
        -> XYZ.doc
        -> ABC.doc

[2021-03-17 16:58] cpercarb opened #362 "Internal Null Reference error while updating Taxonomy Field"
## Category

- [x] Bug

## Describe the bug

I am simply trying to update a taxonomy field value within a page list item. The code pasted below works fine for me except when the item has another multiple taxonomy field with a non empty value. In this case I get an internal null reference while trying to update the item.
I have also seen that apparently it is not related to the type of field I try

[2021-03-17 17:37] jansenbe commented on #362
Thx for reporting this @cpercarb , we'll build a test case and try to reproduce and fix. So the issues appears with mixing a taxonomy field with a multi taxonomy field? Can you try if using a SystemUpdate() instead of Update() also results in an error?

[2021-03-17 18:03] jansenbe commented on #360
@pINKmUNster : below approach adds the 3 files in the right folder:

[code]

Using your code however exposed an issue with the EnsureFolderAsync() method, it did not work when ran on an existing folder.  I did not get the same behavior you saw, but adding multiple documents in the same folder failed due to this. I've just pushed a fix (https://github.com/pnp/pnpcore/commit/e1947c191e74189a7e954977

[2021-03-17 18:12] jansenbe commented on #362
Also see https://github.com/pnp/pnpcore/blob/dev/src/sdk/PnP.Core.Test/SharePoint/ListItemTests.cs#L1599 for a test case that uses a regular taxonomy field with a multi-value taxonomy field.

[2021-03-17 22:04] pkbullock opened #363 "Sample: Explore Power Platform connector sample and PnP Core SDK"
## Category

- [x] Feature request

## Describe the feature

Explore building a sample that is a custom Power Platform/Logic Apps connector to use PnP Core SDK in combination. This is just an idea, I don't know much about connectors so serves much of a learning piece for myself.

It maybe this is just a template for others building custom connectors.

## Describe the solution you'd like

[2021-03-18 08:22] pINKmUNster commented on #360
@jansenbe i try with the nightly release and it works as expected. 👍🏻
All my file are upload in the correct folder.

Thank a lot, you rock !!

[2021-03-18 08:48] #360 closed

[2021-03-18 09:35] cpercarb commented on #362
Thank you @jansenbe for your quick response. Yes you are right. If I try with SystemUpdate() it is working fine and is setting the values, but every time I try normal Update() or UpdateAsync() methods, I still receive the error.

Just to point one thing, it is happening not only when i mix taxonomy filed with multi taxonomy, it is happening to me always that a listitem has a multitaxonomy field wi

[2021-03-18 13:28] BraunJonathan opened #364 "Unresolved Tokens found in API Calls when requesting team tabs"
## Category

- [x] Bug

## Describe the bug

When i try to iterate on team tabs for a channel, i got the following error :
System.Private.CoreLib: Exception while executing function: DeletePixChannels. PnP.Core: Unresolved tokens found in API call teams/4bf9cb9d-3cf4-4b54-b18b-ca541de58888/channels/19:293ca8bd34df422b8642372059e57eb7@thread.tacv2/tabs/{GraphId}.
![image](https://user-images.github

[2021-03-24 10:52] jansenbe commented on #364
Thx for reporting this @BraunJonathan , we'll have a look and see if this can be fixed.

[2021-03-24 10:54] jansenbe commented on #362
Hi @cpercarb ,

Did you manage to get the scenario working based upon the unit test or do you still have an issue when using Update()?

[2021-03-24 11:40] djmrky opened #366 "Can't get any list items"
I can't seem to get any list items from any list with PnP SDK.
The result is always null, either by getting an item by Id or getting all items.

I'm using code like this
https://pnp.github.io/pnpcore/using-the-sdk/listitems-intro.html#getting-all-list-items

I get the list itself correctly and can see all properties, but not the list items.
I'm trying this in the console app and I'm using the "int

[2021-03-24 12:12] djmrky commented on #366
Sorry, I didn't have the delegated permissions in Azure app

[2021-03-24 12:12] #366 closed

[2021-03-24 18:58] jansenbe commented on #358
implemented

[2021-03-24 18:58] #358 closed

[2021-03-25 13:10] kentlhastings opened #367 "Cannot perform BreakRoleInheritance on a SP.ListItem"
## Category

- [x] Bug

## Describe the bug

When calling BreakRoleInheritance, the resulting api call string does not begin with the site prefix, it begins with "_api/".  While in Task<Batch> RequestAsync, we get the entityInfo for the request. Inside EntityInfo.GetStaticClassInfo, the type "SP.ListItem" that is retrieved from the cache has its SharepointType property set to null.

Because of thi

[2021-03-25 13:24] jansenbe commented on #367
Thanks for logging this @kentlhastings , I'll have a look

[2021-03-25 17:25] jansenbe commented on #367
I've written a test that reproduces the issue...next stop, building a fix :-)

[2021-03-25 17:27] kentlhastings commented on #367
Thanks Bert! You’re the man!

On Thu, Mar 25, 2021 at 1:26 PM Bert Jansen ***@***.***>
wrote:

[2021-03-25 19:06] jansenbe commented on #367
@kentlhastings : fix is in, please test with tomorrow's nightly build. If the problem still persists, then just re-open the issue.

Notes:
- here the test case https://github.com/pnp/pnpcore/blob/dev/src/sdk/PnP.Core.Test/Security/ListItemSecurityTests.cs#L70
- In your code you call Update...not really needed in case of BreakRoleInheritance

[2021-03-25 19:06] #367 closed

[2021-03-25 19:11] jansenbe commented on #364
@BraunJonathan : AsRequested() is needed here as otherwise we try to load data from the server. When you want to delete the tabs you should still be able to use AsRequested() in the foreach that deletes the tabs.

[2021-03-29 08:01] jansenbe commented on #211
Thanks @pkbullock ! Another feature done 💪🎉

[2021-03-29 09:08] #211 closed

[2021-03-29 09:24] jansenbe commented on #364
Closing as per design

[2021-03-29 09:24] #364 closed

[2021-03-30 10:09] moudhafersalhi opened #379 "PNP Section type TwoColumnLeftVerticalSection and TwoColumnRightVerticalSection inverted"
Hi all,
i was struggling with provisionning the homepage of a communication site.
The generated page had always the wrong section.
It turned out that the provisionning will always create the opposite(between TwoColumnRightVerticalSection and TwoColumnLeftVerticalSection).

`<pnp:Section Order="1" Type="TwoColumnLeftVerticalSection" VerticalSectionEmphasis="Neutral">`
this will generate this :
`PS

[2021-03-31 09:27] jansenbe commented on #362
@cpercarb : are you still facing the issue with the update() method? Did the above recommendations help?

[2021-04-01 20:12] YannickRe opened #381 "Page.cs SaveAsync fails on a big SitePages list"
## Category

- [x] Bug

## Describe the bug
I use PnP Provisioning to create Pages in the SitePages library. It currently fails with a nullreference exception, on my production sitecollection that has more than 5000 items in there.
Same code runs on a site collection with less files in the library, all works.

## Steps to reproduce
1. Have a SitePages list with >5000 items (mine has 5950)
2. Run a

[2021-04-01 20:29] teofilosalgado opened #389 "[BUG] Get-PnPSiteTemplate Error While Generating Template"
### Reporting an Issue or Missing Feature
The `Get-PnPSiteTemplate` is failing to create a template for a given site. I've tested the site beforehand with `Test-PnPSite` and no errors were found.

### Expected behavior
The `Get-PnPSiteTemplate` command should create an XML template representing the given site.

### Actual behavior
The command is returning the following error:
[code]
After running

[2021-04-02 07:41] jansenbe commented on #381
Good catch @YannickRe , I'll have a look

[2021-04-02 22:46] YannickRe commented on #381
@jansenbe For sure, it is now broken anyways 😅. Looking forward to it, thank you!

[2021-04-05 09:42] jansenbe commented on #381
@YannickRe : just push a fix that eliminates the CAML query in the EnsurePageListItemAsync method, this can help with adding a page. However the logic to load a page still uses the CAML query (as going via file.ListItemAllFields does not load all the needed list properties), so that might still be a problem. Please give it a go and let me know

[2021-04-05 10:31] YannickRe commented on #381
@jansenbe Will the fix be loaded as part of the nightly build of PnP Framework? I will nog be able to test until tomorrow anyway, so that might be easier.

[2021-04-05 11:14] jansenbe commented on #381
Nightly build indeed

[2021-04-06 05:59] jansenbe commented on #324
Thanks for sharing this

[2021-04-06 07:52] YannickRe commented on #381
@jansenbe I tried it, but it now fails at
https://github.com/pnp/pnpframework/blob/69961d02fccc9ad5683bf1d499ebc3ebaa1cfd71/src/lib/PnP.Framework/Provisioning/ObjectHandlers/ObjectClientSidePages.cs#L343

Not sure if I already ran through your revised code branch, but this is a new one. That line also returns null (although the page exists), which in return throws a nullreference on the next line

[2021-04-06 10:23] jansenbe commented on #381
@YannickRe : kind of what I expected. As I don't have a large pages list handy would it be possible to send these 2 fiddler traces to me (bjansen@microsoft.com):

- A trace when you load the site pages library using the UI: want to see what query the UI issues in case of a very large library
- A trace of the failing provisioning

[2021-04-06 13:20] YannickRe commented on #381
@jansenbe You've got mail!

[2021-04-07 07:50] Kurbitz opened #388 "[BUG] Set-PNPGroupPermissions fails when assigning roles containing non-English characters."
### Reporting an Issue or Missing Feature
Reporting a bug.

### Expected behavior
Using `Set-PnpGroupPermission` I expect to be able to assign roles to groups, regardless of locale.

### Actual behavior
`Set-PnpGroupPermissions` seems to fail when assigning role definitions containing non-English characters.

When trying to add the equivalent of "Full Control" on a Swedish site:
![Screenshot_20210

[2021-04-07 14:56] 280237 opened #386 "[BUG] Get-PnPClientSidePage page does not exist"
Get-PnPClientSidePage is returning page does not exist error when called from an Azure function. The page I am trying to get is in a subfolder in Site Pages library.
I have added PnP.PowerShell='1.*' as a dependency in the app files and I am able to connect to SPO site using Connect-PnPOnline command.
Is this a (known) issue?

[2021-04-07 18:16] #381 closed

[2021-04-07 18:19] jansenbe commented on #381
@YannickRe : Your change was merged, all the tests did succeed. Thanks!

[2021-04-08 07:11] olemp commented on #300
@jansenbe Is it possible now or will it be possible at any time to get the underlying client context (for CSOM)? I'm looking for the GetChanges API on the lists, and it seems to be "missing" so far.

[2021-04-08 07:42] jansenbe opened #384 "@jansenbe Is it possible now or will it be possible at any time to get the underlying client context (for CSOM)? I'm looking for the [GetChanges API](https://github.com/pnp/pnpcore/issues/218) on the lists, and it seems to be "missing" so far."
@jansenbe Is it possible now or will it be possible at any time to get the underlying client context (for CSOM)? I'm looking for the [GetChanges API](https://github.com/pnp/pnpcore/issues/218) on the lists, and it seems to be "missing" so far.

_Originally posted by @olemp in https://github.com/pnp/pnpcore/issues/300#issuecomment-815511397_

[2021-04-08 07:48] olemp commented on #384
Cleared my comment in the other issue (#300), as it wasn't really related.

[2021-04-09 10:20] HeKr09 opened #387 "[BUG] Set-PnPPage with error when using section with full width"
### Reporting an Issue or Missing Feature
I am creating a page by several Add-PnPPage*-cmdlets. Afterwards I set the header image by using Set-PnPPage and I get an error because I am using a section with full width.

### Expected behavior
Set-PnPPage without an error when using a section with full width.

### Actual behavior
I am running the following code:
[code]

Afterwards I get the following e

[2021-04-09 18:45] rhdorneles commented on #389
Hi @teofilosalgado .

If you collect a fiddler probably you will see some 429 http status code. That means that your requests are being throttled (too many requests per second) by SharePoint.

PnP has a mechanism that keeps trying about 10 times... if SharePoint throttle 9-10 times PnP command will stop and throw an error.

So, check the Fiddler when reproducing the issue for 429 http code, probab

[2021-04-09 19:21] teofilosalgado commented on #389
@rhdorneles yeah, it definitely helped. Coincidently, I asked Microsoft Support for help a few minutes ago and they collected a fiddler from my computer. After analyzing it we've got the same status code you pointed out. My site is indeed very large (around 200GB currently). After some googling, I've stumbled upon [this](https://github.com/pnp/powershell/discussions/62) discussion so it seems to b

[2021-04-09 22:54] Adhanj opened #407 "Get-PnPGroupPermissions In Spanish Sub Site Return Error Message: Solicitud no válida."
### Reporting an Issue or Missing Feature
Issue

### Expected behavior
Get Permissions of groups

### Actual behavior
Error message : Solicitud no válida.
Message          : Solicitud no válida.
Stacktrace       :    at PnP.PowerShell.Commands.PnPSharePointCmdlet.ProcessRecord() in c:\PnPPowerShell\src\Commands\Base\PnPSharePointCmdlet.cs:line 91
                      at System.Management.Automati

[2021-04-15 06:51] jansenbe commented on #362
Closing per no additional feedback

[2021-04-15 06:51] #362 closed

[2021-04-15 07:02] jansenbe commented on #384
@olemp : there's a getchanges REST API, I'll have a look to get this implemented

[2021-04-15 13:54] dgtheninja opened #395 "PnPContextFactory.CreateAsync - KeyNotFoundException"
## Category

- [x] Bug

## Describe the bug

When trying to create a new PnPContext with the PnPContextFactory using an Azure AD App Identity where I have forgotten to assign permissions properly I get a System.Collections.Generic.KeyNotFoundException with the message "The given key was not present in the dictionary.".

## Steps to reproduce

1. Create an AAD app, with certificate for authenticati

[2021-04-15 17:11] jansenbe commented on #387
@HeKr09 : you would also need to add the "isFullWidth": true property as that's being checked to understand which first party and third party web parts support being used in a full width section.

[2021-04-15 17:28] jansenbe commented on #386
@280237 , @gautamdsheth , @veronicageek : this appeared to be an issue in the PagePipeBind class in PS. I've just pushed a fix, the next nightly should work.

[2021-04-15 17:28] #386 closed

[2021-04-15 18:20] jansenbe commented on #388
@Kurbitz : I've tried to this via a unit test in PnP Core SDK and the underlying query to return the role definitions is correctly encoded and does return the result:

[code]

Would it be possible to do a Fiddler trace and share that respective call to /_api/web/RoleDefinitions?

[2021-04-15 18:21] wonderplayer opened #396 "CAML query not adding fields"
## Category

- [x] Bug

## Describe the bug

I would like to get some list item fields by using CAML query, but the fields don't get returned to me, specifically, I'm trying to get FileRef and FileLeafRef fields for list item.
When I execute `await list.LoadItemsByCamlQueryAsync(query)` and iterate over item collection, then I see only these properties in `item.Values` collection:
![image](https:/

[2021-04-15 18:24] wonderplayer commented on #384
It would be great to have it as Microsoft suggests to use exactly this API to get changes after web hook event setup for SharePoint list 😊

[2021-04-15 18:28] jansenbe commented on #389
@teofilosalgado : There was an issue with working with pages in large pages libraries, the errors where slightly different but it might help to try again with a more recent nightly.

The error you showed can show-up in 2 cases I'm currently aware of:
- when you're using pages with additional controls in the page header: viva topic pages are such pages...I actually today fixed a bug for that
- we u

[2021-04-15 18:32] jansenbe commented on #396
@wonderplayer : Hmm...maybe try using FileLeafRef and FileDirRef...I use this in the Page API implementation and they work: https://github.com/pnp/pnpcore/blob/dev/src/sdk/PnP.Core/Model/SharePoint/Pages/Internal/Page.cs#L303

[2021-04-15 21:07] teofilosalgado commented on #389
Hi @jansenbe! So, I checked all of my pages and none of them contain 3rd party web parts or additional controls in their headers. Actually, most of my pages are just plain text with a few tables.
Currently, as a workaround, I decided to create a template for every single page of my website using `Export-PnPClientSidePage` and later on iterating through each .XML file publishing the templates with

[2021-04-16 05:28] wonderplayer commented on #396
Nope, didn't work. Included them _FileDirRef_ in the query as well and can't select any of them
![image](https://user-images.githubusercontent.com/15668343/114975188-7924d880-9e8c-11eb-9395-73610281e6f2.png)
Tried to include _FileLeafRef_ in `Where` element and query did filter results, but I didn't get _FileLeafRef_ back.
[code]

[2021-04-16 07:27] jansenbe commented on #396
Can you try with using LoadListDataAsStreamAsync() instead of LoadItemsByCamlQueryAsync()...different API but result will be the same. See https://pnp.github.io/pnpcore/using-the-sdk/listitems-intro.html#using-the-listdataasstream-approach for an example

[2021-04-16 07:37] jansenbe commented on #396
I just confirmed that LoadItemsByCamlQueryAsync() never returns these "system" properties, LoadListDataAsStreamAsync() however does.

[2021-04-16 07:50] wonderplayer commented on #396
It worked! This time I got a lot more values and also my custom properties:
[code]
Thank you, @jansenbe 😊

[2021-04-16 07:50] #396 closed

[2021-04-16 08:32] jansenbe commented on #389
@teofilosalgado : So when exporting page by page it works...while exporting all pages at once results in the mentioned error?

[2021-04-16 10:26] HeKr09 commented on #387
Sorry. Maybe I am to stupid. It did not work for me. Where do I have to paste this property?
Changed only at the "Add-PnPPageWebPart" at the WebPartProperties:
[code]
No I receive that error again:
[code]

[2021-04-16 12:21] teofilosalgado commented on #389
Yeah, exactly. Here is a snippet of my template extraction code:
[code]
And here is the script that applies the templates:
[code]

[2021-04-16 12:43] rhdorneles commented on #389
@jansenbe .
In the fiddler that @teofilosalgado collected during the error is clear that SharePoint online is throttling PnP requests. (HTTPS status 429). Probably is the quantity of requests per second, maybe because he has a huge site with many pages. I don’t think his site has an issue.

Is there a way to control in the PnP the quantity of requests per second? Maybe if it does less requests in

[2021-04-16 13:48] jansenbe commented on #387
I put an image web part in a full width section and this is the resulting json. Why don't you use the approach you've used before to add properties:

[code]

[code]

[2021-04-16 13:53] jansenbe commented on #389
@rhdorneles : PnP follows the throttling guidance and will back off when being throttled...that however can still result in failures if the throttle is persistent. We've no option to limit the amount of requests being made. As there's a workaround and the root cause is throttling there's no changes needed from the PnP side, so I'll close the issue.

[2021-04-16 13:53] #389 closed

[2021-04-18 13:52] wonderplayer opened #399 "Can't update list item"
## Category

- [x] Bug

## Describe the bug

Trying to update the list item that I got by ID.
If I follow the example provided [here](https://pnp.github.io/pnpcore/using-the-sdk/listitems-intro.html#updating-list-items), then it kinda works. One item didn't get its title updated, but the next ones did, so I guess there was another error (most likely Azure Function time out).
But, when I get list i

[2021-04-19 05:53] wonderplayer commented on #399
Noticed one interesting thing. I'm able to update the list item, when I'm getting it in the following way:
[code]
But when I get item by ID, I'm not able to update it. Maybe the item is missing some system properties if it is retrieved by ID?
I will compare which properties the item has and which properties are to be updated from both ways. Also, will compare with properties after adding item and

[2021-04-19 06:20] wonderplayer commented on #399
# Updating an item after GetByIDAsync
## List
List is Site Pages library
## Item properties
Item has following properties available:
[code]
NOTE: *Property1*, *Property_x0020_2*, *Landing_x0020_site_x0020_news* and *Site_x0020_news_x0020_flow_x0020_in_x0020_progress* are my custom properties, so ignore them.
## Properties for update
I'm trying to system update *Landing_x0020_site_x0020_news* and *

[2021-04-19 06:37] jansenbe commented on #399
Thanks for the detailed investigation @wonderplayer , I'll have a look

[2021-04-20 06:25] jansenbe opened #401 "Enable getting a site via a given hub site id"
See https://github.com/pnp/pnpcore/discussions/398

[2021-04-20 19:26] HeKr09 commented on #387
Okay it worked but I had to change the order to:
[code]
I removed the WebPartProperties from the Add-PnPPageWebPart and changed the order of Set-PnPPage. That worked for me.
Thank you.

[2021-04-20 19:26] #387 closed

[2021-04-21 11:34] jansenbe opened #405 "Split graph batches between beta/v1 instead of defaulting to beta if there's a single beta request in the batch"

[2021-04-27 10:51] pkbullock commented on #401
Happy to look at this one

[2021-04-27 13:19] pkbullock commented on #401
Done, let me know if you feel more work is needed on this issue.

[2021-04-28 18:04] seanix99 opened #413 "IListItem.GetFolder return Parent IFolder instead of the current folder"
## Category

- [x] Bug

## The IListItem.GetFolder return the parent folder of an item and not the current folder. If I use IListItem.IsFolder on an item, it return true. If I use IListItem.GetFolder on the same ListItem it return the Parent Folder instead of an IFolder representing the current ListItem. The actual code of IListItem.GetFolderAsync use the field FileDirRef, that is the url of the p

[2021-04-29 07:22] jansenbe commented on #401
Thanks @pkbullock , looks good!

[2021-04-29 07:22] #401 closed

[2021-04-29 08:00] jansenbe commented on #408
I've just fixed an issue with special characters in site names: https://bertonline.sharepoint.com/sites/prov-1/bäüößcc now can be used as a site URL. Will check if there's additional work needed for the group permissions

[2021-04-29 08:16] jansenbe commented on #408
@rom-1 / @adzero : I'm not able to repro the group name special character issue when the site url does **not** contain special chars. When the site name contains special there was an error, which will be fixed in the next nightly builds. Can you confirm the site url of the site's you see this issue on?

![image](https://user-images.githubusercontent.com/7451219/116521206-f3654c00-a8d3-11eb-978c-8a

[2021-04-29 08:19] jansenbe commented on #407
@Adhanj : a fix has been added for the special characters in the site urls (see issue #408 for more context). Please test again with the next nightly releases

[2021-04-29 08:21] jansenbe commented on #388
@Kurbitz : see #408 for more details. Should hopefully be fixed via the next nightly

[2021-04-29 08:23] jansenbe commented on #407
@Adhanj : please follow this issue via #408, closing this one.

[2021-04-29 08:23] #407 closed

[2021-04-29 08:23] jansenbe commented on #388
@Kurbitz  : please follow this issue via #408, closing this one.

[2021-04-29 08:23] #388 closed

[2021-04-29 08:37] jansenbe commented on #395
@dgtheninja : it seems to go wrong when we initialize the PnPContext, since the provided token lacks the needed permissions the call fails and somehow the returned error message cannot be deserialized resulting in this error. Thanks for reporting this, providing clear errors is indeed important to speed up troubleshooting.

[2021-04-29 09:15] jansenbe commented on #395
https://github.com/pnp/pnpcore/commit/5384e3925989eda73c1c060489b2c61a1a697126 implements a fix. Closing this issue now @dgtheninja .

[2021-04-29 09:15] #395 closed

[2021-04-29 09:47] jansenbe opened #414 "Implement cross site collection copy/move"
Current implementation supports copy/move inside the site collection, cross site collection requires using different APIs. See https://github.com/pnp/powershell/blob/dev/src/Commands/Utilities/CopyMover.cs for a sample implementation.

[2021-04-29 11:20] rom-1 commented on #408
@jansenbe The site url from my specific example does not contain a special character, it is: `https://contoso.sharepoint.com/sites/workspace/Suess/`
This is also the url I am connecting to using Connect-PnPOnline.

Screenshot using PnP.Powershell v1.5.0:
![2021-04-29_13h18_08](https://user-images.githubusercontent.com/37835829/116542997-9bd3da00-a8ed-11eb-9815-baae35ab69ac.png)

[2021-04-29 12:05] jansenbe commented on #408
@rom-1 : would it be possible to start Fiddler, then start PS and provide me a trace of the Get-PnPGroup and Get-PnPGroupPermissions calls. Feel free to send to bjansen@microsoft.com. This will help diagnose, the issue I've fixed today seems to be different.

Also give `Get-PnPPage -Identity h` a try on your site, should not error out.

[2021-04-29 14:21] rom-1 commented on #408
sure thing, just give me some time please. I am stuck in meetings today/tomorrow, and don't have a fiddler ready to use. Thanks for taking a look into this! :-)

[2021-04-29 14:29] rom-1 commented on #408
`Get-PnPPage -Identity h` throws an error on that subsite, but I have no idea if this is normal behaviour for the parameter "h"
![2021-04-29_16h24_35](https://user-images.githubusercontent.com/37835829/116566878-663bea80-a907-11eb-8ce7-34ab3a86bbe1.png)

[2021-04-30 06:56] jansenbe commented on #408
I asked the `get-pnppage` as that also uses PnP Core SDK under the covers...the fact that fails might indicate something in the site url as well. But let's wait for the Fiddler trace, in my lab I can uses sites/groups with special characters in them and things do work, so wondering why it's failing for you. Also please give it a try using the latest nightly build, version 1.5 has been out for a wh

[2021-04-30 07:29] rom-1 commented on #408
I tried it again using v1.5.29-nightly, same issue.
I sent the fiddler export a few minutes ago to your email address. This is an export for the 2 commands we have problems with (Get-PnPGroupPersmission, Get-PnPPage).

[2021-04-30 10:27] jansenbe commented on #408
@rom-1 : there's a difference in how the API call is encoded, need to figure out why...see below for details

`Get-PnPGroupPermissions "group äüöß"` results in `GET <site>/_api/Web/SiteGroups?$filter=(Title+eq+%27group+%c3%a4%c3%bc%c3%b6%c3%9f%27+and+LoginName+eq+%27group+%c3%a4%c3%bc%c3%b6%c3%9f%27)&$top=1` which works.

In the your case I see `GET <site>/_api/Web/SiteGroups?%24filter=(Title+eq+%

[2021-04-30 10:37] jansenbe commented on #408
So when using PS7 (.NET Core) this works...when using PS5 (.NET Framework) it fails....seems that there's a different encoding going on in .NET causing the problem. At least we're one step further now :-)

[2021-04-30 10:42] jansenbe commented on #408
![image](https://user-images.githubusercontent.com/7451219/116684644-7c05ea00-a9b1-11eb-944f-1d2c094a8f26.png)
 versus
![image](https://user-images.githubusercontent.com/7451219/116684706-8cb66000-a9b1-11eb-8079-dc8287559fbd.png)

[2021-04-30 17:21] jansenbe commented on #408
@rom-1 / @adzero  : I've just pushed a PnP Core SDK fix that handles the difference in encoding between .NET framework and .NET Core/.NET 5. Please try with tomorrow's nightly release and let me know how things go.

[2021-04-30 17:47] master455 opened #415 "Demo.AzureFunction Run Fails - Microsoft.Identity.Client: Value cannot be null. (Parameter 'certificate')"
## Category

- [x] Bug

I downloaded sample Demo.AzureFunction from [offical repository](https://github.com/pnp/pnpcore/tree/dev/samples/Demo.AzureFunction). I followed the steps to [configure application in AAD using PnP PowerShell](https://pnp.github.io/pnpcore/using-the-sdk/configuring%20authentication.html#configuring-the-application-in-azure-ad-1) (it was successful) and configure local.setti

[2021-04-30 18:28] jansenbe commented on #415
@master455 : What version of Azure Functions are you using? Seems as the thumbprint used to identify the certificate is not found, can you cross check that one?

[2021-04-30 18:37] master455 commented on #415
@jansenbe Hello thanks for reply, I'm using Azure Function version .Net Core 3.1 (by default in example),  I access to AAD application => Certificates & secrets and verify Thumbprint code, it's similar like 2C51643GH98DTE4B37TG231C546B44554166CF7E. I configure it in local.settings.json:

"CertificateThumbPrint": "2C51643GH98DTE4B37TG231C546B44554166CF7E",
"WEBSITE_LOAD_CERTIFICATES": "2C51643GH98D

[2021-04-30 20:00] jansenbe commented on #415
Are you testing on your local machine or have you deployed the Azure function?

[2021-04-30 20:10] master455 commented on #415
I am testing on my local machine; do I need make any additional configuration?

[2021-04-30 21:41] jansenbe commented on #415
Which cert store did you load the cert in? The local code needs to be able to read it

[2021-05-01 04:42] master455 commented on #415
Thanks for clue, I understand better now.. I need load .pfx in certificate store and later reference it. Maybe could be obvius, but may a good option specify in official documentation when generate certificate with powershell.

[2021-05-01 04:43] #415 closed

[2021-05-03 09:30] rom-1 commented on #408
@jansenbe Tried with v1.5.32-nightly, and the cmdlets "Set-pnpgrouppermissions" and "Get-pnpgrouppersmission" seem to work flawless now. `Get-PnPPage -Identity h` still throws the error "Object reference not set to an instance of an object.", but this might be normal as I don't know the expected output of this command.

![2021-05-03_11h29_53](https://user-images.githubusercontent.com/37835829/1168

[2021-05-03 10:46] jansenbe commented on #408
Issue has been resolved

[2021-05-03 10:46] #408 closed

[2021-05-03 17:35] jansenbe commented on #384
@olemp : tomorrows nightly of PnP Framework has support for translating a PnP Core SDK context into a SharePoint ClientContext. See https://pnp.github.io/pnpcore/using-the-sdk/basics-pnpframework.html for the docs. The implementation of the GetChanges API will come, but this can possibly already unblock you.

[2021-05-03 17:53] jansenbe commented on #324
@VishalMadhvani : see also https://pnp.github.io/pnpcore/using-the-sdk/basics-graphsdk.html for our documentation on Graph SDK interop we've just added.

[2021-05-04 06:51] jansenbe opened #417 "Add support for setting/reading listitem level retentiontags (= policy labels)"
See https://s-kainet.github.io/sp-rest-explorer/#/entity/SP.ListItem/func/SetComplianceTag, https://www.rlvision.com/blog/setting-sharepoint-retention-labels-programmatically/ and https://www.c-sharpcorner.com/blogs/add-retention-label-and-retention-start-date-to-sharepoint-document-using-csom for some inspiration

[2021-05-04 16:57] DaleyKD commented on #384
If you guys are talking about the ChangeLog API from the old CSOM stuff, this is a HUGE need for our current product.  Looking forward to this.

[2021-05-04 17:16] DaleyKD opened #419 "IListItem Content Type"
## Category

- [x] Domain model extension

## Describe the domain model extension
Get list item's content type + content type ID

### Model
**Model**: IListItem
**Properties**: ContentTypeId, ContentType

### APIs
API: `https://graph.microsoft.com/v1.0/sites/<siteId>/lists/<listId>/items/<itemId>`
and
API: `https://graph.microsoft.com/v1.0/sites/<siteId>/lists/<listId>/items/<itemId>/contentType`

[2021-05-04 17:18] DaleyKD commented on #169
+1, please.  We would at least like to be able to enable IRM.

[2021-05-04 17:35] DaleyKD opened #420 "IListItem FileSystemObjectType and File / IsFile()"
## Category

- [x] Domain model extension

## Describe the domain model extension
We frequently will load `IListItemCollection` and `.Include()` (sorry for old CSOM) the following:

[code]

We then condition on the `FileSystemObjectType` to determine if it is a Folder or File (or neither).

### Model
**Model**: IListItem
**Properties**: File, FileSystemObjectType

### APIs
API: `https://<tenant>.s

[2021-05-04 18:43] DaleyKD opened #421 "System.NotSupportedException on IListCollection .Where"
## Category

- [x] Bug

## Describe the bug
Trying to filter IListCollection with a .Where() clause, I get the following exception:
[code]

## Steps to reproduce
[code]

## Expected behavior
Unless it's just not possible to do more than one condition, I'd expect a Where clause to work almost identically to the old CSOM style.

## Environment details (*development & target environment*)
- **SDK ver

[2021-05-04 19:04] DaleyKD commented on #421
Ah, it appears that you have to be verbose with the query.  The following works:
[code]

[2021-05-04 19:25] jansenbe commented on #421
@DaleyKD : indeed, we've our own LINQ provider that translates the LINQ expression into a REST/Graph query. It can still use some support for more complex expression handling.

[2021-05-04 19:25] #421 closed

[2021-05-04 19:27] jansenbe commented on #384
@DaleyKD : that's indeed the plan.

[2021-05-04 21:32] DaleyKD opened #422 "IFile FileSize (or Length)"
## Category

- [x] Domain model extension

## Describe the domain model extension
In CSOM, [Microsoft.SharePoint.Client.File](https://docs.microsoft.com/en-us/previous-versions/office/sharepoint-csom/jj167343(v=office.15)) has a property named `Length`.

### Model

Model: IFile
Properties: Length (or FileSize/Size)

### APIs
API: `https://<tenant>.sharepoint.com/sites/<site>/_api/web/lists(guid'<l

[2021-05-04 21:37] DaleyKD commented on #419
Right now, to get the name of the ContentType, I'm having to rely on the entire `Values` bag and use "ContentType".  I'd rather be able to load this explicitly.

[2021-05-04 21:39] DaleyKD commented on #420
Currently having to make an extra call using: `await context.Web.GetFileByServerRelativeUrlAsync(fileUri);`  Since we get a bunch of list items in a single call, having to do this seems expensive (one additional call per item... that hits REST a lot).

[2021-05-05 01:33] DaleyKD commented on #396
I just noticed, based on the images here, that `LoadItemsByCamlQueryAsync` returns `FileSystemObjectType`, but `LoadListDataAsStreamAsync` returns `FSObjType`.  Interesting.

[2021-05-05 01:48] DaleyKD opened #423 "FR: Additional Load Properties by Default"
## Category

- [x] Feature request

## Describe the feature
Currently, when you use the `PnPContextFactory` to create a new `PnPContext`, it calls two endpoints: one for site, and one for web.

The site loads the `ID` and `GroupID`. For my needs, I need the `Url` property, too.  This forces yet a third call, just for an additional, always needed property.

## Describe the solution you'd like
Ideal

[2021-05-05 08:51] plamber opened #424 "Where is the GetHubSiteData method located?"
## Category

- [x] Bug

## Describe the bug
Hello,
I am not sure if this is a bug or just me not able to find the required information. I checked [this](https://pnp.github.io/pnpcore/using-the-sdk/sites-hubsites.html) link explaining that you can retrieve the Hubsite information (URL and Title) by using this code snippet.

[code]

## Steps to reproduce
- asp.net core solution with PnP.Core (1.1.0)

[2021-05-05 10:13] jansenbe commented on #424
@plamber : that's in our nightly releases, will be part of 1.2 once we ship it.

[2021-05-05 10:29] plamber commented on #424
When is the estimated time for that?

By chance can I also use that release?

[2021-05-05 13:58] DaleyKD commented on #424
@plamber : https://www.nuget.org/packages/PnP.Core/1.1.34-nightly  (set your NuGet to look for prereleases)

[2021-05-05 14:03] plamber commented on #424
@DaleyKD: awesome. Thank you. Will give it a try

[2021-05-05 14:03] #424 closed

[2021-05-05 18:12] DaleyKD opened #425 "IContentType Fields"
## Category

- [x] Domain model extension

## Describe the domain model extension
I appreciate that `IContentType` has `IFieldLinkCollection` on it. However, I'd do better with `IFieldCollection` on it, too.

### Model

**Model**: IContentType
**Properties**: `public IFieldCollection Fields { get; set; }`

### APIs
API: `https://<tenant>.sharepoint.com/sites/<site>/_api/web/lists(guid'<listId>')/c

[2021-05-05 18:25] DaleyKD opened #426 "HttpResponseCode: 400 - No retry"
## Category

- [x] Bug

## Describe the bug
Sometimes, a 400 is thrown by SPO, and no retry is attempted.

[code]

## Steps to reproduce
Can't easily reproduce.  I assume it's good ol' throttling from SPO, and how it seems that it's not always a 429 they send (we've seen others).

I'm iterating 257 list items in a document library, and for each, I have to call `GetFileByServerRelativeUrlAsync` (wh

[2021-05-05 19:33] jansenbe commented on #426
@DaleyKD : that seems to be the same as this: https://github.com/pnp/pnpframework/issues/292. SharePoint is sometimes returning 400 errors or ssl errors where it shouldn't.

[2021-05-06 03:47] derhallim opened #427 "Get-PnPHubSite doesn't retrieve all sites' urls"
## Category

- [x] Bug

## Describe the bug

I am provisioning sites using PnP provisioning template, the site XML looks like this:

[code]

I use this to deploy multiple sites the same way. When I then run `Get-PnPHubSite`  I get the sites, but the Url is null. I noticed that if I unregister the hub site and register it again in the browser, it works fine.

When running `Get-PnPSite` I can see th

[2021-05-06 13:41] DaleyKD commented on #426
@jansenbe - Thanks for the heads up on that.  This definitely lines up with some stuff we've seen in our production code (not even in PnP.Core, just some good ol' fashioned old CSOM code).

[2021-05-06 14:14] DaleyKD commented on #420
Playing around with REST right now, it appears that the following works:
`https://<tenant>.sharepoint.com/sites/<site>/_api/web/lists(guid'<listId>')/items(<listItemId>)?$select=id,FileSystemObjectType`

Side note: not sure how this would work with using `LoadListDataAsStreamAsync`

[2021-05-06 14:27] DaleyKD opened #428 "IListItem DisplayName + UniqueId"
## Category

- [x] Domain model extension

## Describe the domain model extension
Specifically, I need DisplayName and UniqueId, but really, I'd love to see `IListItem` fleshed out a bit more, like: https://github.com/pnp/pnpcore/blob/568a61199e11ba640d1fe91ade980225ea5c7be9/src/generated/SP/Internal/ListItem.cs

### Model
**Model**: IListItem
**Properties**: DisplayName, UniqueId

The interesting

[2021-05-07 21:15] DaleyKD commented on #422
I'm hoping to be able to submit a PR at some point, but I'm fighting being able to get the unit tests to work.  I can't seem to `Register-PnPManagementShellAccess`.  https://github.com/pnp/powershell/issues/663

[2021-05-08 08:37] jansenbe commented on #422
@DaleyKD :  really appreciate you wanne help out :-) If you're in GCC then please follow what was mentioned in the other PS issue. Once you've the app setup you need to update the test configuration files to use it...that would then be something like this:

[code]

Alternatively you can also sign up for a free developer tenant via https://developer.microsoft.com/en-us/microsoft-365/dev-program and

[2021-05-08 08:48] quantrpeter opened #432 "Can't run"
Hi all
    After i login via browse, it throws exception, please help

[code]

thanks
Peter

[2021-05-08 09:00] jansenbe commented on #432
@quantrpeter : can you please provide more context on what you're doing? With the provided input it's quite hard to provide accurate advice.

Here's some demo recordings that might help: https://www.youtube.com/watch?v=zifXYUlp3i0&list=PLR9nK3mnD-OWSbg0o9a7mx_E7s2u7h_o2&index=15&t=11s, https://www.youtube.com/watch?v=ozqN5-Yh5cM and https://www.youtube.com/watch?v=2ZOnWp9mqY0

[2021-05-08 10:15] quantrpeter opened #433 "Build provision engine"
Hi All
    I have tried the pnp provision engine by powershell, it is not stable. Same command and template, when i run second time, it crash. It behave so randomly. So we decide to build our own provision engine.
  1. We should use pnp core sdk instead of pnp framework, right? Because Eventually pnp framework will merge into pnp core sdk.
  2. Should we just use csom, any advantage we can take if

[2021-05-10 06:34] ollimenzel commented on #312
I'm having the same problem, but I'm not sitting behind a proxy. I tried it with two different tenants, but it's failing for both.
Can someone please look at this agian?!

[2021-05-10 08:30] czullu opened #434 "CreatePage ListItemUpdate Fails when BannerImageUrl is longer then 255 char"
## Category

- [x] Bug

## Describe the bug

If i try to create a ClientSide Page with a BannerImageUrl exceeding 255 Char i will get an Error "Ein URL-Feld enthält unzulässige Daten. Überprüfen Sie die Eingabe, und versuchen Sie es erneut." (sorry for German Message - translated "A URL field contains invalid data. Check the input and try again.") when calling

await PageListItem.SystemUpdateAsync

[2021-05-10 10:04] Dipali-arup opened #435 "System.UnauthorizedAccessException: Access denied. You do not have permission to perform this action or access this resource"
## Category

- [x] Bug

## Describe the bug

I'm interested to provision Modern Team Site with O365 Group via Azure Function.
Since SharePointPnPCoreOnline is depricated, I have added PnP Framework in my solution.

When ran code, I'm getting Unautorised Exception.

Surprising thing is, when I use same credentials to provision Modern Team Site with O365 Group via SharePointPnPCoreOnline then it suc

[2021-05-10 10:19] #435 closed

[2021-05-10 12:52] jansenbe commented on #420
Implemented. See https://github.com/pnp/pnpcore/commit/f4da869d751af29602d47b988dc19a2222367cc7

[2021-05-10 13:04] DaleyKD commented on #420
@jansenbe - I appreciate the added functions, but this doesn't fix my actual need.

When loading an `IListItemCollection`, I need to grab the file properties immediately, preventing 10s of thousands of additional REST calls.  How can we add a `File` property so that it does some form of `$expand=file` for the List Item?

[2021-05-10 15:07] jansenbe commented on #434
Let me reopen this one and move to pnp framework so we can track things

[2021-05-10 17:48] matsla opened #466 "Invoke-PnPSiteTemplate: Does not create the page templates folder with correct name from XML"
Using Get-PnpSiteTemplate to get PageContents and Pages on a site with Swedish default language
Get-PnPSiteTemplate -IncludeAllClientSidePages -Handlers PageContents,Pages -out c:\temp\templates.xml

XML extract =>
<pnp:ClientSidePage PromoteAsNewsArticle="false" PromoteAsTemplate="true" Overwrite="true" Title="news" ThumbnailUrl="" PageName="Mallar/news.aspx">

Using Invoke-PnPSiteTemplate the pa

[2021-05-10 21:33] DaleyKD opened #437 "How To Parallel Requests"
## Category

- [x] Bug

## Describe the bug
I'm trying to iterate a bunch of items concurrently, usually in chunks.  Sometimes, it works great.  Other times, I get NullReferenceException or IndexOutOfRange exception dealing with the `BatchClient`.

## Steps to reproduce
[code]

## Expected behavior
I know I can't use the same context, but I had hoped a `.CloneAsync()` would be fine.

## Environmen

[2021-05-11 10:44] EinmalIM commented on #426
Microsoft has fixed the issue on May 7th as reported here: https://github.com/SharePoint/sp-dev-docs/issues/6955

We could not find any http 400 failures in our logs after 5/7, so the fix seems to work in our case.

[2021-05-11 15:46] DaleyKD commented on #437
This is a new exception that I hadn't seen, though it's SUPER similar to the `IndexOutOfRangeException`:
[code]

[2021-05-11 15:47] lennertcc opened #438 "RestClient has no authentication header configured"
## Category

- [x] Bug

## Describe the bug

I am using PnPContext.RestClient.Client. The documentation describes this as: **connected SharePoint REST client**.

I want to use this to make calls not supported by the object model, like SharePoint Search (/api/search/postquery).

Using the HttpClient any request with the client results in 403, 'Forbidden'.
Additional info from the response header sh

[2021-05-11 16:35] lennertcc commented on #438
That is indeed how it works currently. To complete your answer: the token can be retrieved from the authentication provider in the PnPContext.

So to solve this bug: either return the client that is used internally, or update the documentation to state that this returns a new HttpClient.

[2021-05-11 17:03] DaleyKD commented on #437
Same exception, different stack trace:
[code]

[2021-05-11 17:07] DaleyKD commented on #438
We had this same issue yesterday, and were temporarily using something like what's used in `BatchClient.cs`:
https://github.com/pnp/pnpcore/blob/3bc2ccfab4efe067e7cde2f07e9f65ec30bf588c/src/sdk/PnP.Core/Services/Core/BatchClient.cs#L1305-L1316

[2021-05-11 17:49] DaleyKD opened #441 "EntityManager Singleton - "Give me my memory back!" :)"
## Category

- [x] Bug

## Describe the bug
I've been going on a memory leak hunt for a week now, and while it's not the culprit of my leak, I am noticing that disposing a `PnPContext` (or `null`ing it out like I used to with `ClientContext`) does not release the built objects in https://github.com/pnp/pnpcore/blob/6ab26f59065d0f216bad65c3aff463d7f674018b/src/sdk/PnP.Core/Model/Base/EntityManager.

[2021-05-11 18:53] jansenbe commented on #441
@DaleyKD : the EntityManager indeed is a singleton because the information it keeps applies for any site...whenever a model (e.g. a List) is used the first time we grab the metadata that describes how to work with the list and cache it. Since that metadata is coded via classes/attributes in the assembly it's static and the same regardless of the site you're using. So seeing an increasing memory co

[2021-05-11 18:59] DaleyKD commented on #441
Gotcha.  So it's not that it's necessarily caching "Kyle's Document Library" IList.  It's just caching details ... more or less, like `typeof(IList).GetType()` (not exactly true, but I think you catch my drift).

If that's the case, then I'll close this and reopen if I notice anything awry.

[2021-05-11 19:54] DaleyKD commented on #437
I just want to put this here for documentation sake.  I FINALLY got the `IndexOutOfRangeException` again.
[code]

[2021-05-12 13:32] DaleyKD opened #443 "setuptestenv.ps1: webFullUrl cannot be null"
## Category

- [x] Bug

## Describe the bug
Fresh tenant, trying to run the `setuptestenv.ps1`.  After prompting for my creds, it gives an error dealing with the `Add-PnPWeb` cmdlet.

[code]

## Steps to reproduce
Not sure what all is required to reproduce?  I had a fresh, brand new tenant.  Ran the script, and them it gave me that error.

## Expected behavior
Run the script without error.

## Env

[2021-05-12 13:43] DaleyKD opened #444 "setuptestenv.ps1: Authentication method is not allowed"
## Category

- [x] Bug

## Describe the bug
Fresh tenant, trying to run the `setuptestenv.ps1`. When trying to run `Add-PnPTeamsTeam`, I receive `Authentication method is not allowed`.  It may be related to https://github.com/pnp/powershell/issues/462, though we're not using certificate at this point, I don't think?

[code]

## Steps to reproduce
Fresh tenant. Run the script.

## Expected behavior

[2021-05-12 13:55] DaleyKD commented on #443
... Hoping that it's because I didn't have an App Catalog yet.  Waiting a bit to see if `Get-PnPTenantAppCatalogUrl` will return a URL... will report back in a bit.

[2021-05-12 14:01] DaleyKD commented on #443
Yup!  That was it.  Hopefully if someone is as ... forgetful... as me in the future, this issue will remind them: "CREATE AN APP CATALOG!"

[2021-05-12 14:01] #443 closed

[2021-05-12 16:52] DaleyKD commented on #422
Tried to fix this with #445

[2021-05-12 21:36] DaleyKD commented on #413
For what it's worth, if I have any luck, I'm working on a PR that'll include IListItem properties, one of which is Folder.  It would possibly satisfy this issue.

I'll have more info after writing unit tests tomorrow.

[2021-05-12 21:44] DaleyKD commented on #218
I've never messed with the Change Log stuff in CSOM, but we did do a SPIKE here with the Graph Deltas, and let's just say they didn't give us the warm fuzzies.

First main thing is that there didn't seem to be a way to do a delta on a Site/Web, only on a drive (doc lib).
Second, there's a comment in the docs (can't find it right now) that suggests that a delta token can eventually expire.  I'm not

[2021-05-13 07:18] vkorotenko opened #446 "EnsureFolderAsync wrong work"
## Category

- [x] Bug

## EnsureFolderAsync don't work
## Steps to reproduce
await folder.EnsureFolderAsync("sub1/sub2/sub3/sub4/sub5");
// on this call break with exception sub1 already exist
await folder.EnsureFolderAsync("sub1/sub2/sub3/sub4/sub5_1");

## Expected behavior
await folder.EnsureFolderAsync("sub1/sub2/sub3/sub4/sub5");
await folder.EnsureFolderAsync("sub1/sub2/sub3/sub4/sub5_1");