[2021-05-13 11:39] DaleyKD commented on #437
Initial tests show that this has helped.  Will close for now.  Thank you @jansenbe .  (If something stops working, I'll reopen if necessary.)

[2021-05-13 11:39] #437 closed

[2021-05-13 14:39] rishu73 commented on #384
@olemp - +1 for Pnp Wrapper for GetChanges()
Is there an idea when PnPCoreSdk.Instance.GetPnPContext() will be moved into latest stable?

Thank you!

[2021-05-13 17:09] jansenbe commented on #446
@vkorotenko : which version are you using?

[2021-05-13 18:43] vkorotenko commented on #446
Hi thanks for fast reply, sorry but i not specify version is 1.1.0

http://dl3.joxi.net/drive/2021/05/13/0005/0257/389377/77/dcd34c1118.jpg

All package on a solution

Solution make on Visual studio 2019 latest version, and PnP latest stable version by nuget

[2021-05-13 19:25] jansenbe commented on #438
@lennertcc  / @DaleyKD : This is now possible via the new ExecuteRequestAsync/ExecuteRequest methods. See https://pnp.github.io/pnpcore/using-the-sdk/basics-customapirequests.html for some early docs.

[2021-05-13 19:25] #438 closed

[2021-05-13 19:26] jansenbe commented on #324
@VishalMadhvani : This is now possible via the new ExecuteRequestAsync/ExecuteRequest methods. See https://pnp.github.io/pnpcore/using-the-sdk/basics-customapirequests.html for some early docs.

[2021-05-13 19:26] #324 closed

[2021-05-13 20:53] DaleyKD commented on #446
I can confirm that it does indeed work. No exception thrown.

[code]

![image](https://user-images.githubusercontent.com/7206282/118186420-5510d480-b403-11eb-802d-c98a89064f1c.png)

[2021-05-13 20:58] DaleyKD opened #447 "NullReferenceException in Values_CollectionChanged"
## Category

- [x] Bug

## Describe the bug
`NullReferenceException` in `Values_CollectionChanged` event handler.

[code]

## Steps to reproduce
Not sure what's causing this.  I have no way to replicate it.

## Expected behavior
NullRefs are bad, mkay? :smile:

## Environment details (*development & target environment*)
- **SDK version**: 1.1.41-nightly
- **OS**: Windows 10
- **Framework**: .NET C

[2021-05-13 20:58] DaleyKD commented on #447
Working on a PR right now...

[2021-05-14 00:37] DaleyKD commented on #447
Since I'm a goof and don't know how to operate GitHub, this is in the same PR as before... #445 .  Can't figure out how to reverse it.  Will create a new branch for all subsequent PRs.

[2021-05-14 06:40] jansenbe commented on #443
Thanks for letting me know @DaleyKD : wrote a short note in the script to clarify this

[2021-05-14 06:42] jansenbe commented on #447
It's ok they're combined now, I'll process them together and add two change log entries. Thanks for PR @DaleyKD .

Going forward it's indeed best to create a branch per change that you want to submit as PR. I'll add a new issue to further clarify this in https://pnp.github.io/pnpcore/contributing/setup.html

[2021-05-14 06:44] jansenbe opened #448 "Update "setting up your environment for developing" to clarify using a branch per github change"
See https://pnp.github.io/pnpcore/contributing/setup.html.

Best to clarify that creating a branch allows for isolating various fixes into different PR's

[2021-05-14 13:27] DaleyKD commented on #448
I appreciate this. I can't believe how different Git is from TFS/VSTS/ADO.

[2021-05-14 20:58] DaleyKD opened #449 "IList GetByIdBatchAsync"
## Category

- [x] Domain model extension

## Describe the domain model extension
If I want to get a bunch of lists in a single batch, I'd think we should be able to do this.

### Model
Model: **IList**
Functions: **GetByIdBatchAsync**

[2021-05-14 21:06] DaleyKD opened #450 "FR: Delete or Recycle Item without GET of IList first"
## Category

- [x] Feature request

## Describe the feature
One of our product requirements is to delete (or recycle) list items.  However, we do it way late in the pipeline, all by itself.

I realize I can do the following:
[code]

But that's at minimum a GET for a site, a GET for a web, a GET for the list, and then a POST (delete) for the list item.  We know that, for this scenario, I don't need

[2021-05-15 09:00] quantrpeter opened #451 "SaveAsync Null"
Hi
   I got exception when creating a modern page:

[code]

Error:
[code]

thanks
Peter

[2021-05-15 14:57] jansenbe commented on #449
@DaleyKD : we do have support for this scenario via the AsBatch() option. Below sample shows a single batch fetching 2 lists with for each lists the title property loaded.

[code]

[2021-05-15 15:10] jansenbe commented on #450
@DaleyKD : probably the easiest option would be to construct the delete call yourselves as shown here: https://pnp.github.io/pnpcore/using-the-sdk/basics-customapirequests.html#making-a-custom-spo-rest-request.

[2021-05-15 15:14] DaleyKD commented on #449
If there are no objections, can I try a future PR with a function that
makes it a little easier?

Also, question: is there a benefit to using the $filter vs. the
getbytitle('Documents')?

I noticed this earlier when I did GetByIdAsync on a list item... It uses
$filter instead of /items(103).

On Sat, May 15, 2021, 9:58 AM Bert Jansen ***@***.***> wrote:

[2021-05-15 15:37] jansenbe commented on #451
Hi @quantrpeter ,

I've just tried below in a test case and things just work. I assume the site you're using can work with modern pages? What's the version you're using?

[code]

[2021-05-15 16:48] jansenbe commented on #449
@DaleyKD : All flows via our central LINQ provider whichn in the end translates GetByIdAsync() into a $filter...Do you see a performance impact on the current approach?

[2021-05-15 21:07] DaleyKD commented on #449
@jansenbe - I'm not sure if there's a performance impact or not.  I was actually hoping you knew. :smile:  My ONE concern is how the `$filter` will/won't work with List View Threshold issues.  If I can find time to load up 5000+ docs, I'll try to test and see if `$filter=title eq 'Documents'` works.

[2021-05-17 16:51] jansenbe commented on #447
@DaleyKD : thanks for your fix, just merged it. Closing this issue now

[2021-05-17 16:51] #447 closed

[2021-05-17 16:52] jansenbe commented on #422
Thanks a ton @DaleyKD , just merged your PR so closing this issue. Thanks for helping out the SharePoint community.

[2021-05-17 16:52] #422 closed

[2021-05-17 17:11] jansenbe commented on #448
Change done. When I first moved from TFS to Git it took me a while to get started as well, but I now I do prefer Git over TFS

[2021-05-17 17:11] #448 closed

[2021-05-19 09:04] jansenbe opened #453 "Review thread-safety of PnP model collection classes - document current state / improve things"

[2021-05-19 13:29] jansenbe commented on #446
@vkorotenko : can you provide more details (e.g. stacktrace)? Also checkout the test cases that use EnsureFolderAsync (https://github.com/pnp/pnpcore/blob/3bc2ccfab4efe067e7cde2f07e9f65ec30bf588c/src/sdk/PnP.Core.Test/SharePoint/FoldersTests.cs#L528)

[2021-05-19 16:24] DaleyKD commented on #169
EDIT: Whoops, IRM is "Information Rights Management".  I thought it was "In Place Records Management."

Never mind.  I don't need IRM today. :)

[2021-05-19 17:25] jansenbe commented on #419
@DaleyKD : I've added support for the loading the content type when using LoadListDataAsStream. It only gets you a content type with name and id properties though. With the other changes you've done I think we now can get the content type populated for all listitem data retrieval approaches...You're good with closing this one or did I miss something?

[2021-05-19 17:47] jansenbe commented on #428
@DaleyKD : think this one can be closed now, if not then let me know and I reopen

[2021-05-19 17:47] #428 closed

[2021-05-19 17:56] jansenbe commented on #451
@quantrpeter : can you provide additional feedback or can we close this issue?

[2021-05-19 17:58] jansenbe commented on #450
@DaleyKD : building your own REST request will for sure work and is the only solution I can think of. Closing this issue, but feel free to re-open or create a new one if using a custom REST request does not work for you.

[2021-05-19 17:58] #450 closed

[2021-05-19 18:18] jansenbe commented on #420
@DaleyKD : with the changes you've done now the following works and I hope this will be good solution for your needs. Note that we do automatically page per 100 using this approach:

[code]

[2021-05-20 07:50] jansenbe commented on #428
@DaleyKD : I took a peek at the source code and the docs are not accurate. What is returned depends:

- If a field with internal name "Title" exists and the value is not empty/null that's used
- Special handling for survey, discussion board and link items --> should not be relevant in your case
- Value of the "First field with TitleField="TRUE" in their manifest"

[2021-05-20 11:54] jaganpt opened #457 "PnP Core SDK with "system-assigned managed identity" authentication"
I have a azure function app with system-assigned managed identity enabled and added graph api permissions through power shell.

Now I would like to use PnP Core SDK (https://github.com/pnp/pnpcore)  and authenticate using System-assigned managed identity. How to use PnP Core SDK with System-assigned managed identity?

[2021-05-20 12:25] jansenbe commented on #457
Hi @jaganpt ,

Today we don't have OOB support for managed identities but our authentication model supports a custom authentication provider as explain in https://pnp.github.io/pnpcore/using-the-sdk/custom-authentication-provider.html and shown as sample in https://github.com/pnp/pnpcore/tree/dev/samples/Demo.Blazor.

So you could consider building a custom authentication provider, see https://git

[2021-05-20 19:18] jaganpt commented on #457
Hi @jansenbe ,

I am trying to build a custom authentication provider as per the "Dem.Blazor" code, but I am not able to resolve "IAccessTokenProvider", though I install nuget and add "Microsoft.AspNetCore.Components.WebAssembly.Authentication" name space.

[2021-05-21 02:53] DaleyKD commented on #419
@jansenbe - Initial tests are great.  Closing now.

[2021-05-21 02:53] #419 closed

[2021-05-21 02:54] DaleyKD commented on #420
Great job.  I'm good with closing this for now.

Working on another PR so that we can do `IListItem.File.LoadAsync()`

[2021-05-21 02:54] #420 closed

[2021-05-21 02:56] DaleyKD commented on #428
@jansenbe - Thank you so much for going the extra mile here.  The best I could do was look at Microsoft.SharePoint.dll (SP2019 w/ May 2021 CU), and see what they were doing for `SPListItem.DisplayName`.  :smile:

Is there a repo I can submit a request to allow `DisplayName` to be in the $select statement for a list item?

[2021-05-21 03:24] DaleyKD opened #458 "Documentation Requirement: Taxonomy Administrator"
## Category

- [x] Bug

## Describe the bug
When trying to run all the Unit Tests with `Mock = false`, the Taxonomy Tests will fail if you aren't a Term Store Admin.

## Steps to reproduce
I used the provided .ps1 to setup my environment.  It was pure and clean.

## Expected behavior
Either the .ps1 adds the credentials as a Term Store Admin, or the documentation needs to give us a heads up.

[2021-05-21 03:27] DaleyKD commented on #458
Also, you need to add Dutch as a Working Language.

[2021-05-21 11:47] czullu opened #460 "Ability to use ApiRequest in Batch"
## Category

- [x] Feature request

## Describe the feature
It would be nice if APIRequest could be added to a Batch for example when working with planner.

## Describe the solution you'd like

[code]

[2021-05-21 17:44] DaleyKD commented on #423
#462 addresses this.

[2021-05-22 02:18] DaleyKD commented on #444
FWIW, I tried this again the other day, and couldn't get any further.  Finally had to manually go into the site and click the link in the bottom left toaster.

Obviously this isn't a PnP.Core issue and more of a PnP.PowerShell (or whatever they use for their backend code).

[2021-05-22 12:37] jansenbe commented on #425
Thanks for the PR @DaleyKD

[2021-05-22 12:37] #425 closed

[2021-05-22 13:41] jansenbe commented on #444
@DaleyKD : This indeed seems to be a PS issue. You've using the PnP management shell and the script fails at the `Add-PnPTeamsTeam` cmdlet. Let's move this issue to PS for now.

[2021-05-22 13:42] jansenbe commented on #458
Updated, thanks for letting us know.

[2021-05-22 13:42] #458 closed

[2021-05-22 13:44] jansenbe commented on #451
@quantrpeter : closing this issue...feel free to re-open or create a new one with more details if the problem still persists at your side.

[2021-05-22 13:44] #451 closed

[2021-05-22 13:45] jansenbe commented on #446
@vkorotenko : I'm closing this issue as there was no further feedback and our testing indicated this works. If you feel there still is an issue then please re-open or create a new issue with more details. Thanks.

[2021-05-22 13:45] #446 closed

[2021-05-25 12:45] DaleyKD commented on #384
@jansenbe : If you want to create a discussion on this and maybe give me an idea of where your head is at, I may be able to do a PR for this.

Currently, we pulled in the PnP.Framework in our code to use CSOM, but I REALLY don't want to use that if possible.

This is probably the last piece of the puzzle our code needs to be ready for MVP.

[2021-05-25 13:09] jansenbe commented on #384
@DaleyKD : would be great if you could work on this feature 🚀

Pulling in PnP Framework with it's extra dependency on CSOM should not be needed. There's a GetChanges method on SP.List (https://s-kainet.github.io/sp-rest-explorer/#/entity/SP.List/func/GetChanges), on SP.Web (https://s-kainet.github.io/sp-rest-explorer/#/entity/SP.Web/func/GetChanges), on SP.Site (https://s-kainet.github.io/sp-rest-

[2021-05-25 16:24] jaganpt commented on #457
Hi @jansenbe,
It would be great if you could provide feedback on the "IAccessTokenProvider" issue. So that I would try to build a custom authencation provider for managed identities. Thanks.

[2021-05-25 16:41] DaleyKD commented on #457
@jaganpt : It's definitely in the `Microsoft.AspNetCore.Components.WebAssembly.Authentication` assembly, and the namespace of the same name.
![image](https://user-images.githubusercontent.com/7206282/119535798-05f56880-bd4e-11eb-9f24-6c9d19246161.png)

Are you running it in .NET 5?

[2021-05-25 16:44] DaleyKD commented on #423
@jansenbe successfully created a commit for this.  https://github.com/pnp/pnpcore/commit/794e520598986339f9cadead7a93e1c8c8467ec9

I will implement this in my code tomorrow after tonight's nightly.

[2021-05-25 17:02] jaganpt commented on #457
Hi @DaleyKD ,
No, it is in .Net Core 3.1.

![image](https://user-images.githubusercontent.com/78982760/119538636-97cf9680-bd8b-11eb-9fde-6a30c9d51d1b.png)

[2021-05-25 17:08] DaleyKD commented on #457
@jaganpt : Since it's a POC, just see what happens if you bump it to .NET 5.

[2021-05-25 17:20] jaganpt commented on #457
Hi @DaleyKD ,
I am doing this for V3 Azure function app.

[2021-05-25 17:29] DaleyKD commented on #457
@jaganpt : OK.  Well, `Microsoft.AspNetCore.Components.WebAssembly.Authentication` v5.x is only for .net5.

So, I took the time to repro your issue, and it's as simple as picking the right version of the NuGet package.  "Update" it to v3.2.1.
![image](https://user-images.githubusercontent.com/7206282/119541942-9afb6000-bd54-11eb-9808-057d12913b50.png)

Be sure to keep an eye on the dependencies pa

[2021-05-25 19:30] jansenbe commented on #423
I trust this work...if not you can blame me :-)

[2021-05-25 19:30] #423 closed

[2021-05-26 15:38] spplante commented on #210
This feature request is underrated, most SharePoint solutions are based on the search so being able to use the search API should be in the top priorities for the SDK in my opinion, I am actually quite surprised to see many specific features getting available but nothing for the search yet, especially when the whole search API is now available in Graph.

That would be a great addition!

[2021-05-26 23:01] DaleyKD commented on #384
@jansenbe - I started work on this in a VERY simplistic manner.  Once I get a bit further, perhaps we can jump on a call to see if my progress is good or very bad. 😄

We've got Memorial Day on Monday and PI Planning next week.  I'm not sure what progress is going to be during that week.

[2021-05-27 06:10] jansenbe commented on #384
Thanks @DaleyKD , no rush on this...it's a hobby project :-) I've took the liberty to assign your name to this issue, feel free to un-assign if you don't want that.

[2021-05-27 13:22] DaleyKD commented on #413
@jansenbe & @seanix99 , what's the status with this?

If you grab a nightly, you can load the actual Folder object of the ListItem using the `IListItem.Folder` property.  And then you can use `.GetFolder()` to grab the folder to which the listItem belongs based on `FileDirRef`

Should we rename the function to be a bit less confusing?  `GetParentFolder`?  `GetContainerFolder`?  🤷‍♂️

[2021-05-27 13:23] DaleyKD commented on #457
@jaganpt - Any luck?

[2021-05-27 17:02] jansenbe commented on #413
GetParentFolder makes sense to me...I'm doing the rename, so closing this issue. Thanks raising it again @DaleyKD

[2021-05-27 17:02] #413 closed

[2021-05-27 18:42] jansenbe commented on #460
@czullu : started working on this, will be part of 1.2 soon

[2021-05-27 18:47] czullu commented on #460
Thank you, i have tried it but got kind of lost within all the Interfaces and therefore put it beside in the hope off a quite moment.

[2021-05-27 18:48] jansenbe commented on #460
This will be the way to use it:

[code]

[2021-05-27 18:56] DaleyKD commented on #460
NICE!  I assume it returns a raw response?

[2021-05-27 19:00] jansenbe commented on #460
yes, you'll get the json string back

[2021-05-28 09:16] jansenbe commented on #460
@czullu / @DaleyKD : implemented. See https://pnp.github.io/pnpcore/using-the-sdk/basics-customapirequests.html#batching-custom-api-requests for instructions.

[2021-05-28 09:16] #460 closed

[2021-05-28 09:23] jansenbe commented on #210
@spplante : this project is for a big part run on folks spare time contributions, so people that contribute often focus on the things they'd need first in their projects. That being said, being to call search indeed is important and will be something we'll have to add.

[2021-05-28 09:36] jaganpt commented on #457
Hi @DaleyKD ,

The above NuGet package issue resolved. But I haven't found a way for PnP Core SDK with "system-assigned managed identity" authentication in V3 Azure Function app. Any help here would be great. Thanks.

[2021-05-28 10:05] jansenbe commented on #457
@jaganpt : I think thread https://github.com/pnp/pnpframework/discussions/303 shows how this can be done. Mocking up some pseudo code (did not compile any of this)

[code]

If you then plug in this custom authentication provider you should be good to go:

[code]

[2021-05-28 15:30] jansenbe commented on #244
Started working on this

[2021-05-28 15:58] jimmywim commented on #210
I had a quick look at this (being familiar with the search API) but it was quite tricky to use the existing request model in place, the search stuff might have to have its own request handler complete with serialization/deserialization, just reusing the access tokens from the context.

[2021-05-28 16:07] DaleyKD commented on #449
I see no need for this anymore.  LVT hasn't been an issue in our current tests, and though it may not fit the code styling approach of using an actual pre-created `Batch`, the `.AsBatchAsync()` is sufficient.

[2021-05-28 20:04] jansenbe commented on #449
Thanks for testing this @DaleyKD . AsBatchAsync() also accepts the batch variable if you want to work with a manually created batch

[2021-05-29 14:24] jansenbe commented on #244
Done

[2021-05-29 14:24] #244 closed

[2021-05-31 17:13] jansenbe commented on #384
@olemp / @wonderplayer / @rishu73 : @DaleyKD did implement this (thanks @DaleyKD) today and I've merged this change. Documentation is still pending, but for example https://github.com/pnp/pnpcore/blob/dev/src/sdk/PnP.Core.Test/SharePoint/ListTests.cs#L1175 and further shows how to use this feature.

[2021-05-31 17:13] #384 closed

[2021-05-31 17:13] jansenbe opened #469 "Document the GetChanges feature"

[2021-05-31 17:28] DaleyKD commented on #384
Please note, I did not implement any paging, so you'll need to do this yourselves.

[2021-06-01 06:30] jansenbe commented on #254
Done, added triple slash comments to clarify the original SPO REST property

[2021-06-01 06:30] #254 closed

[2021-06-01 07:55] jansenbe commented on #469
Done

[2021-06-01 07:55] #469 closed

[2021-06-01 07:57] jansenbe commented on #218
Given the Graph Delta limitations the current implementation is SPO REST based. If in the future the need for the Graph Delta API arises we can add it as a GetDelta() implementation

[2021-06-01 07:57] #218 closed

[2021-06-01 07:59] jansenbe commented on #220
Don't think this will ever be needed, closing now to cleanup the issue list

[2021-06-01 07:59] #220 closed

[2021-06-01 08:00] jansenbe commented on #222
We do have full support for checkin/checkout/undocheckout/publish/unpublish/approve and all the related list settings

[2021-06-01 08:00] #222 closed

[2021-06-01 08:03] jansenbe commented on #457
Hi @jaganpt : did the code I shared help?

[2021-06-01 14:41] jaganpt commented on #457
Hi @jansenbe ,
I am trying to implement above managed identity authentication in Dem.AzureFunction sample (https://github.com/pnp/pnpcore/tree/dev/samples/Demo.AzureFunction ) and getting the below error.

![image](https://user-images.githubusercontent.com/78982760/120342396-09fa2b00-c2f8-11eb-93c3-a7e13488911d.png)

[2021-06-01 15:20] jansenbe commented on #457
@jaganpt : Seems like you're still having an auth issue...would recommend intercepting the access token and check if it's for the correct resource and has the correct scope. You can use jwt.ms or jwt.io as sites to decode the access token

[2021-06-01 19:42] rtonerii commented on #312
I am having the same issue, and I a not behind a proxy either.

[2021-06-01 19:51] DaleyKD commented on #312
@ollimenzel and @rtonerii : Are you both using the PnP.PowerShell?  What version?

I can confirm that this works fine in PnP.Core via C#.

[2021-06-01 19:55] ollimenzel commented on #312
Hi in the meantime I opened a new report, and it was also reproduceable as you can see here:
https://github.com/pnp/powershell/issues/668
It seems to be a problem with the root SiteCollection in my case

[2021-06-01 20:11] pkbullock commented on #218
Ah, i started this piece - didnt see these updates. Will delete my submission. Well done @DaleyKD for completing this.

[2021-06-01 20:33] DaleyKD commented on #312
@ollimenzel : That root Site Collection was definitely the piece I was missing.  I don't know if that's the same issue for @rtonerii  or not.  I've submitted a PR and will see if it's accepted by @jansenbe .

[2021-06-01 20:33] DaleyKD commented on #312
@ollimenzel : That root Site Collection was definitely the piece I was missing.  I don't know if that's the same issue for @rtonerii  or not.  I've submitted a PR and will see if it's accepted by @jansenbe .

[2021-06-02 10:23] jaganpt commented on #457
Hi @jansenbe ,

I am able to authenticate Graph API and SharePointOnline using managed identity in v3 Azure Function app. Thanks.

[2021-06-02 12:32] jansenbe commented on #405
Done

[2021-06-02 12:32] #405 closed

[2021-06-02 12:50] jansenbe commented on #312
@DaleyKD : thanks for helping out and creating the PR
@ollimenzel / @rtonerii : I've merged the PR from @DaleyKD , this will be included in the tomorrow's nightly build from PnP PS, so would recommend giving that a try and let us know.

[2021-06-02 14:06] DaleyKD opened #471 "ChangeToken Access Modifier Set to Internal"
Derp.  I made the access modifier for `ChangeToken` `internal` instead of `public`.  This is preventing consumers of the API from setting the `ChangeTokenStart` since its type is `IChangeToken`.

Creating the issue for tracking.

[2021-06-02 16:18] DaleyKD commented on #414
Is this a duplicate of #301  ?

[2021-06-02 16:30] jansenbe commented on #414
Good point, I'll close #301....one issue less :-)

[2021-06-02 16:31] jansenbe commented on #301
Closing as it's a duplicate of #414

[2021-06-02 16:31] #301 closed

[2021-06-02 17:13] #471 closed

[2021-06-02 17:14] jansenbe commented on #457
@jaganpt : So it works or not? Can you share the code in your function?

[2021-06-02 18:24] jaganpt commented on #457
Hi @jansenbe ,

Authentication to SharePoint is working, but Graph API is only working for explicit calls as explained in the below code.

Method: **GetAccessTokenAsync** in myCustomAuthProvider.cs class
--------------------------------------------------------------------------------
public async Task<string> GetAccessTokenAsync(Uri resource, string[] scopes)
        {
            if (resource ==

[2021-06-03 15:23] jansenbe commented on #457
@jaganpt : sorry, but it's still unclear to me what now works and does not work? Which line in the shared sample throws an exception? Please share the stack trace of the exception.

Also, assume you granted permissions for your managed identity? See https://www.rickvanrousselt.com/blog/stop-using-clientid-and-secret-to-access-your-office-365-services/

[2021-06-03 18:47] rtonerii commented on #312
I have been testing this on a sub-site collection.  I installed the latest from today and I am having other issues.

[2021-06-03 19:07] DaleyKD commented on #312
@rtonerii : Could you show me your full `Add-PnPListItem` command you're using?  (You can omit the tenant if you'd like.)

[2021-06-03 19:57] rtonerii commented on #312
@DaleyKD Here is the script.

`New-PnPList -Title "PnPTestList" -Template GenericList -ErrorAction SilentlyContinue
$list = Get-PnPList -Identity "PnPTestList"
$batch = New-PnPBatch
1..5 | %{ Add-PnPListItem -List $list -Values @{"Title"="Title $_"} -Batch $batch }
Invoke-PnPBatch $batch -Details -Debug`

I did some more testing and it works in a PowerShell console window but it errors in the VS C

[2021-06-03 20:36] jansenbe commented on #312
Can you check the PS version where it works (and not works). You get the PS version via `$PSVersionTable`

[2021-06-03 21:37] rtonerii commented on #312
Name                           Value
----                           -----
PSVersion                      5.1.19041.906
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.19041.906
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion      2.3
SerializationVersion

[2021-06-03 21:38] rtonerii commented on #312
Name                           Value
----                           -----
PSVersion                      5.1.19041.906
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.19041.906
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion      2.3
SerializationVersion

[2021-06-04 07:01] jaganpt commented on #457
Hi @jansenbe ,

Authentication to SharePoint using managed identity works if I do the following changes in the code shared by you.

var credential = new Azure.Identity.ChainedTokenCredential(
                 new ManagedIdentityCredential(),
                 new EnvironmentCredential()
                 );

Replace the above lines with the below line.

var credential = new DefaultAzureCredential();

[2021-06-04 07:25] jansenbe commented on #312
so is the working version (PS console) or the non working version (VS Code)? I want to understand if there's a difference between those. PS version 5 uses .NET Framework while PS version 7+ uses .NET Core / .NET 5

[2021-06-04 07:35] jansenbe commented on #457
Both `using (var pnpContext = await pnpContextFactory.CreateAsync(new Uri("site url")))` as `using (var context = await pnpContextFactory.CreateAsync(new Guid("stringgroupguid")))` use the same custom auth provider you've setup, so since the first one works and the second not I think the custom provider now works. Problem then seems to be related to building a context with a group id. Are you sure

[2021-06-04 07:38] jaganpt commented on #457
Hi @jansenbe ,

Yes the group guid is valid and I have granted the required (Group.Read.All) permissions for the managed identity.

[2021-06-04 07:52] patrikhellgren commented on #457
Also worth noting is that ```ManagedIdentityCredential``` is enough to have it working.
From the documentation:
"The Managed identity authentication is supported via either the ```DefaultAzureCredential``` or the ```ManagedIdentityCredential``` directly for the following Azure Services:

- Azure Virtual Machines
- Azure App Service
- Azure Kubernetes Service
- Azure Cloud Shell
- Azure Arc
- Azure

[2021-06-04 08:22] jansenbe commented on #457
@jaganpt : think we need information about the graph exception happening: can you capture that and share? This will help clarify why the call fails. Write a try/catch and capture the exception and possibly the inner exception and share that.

[2021-06-04 08:58] jaganpt commented on #457
Hi @jansenbe ,

![image](https://user-images.githubusercontent.com/78982760/120775700-bff58d00-c523-11eb-9794-8a7659879b9b.png)

[2021-06-04 09:07] jansenbe commented on #457
@jaganpt : Please share the access token as well (feel free to mail to bjansen@microsoft.com as the token will be valid for one hour)

[2021-06-04 09:08] jaganpt commented on #457
Hi @patrikhellgren ,

I am getting the below error, If I use ManagedIdentityCredential instead of DefaultAzureCredential.

Error:
ManagedIdentityCredential authentication unavailable. No Managed Identity endpoint found.

[2021-06-04 11:54] jansenbe commented on #466
Hi @matsla : I've been able to reproduce this, there was a bug in detecting the current "templates" folder.

[2021-06-04 12:03] jansenbe commented on #466
Fix is in. Should work with tomorrow's nightly PS build

[2021-06-04 12:03] #466 closed

[2021-06-04 13:57] jaganpt commented on #457
Hi @patrikhellgren ,

"ManagedIdentityCredential" is working for the below code (no PnP Core SDK used) only if I run in Azure, but not from local development environment.

Graph API explicit calling:
var myCustomAuthProvider = new ManagedIdentityTokenProvider();
var graphServiceClient = new GraphServiceClient(new DelegateAuthenticationProvider((requestMessage) =>
     {
         return myCustomAut

[2021-06-05 00:34] rtonerii commented on #312
I can try both on monday.

[2021-06-07 13:31] rtonerii commented on #312
OK,
The issue only seems to be happening with Powershell 5.1, when using VS Code.

[2021-06-07 15:28] rtonerii commented on #312
OK, some more updates.
I updated my environments to version 1.6.0.

I am now able to successfully process the above script on both the root site and a sub-site collection with PS 7.1.

I am getting the following error on PS 5.1, **in VS Code**.
`Add-PnPListItem : Method not found: 'Int32 System.Text.Encodings.Web.TextEncoder.FindFirstCharacterToEncodeUtf8(System.ReadOnlySpan`1<Byte>)'`

Everything

[2021-06-08 06:38] jansenbe commented on #312
It seems as in the 5.1 console version of VS Code some other module is loaded first loading an older version of an assembly (possibly System.Text.Encodings.Web.dll)...when the PS module is loaded afterwards things fail. You could consider switching to PS7 in VS Code (https://rnelson0.com/2020/03/05/using-powershell-7-in-vs-code/).

In general there's no easy fix for this as in PS world modules can

[2021-06-08 06:38] #312 closed

[2021-06-08 14:26] rtonerii commented on #312
Thanks,
I will try and make this work.

[2021-06-09 10:27] gopaldahal opened #477 "Invalid data with in list item properties do not update item. Neither throw exception nor response message nor succeed to upload on SharePoint"
IF I add dummy data under the property of item under batch.
like "ABC" under DateTime property, it neither throws exception nor gives the response message, neither update on SharePoint itself.
Just completed as a successful commit.

Please help

[2021-06-09 10:29] gopaldahal commented on #23
Is it still a problem or in the development phase.
Seems this is required in most of the case

[2021-06-09 11:19] gopaldahal opened #478 "Console App Automatically crashes when running some functions. However in single step movement using debug, it works"
## Category

- [x] Bug

## Describe the bug

The application automatically shutdowns with the incomplete operation.

## Steps to reproduce

            var host = Host.CreateDefaultBuilder()
           .ConfigureServices((hostingContext, services) =>
            {
                services.AddPnPCore(options =>
                                            {

[2021-06-09 12:43] jansenbe commented on #477
@gopaldahal : list item properties are usable like other property bags in SharePoint, there's no explicit docs on the ListItem usage, but we have for usage of the property bag on a web: https://pnp.github.io/pnpcore/using-the-sdk/webs-intro.html#web-property-bag. Can you use the documented approach and check if that resolves your problem?

[2021-06-09 12:47] jansenbe commented on #478
@gopaldahal : code that works when the debugger is attached and fails otherwise is not something I would expect as we don't do anything specific when a debugger is attached. Can you provide a stacktrace of the failing call?

Also note that regionalsettings are always loaded by default, see https://pnp.github.io/pnpcore/using-the-sdk/basics-context.html#loading-additional-iweb-and-isite-properties-

[2021-06-09 12:48] jaganpt commented on #457
Hi @jansenbe ,

I have shared the token via mail to bjansen@microsoft.com. Thanks.

[2021-06-09 14:01] gopaldahal commented on #478
@jansenbe , Thank you for the quick response. Unfortunately, Crash is not getting intercepted by try-catch. Neither there is any log on the windows event log. I will share soon with the sample application.

[2021-06-09 14:11] DaleyKD opened #479 "IListItem - Versions"
https://s-kainet.github.io/sp-rest-explorer/#/entity/Collection(SP.ListItemVersion)
https://s-kainet.github.io/sp-rest-explorer/#/entity/SP.ListItemVersion

@jansenbe - Would you assign this to me?  I'll try to get to it this week.  Looks like this was missing and we'll need it for our product soon.

[2021-06-09 14:27] jansenbe commented on #241
Started working this, also covering list item comments

[2021-06-10 03:29] gopaldahal commented on #478
@jansenbe
This is the sample Code I am running under Console application.

using System;
using System.Collections.Generic;
using System.Threading.Tasks;
using Microsoft.Extensions.Hosting;
using PnP.Core.Model.SharePoint;
using PnP.Core.Services;
using Microsoft.Extensions.DependencyInjection;
using PnP.Core.Auth;
using PnP.Core.QueryModel;
using System.Linq;
using PnP.Core.Services.Builder.Config

[2021-06-10 03:35] gopaldahal commented on #477
@jansenbe, This is the sample of code I am running.

                var parentList = await context.Web.Lists.GetByTitleAsync("AddTest", l => l.EnableModeration, l => l.TemplateType, l => l.EnableVersioning, l => l.Title, l => l.Fields, l => l.ContentTypes);
                var parentWeb = await context.Web.GetAsync(s => s.Language, s=>s.Url);
                var parentFields = parentList.Fields.T

[2021-06-10 06:20] jansenbe commented on #477
@gopaldahal : the issue in your code is with the `uploadedListItems` collection, you don't need to manually add a listitem, this is done automatically when the request added via AddBatchAsync() is executed (via context.ExecuteAsync()). Below code works in my testing:

[code]

[2021-06-10 06:20] jansenbe commented on #477
@gopaldahal : the issue in your code is with the `uploadedListItems` collection, you don't need to manually add a listitem, this is done automatically when the request added via AddBatchAsync() is executed (via context.ExecuteAsync()). Below code works in my testing:

[code]

[2021-06-10 06:21] jansenbe commented on #478
@gopaldahal : please use the updated code snippet I've shared when answering your previous question, think that should also solve this problem

[2021-06-10 17:45] DaleyKD opened #482 "FileVersion GetContent Using Invalid URL"
## Category

- [x] Bug

## Describe the bug
Right now, `FileVersion` is using `$"{PnPContext.Uri}/_layouts/15/download.aspx?SourceUrl={Url}";`, which may work great for a file that is NOT a `FileVersion`, but if the URL is `_vti_history/512/MyDocLib/wordTest.docx`, you actually get this from SharePoint:
![image](https://user-images.githubusercontent.com/7206282/121571408-97203c80-c9e8-11eb-8fce-ff

[2021-06-10 18:16] DaleyKD commented on #482
Gee golly willikers.

The actual URL is simply: `$"{PnPContext.Uri}/_vti_history/512/MyDocLib/wordTest.docx`, aka `$"{PnPContext.Uri}/{Url}`

I'm not sure which way is better, but I'm ok with using this way if it satisfies my team's testing.

[2021-06-10 19:49] jansenbe commented on #482
Using download.aspx is recommended as it's the most stable approach, so ideally we keep using that. But seems you've got it working now?

[2021-06-10 20:07] DaleyKD commented on #482
Well, no.  I don't.  PnP.Core still has a bug.

My bug is still accurate.  You can't use `IFileVersion.GetContentAsync()`.  If you look at `GetFileVersionContentAsyncTest-2-00003.response`, you'll see that it's the HTML markup for the Error page in my screenshot above.  IOW, `download.aspx` does **not** work for use with the `_vti_history` URLs.

It seems that the proper use to get these binaries

[2021-06-10 21:01] jansenbe commented on #482
OK, that clarifies... Don't have a specific preference given the "regular" download will not be updated. You might want to test with some larger files, but assume both approaches will work

[2021-06-11 03:25] gopaldahal commented on #478
@jansenbe,
I removed the duplicate load of items as you mentioned. But, there is still a problem of crashes.
However, after removing the async of my method and using ".Result" instead of await, it worked without a crash.
Modified code is as below

using System;
using System.Collections.Generic;
using System.Threading.Tasks;
using Microsoft.Extensions.Hosting;
using PnP.Core.Model.SharePoint;
using

[2021-06-11 04:03] gopaldahal commented on #477
Thank you @jansenbe for the code.
Unfortunately, "parentList.Items.AsRequested().First().LoadAsync(d => d.All)" do no load all the item.Values. Only limited property values are being loaded. Item that is being uploaded to list has more than 70 fields, but "d.All" just loads around 10-15 values.
But I need to refresh/need all the fields.

Besides, my problem is with the assignment of invalid data.

[2021-06-11 13:44] jansenbe commented on #479
Thanks for the great work @DaleyKD , just merged your PR so closing the issue

[2021-06-11 13:44] #479 closed

[2021-06-11 14:59] DaleyKD commented on #482
Welp, looks like `_vti_history` doesn't like using bearer tokens. 🙄 Getting a 401 when I try to use that URL.

Going to convert to using GetContentAsync for now.  May have to use that temporarily until I can come back and do large file tests.

[2021-06-14 03:33] gopaldahal opened #484 "Time Conversion LocalToUTC and UTCtoLocal"
## Category

- [x] Feature request

## Describe the feature

Date conversion from LocalToUTC and UTCtoLocal is available on Rest and CSOM.
-UTC to Local Time
-Local To UTC time

**Rest Reference**
https://s-kainet.github.io/sp-rest-explorer/#/entity/SP.TimeZone

**Equivalent Code on CSOM**
var conversionType = DateTimeKind.Utc or DateTimeKind.Local;
var specifiedDate= DateTime.SpecifyKind(dtVal, c

[2021-06-14 13:02] jansenbe commented on #482
Thanks for fixing this, just merged your PR so closing the issue

[2021-06-14 13:02] #482 closed

[2021-06-14 13:07] jansenbe commented on #478
Good to see it works. If you don't like to use an async methods then do know there are sync equivalents from all public methods, so  you can call for example `context.Execute(false);` and `uploadedListItems.First().Load(d => d.All)`.

As the issue is fixed, I'm gonna close this issue. Thanks for reporting back on the progress.

[2021-06-14 13:07] #478 closed

[2021-06-14 13:09] jansenbe commented on #477
The most flexible approach to load list items with all the fields you need is doing a CAML query, like shown here via the ListDataAsStream option: https://pnp.github.io/pnpcore/using-the-sdk/listitems-intro.html#using-the-listdataasstream-approach

[2021-06-14 13:10] jansenbe commented on #477
Please create a new issue with the specific issues using the ListDataAsStream method in case you can't get that to work, in the meantime I'll close this issue.

[2021-06-14 13:10] #477 closed

[2021-06-15 09:16] stevedDev opened #485 "UserFields cleared after ListItem Update"
## Category

- [x] Bug

## Describe the bug

When issuing an Update/UpdateAsync against a List item, if there are any User Fields included in the List, unless they are updated by setting the Principal property, they are being cleared (nulled out) in the list.

Looks to be something wrong with the "Change tracking" for User fields, i.e. it thinks they have changed even when they haven't.

## Steps

[2021-06-15 11:37] jansenbe commented on #485
Thanks for reporting this @stevedDev. I'll build a test to repro this behavior and fix it. In the meanwhile, using systemupdate() maybe unblocks you? This uses another code path, so worthwhile a quick try

[2021-06-15 11:39] jansenbe commented on #241
Dusted and done, including docs: https://pnp.github.io/pnpcore/using-the-sdk/pages-social.html

[2021-06-15 11:39] #241 closed

[2021-06-15 11:49] stevedDev commented on #485
Hi @jansenbe,

Yes you are correct, using SystemUpdate does seem to work without clearing the User fields.

And better yet, that allows you to set the User field (when actually wanting to set it) using the LookupId property as well .

Thanks.
Steve

[2021-06-15 12:16] jansenbe commented on #485
@stevedDev : On a side note: your sample loads all the list items in `...GetByIdAsync( requestOptions.ListIdRequests, p => p.Title, p => p.Items...` while later on you load the needed list item again. In this case the code will be faster if omit the first load of the Items collection.

[2021-06-15 12:22] stevedDev commented on #485
@jansenbe, Ah! Good point, Thanks. - You may notice that line was just copied from one of the samples verbatim :)

[2021-06-16 13:51] DaleyKD opened #487 "Memory Leak due to Telemetry"
## Category

- [x] Bug

## Describe the bug
One of my teammates has been hunting a memory leak in our software for a few weeks now. Last night was the first night we saw zero increase in memory usage and it's because we set the `PnPCoreOptions.DisableTelemetry` to `false`.

He had narrowed it down to Application Insights, and after finally getting a good profile from ANTS, saw that it all revolved

[2021-06-16 14:08] jansenbe commented on #487
Thanks for raising this @DaleyKD , if this results in unneeded memory pressure then let's see how it can be done different.

[2021-06-16 15:48] jansenbe commented on #487
Related blog post : https://briancaos.wordpress.com/2020/05/07/c-azure-telemetryclient-will-leak-memory-if-not-implemented-as-a-singleton/

[2021-06-16 16:25] jansenbe commented on #487
@DaleyKD : feel free to turn off telemetry, but in case you want to keep it on the issue should be fixed via https://github.com/pnp/pnpcore/commit/d53fe718db4822d53931a9166486922bd2f0bd32. Really great to PnP Core SDK being used in a cloud scale scenario, please keep on reporting any memory/performance/scaling concerns you discover.

[2021-06-16 16:25] #487 closed

[2021-06-16 16:39] jansenbe commented on #487
@DaleyKD : Based upon my research it should, please let me know if you encounter issues

[2021-06-16 19:34] DaleyKD commented on #484
Maybe I'm way off base here, but I would have thought the purpose of the SharePoint REST functions would be to convert times based on the **WEB'S** time zone.

Doing a local implementation like this is going to be based on the local server's time zone.  If I'm calling `context.Web.RegionalSettings.TimeZone.UtcToLocalTime`, and that is set as Pacific, I'd expect that to come back as Pacific, even t

[2021-06-17 03:21] gopaldahal commented on #484
I agreed with @DaleyKD statements. The conversion is supposed to be based on **Webs** time zone.
If it's the same it's perfect @jansenbe, else may need some additional improvements.
Thank you.

[2021-06-17 04:03] gopaldahal opened #489 "Error message "One or more field types are not installed properly. Go to the list settings page to delete these fields.""
## Category

- [x] Bug

## Describe the bug

Loading listitems with OR filter is giving issue if there is only one item on OR filter inside Query node. However with multiple node inside OR filter is working as excepted.
**Working Code**
[code]

## Steps to reproduce

**Problamatic Code**
[code]

## Expected behavior

It should have been run with no error. Or
There should have been meaning full mes

[2021-06-17 07:45] jansenbe commented on #484
@DaleyKD , @gopaldahal : below is the used code. The reasoning I followed is this:

- context.Web.RegionalSettings.TimeZone is always loaded with the timezone of the web
- The TimeZone entity contains information about how this timezone differs from UTC, expressed via the Bias properties
- The code calculates the difference between the UTC and the web's timezone and uses that to change the date

I

[2021-06-17 08:09] jansenbe commented on #489
@gopaldahal : you're running into an issue due to a wrong formatted CAML query. PnP Core SDK just passes the received CAML to the server and the server is throwing the error you see. I think you need to drop the <Or> </Or> tags if you only pass one filter argument. This should work

[code]

[2021-06-17 13:39] DaleyKD commented on #484
@jansenbe : The ONLY thing that threw me off was seeing `TimeZoneInfo.Local`.  Everything else to that point made sense.

Now I see some commits from today adding NuGets to try and be platform independent because of Linux/macOS and how they do TimeZoneInfo differently.

I politely ask: is it worth it for this one edge-case, instead of just calling SharePoint REST?

I'll also throw out the SUPER ed

[2021-06-17 14:04] gopaldahal commented on #489
Thank you @jansenbe for the response.

I didn't find any documentation on the SharePoint end too, regarding no single FieldRef can be wrapped inside the "Or" filter though.

It would have been great if the error message from SharePoint itself been more meaningful full to the scenario.
I myself dug a lot on figuring out the same.

Any way thanks.

[2021-06-17 14:06] DaleyKD commented on #489
@gopaldahal : Welcome to the wonderful world of SharePoint development, my man.  I'm a whole decade in, and it still bites me in the butt. Be patient. 😃

[2021-06-17 14:17] jansenbe commented on #484
@DaleyKD : you're right about the ".Local"...I realized that as well...so just pushed a commit that translates a SharePoint timezone into a .NET TimeZoneInfo, so I can use the "web" timezone to assess whether DST is in play or not. It took more time than planned, but it bothered me that a server roundtrip was needed for this, especially since when working with items you might need to "convert" a l

[2021-06-17 14:18] #489 closed

[2021-06-18 03:54] gopaldahal opened #492 "List Item Attachments Operation missing!"
## Category

- [x] Feature request

## Describe the feature

Didn't find the list item Attachments operations.
Rest Provided operations are available on the shared link
https://s-kainet.github.io/sp-rest-explorer/#/entity/SP.ListItem

## Describe the solution you'd like

It would be great to have the List Item Attachments support soon.
Since we are already working on Batch operations and are suppo

[2021-06-18 04:09] gopaldahal commented on #484
@jansenbe, Thank you for the update. However, I need some time for its verification.
I strongly agree with the "Server call on lots of Dates". I assume this is strongly required, as there could be lots of dates on the same item. So it would be great if we have these functionalities within our PnP.Core.

[2021-06-18 06:07] jansenbe commented on #484
@gopaldahal , thanks for the feedback. I'm closing this issue now, best to open a new issue if you have problems with the implemented UtcToLocalTime and LocalTimeToUtc methods.

[2021-06-18 06:07] #484 closed

[2021-06-18 06:11] jansenbe commented on #492
@gopaldahal : listing/deleting the list attachments can work in batch, adding them will require a roundtrip per attachment to add, same applies to downloading the actual attachments

[2021-06-22 14:29] Micael-stack commented on #312
Pnp Powershell is really not working well with Ps 5.1. Switch to Ps7.

With VsCode :
![image](https://user-images.githubusercontent.com/52808567/122943104-bb630e00-d344-11eb-98d3-2c60509e0d29.png)

[2021-06-22 14:43] Micael-stack opened #493 "Add-PnpListItem with Batch cannot add values"
## Category
- [x] Bug

## Describe the bug

1. If i use Add-PnpListitem normally without batch, my item is fully created with my given values.
![image](https://user-images.githubusercontent.com/52808567/122944570-f154c200-d345-11eb-99f0-a3d9146996e2.png)

2. But if the command is run with batch param, Invoke-PnpBatch does nothing. there is no details and no error. The batch is cleared too.
![image

[2021-06-22 18:48] iloving opened #494 "Implement ASPXPageIndexMode"
## Category

- [x] Feature request

## Describe the feature

PnP is currently not able to configure the Site setting "ASPXPageIndexMode", which corresponds to Site Settings->Search and Offline Availability->Indexing ASPX Page Content.

A ticket was opened on the old SDK but that appears to be abandoned. https://github.com/pnp/PnP-Sites-Core/issues/2520

## Describe the solution you'd like

We need

[2021-06-23 05:53] gopaldahal opened #495 "Batch upload of Files"
## Category

- [x] Feature request

## Describe the feature

Is there any way we can upload files on batch?

## Describe the solution you'd like

## Additional context

Sharing is Caring!

[2021-06-23 07:34] gopaldahal opened #496 "Not able to Set value of "MetaInfo" property of item during batch commit."
## Category

- [x] Bug

## Describe the bug

If I set the MetaInfo value during the batch commit, The value is not being preserved.
It is just being set after the item is created and is updated using item.update()

## Steps to reproduce

[code]
## Expected behavior

MetaInfo Property should have been preserved using Batch. IF Property needs to be manually updated after batch, the complete batch ma

[2021-06-23 16:54] jansenbe commented on #494
@iloving : the property is available in REST (https://s-kainet.github.io/sp-rest-explorer/#/entity/SP.Web) and already implemented as a get in the SDK. I'll enable this to be also set, would that then unblock you?

[2021-06-23 17:06] jansenbe commented on #495
@gopaldahal : that's not an option using the regular REST or Graph API's. We however do have specific migration API's that typically are used by migration ISVs to perform bulk operations. See https://docs.microsoft.com/en-us/sharepoint/dev/apis/migration-api-overview for some more context. Doing a quick checks shows that these APIs can be used from REST (https://s-kainet.github.io/sp-rest-explorer

[2021-06-24 14:59] iloving commented on #494
It would.  While I have only identified needing this specific setting editable, would it be a big deal to do the same with any others?  I'm sure I'm not the only one that wants to use PnP to handle all the site deployment automation.

[2021-06-24 15:50] dhz1234 opened #498 "Adding multiple ListItem problem"
## Category

- [x] Bug

## Describe the bug

I have a foreach cycle to define and upload multiple ListItem in a SharePoint List.
The items are created inside some subfolders. (but I also tried in the root of the library)
The first Item is correctly created, all the next items are not created and no error or exception is rised.

## Steps to reproduce

[code]

## Expected behavior

A number of item

[2021-06-24 15:58] jansenbe commented on #494
The property now is settable in the SDK. Which other properties do you need to get added?

[2021-06-24 16:02] iloving commented on #494
At this point I don't know because I've been blocked by this.  I'm just saying that, unless there is a reason for a property to not have a set method, properties should have both get/set by default instead of waiting for people to make an explicit request.

[2021-06-24 16:37] iloving commented on #494
I'm still not seeing the property with the the latest Pnp.Powershell nightly.  Is there something else I need to do?

[2021-06-24 17:32] jansenbe commented on #494
The property was added in PnP Core SDK...not all PS cmdlets use PnP Core SDK. Think you need an additional argument in `Set-PnPWeb` that can set this property. If so please create an issue in the PowerShell repo to request this.

Alternatively you can use the PS CSOM returned object, something like this work:

[code]

[2021-06-24 17:33] jansenbe commented on #498
Thanks for reporting this @dhz1234 , I'll have a look

[2021-06-24 19:00] iloving commented on #494
Just to confirm, I hope you mean ASPXPageIndexMode because AllowAutomaticASPXPageIndexing is already there.

[2021-06-24 19:45] DaleyKD commented on #494
@iloving - I see zero indication that `ASPXPageIndexMode` is a property available to us via SharePoint REST or SharePoint CSOM.  It appears to only be available via SharePoint SSOM (server-side object model).

I don't know how `AllowAutomaticASPXPageIndexing` and `ASPXPageIndexMode` correlate if at all.

[2021-06-25 07:30] jansenbe commented on #494
@iloving : ASPXPageIndexMode is not exposed to client side APIs (neither REST, CSOM or Graph) and therefore there's no option to configure this value for SPO. This is by design and this project can't change the SharePoint APIs, hence closing this issue. If you really feel this is a blocker for you then please work with our support organization to voice this concern.

[2021-06-25 07:30] #494 closed

[2021-06-25 08:02] jansenbe commented on #498
@dhz1234 : I just wrote below test case and things do work from my side (see code below).

[code]

Do note that you can also batch these adds, this way you'll only have one server roundtrip versus 10:

[code]

[2021-06-25 08:08] jansenbe commented on #495
Hi @gopaldahal, given that these migration APIs are specific for migration tool vendors we're currently not planning to add support for them in PnP Core SDK, so I'll close this issue. You can however use the custom API call option to integrate them in your code base: https://pnp.github.io/pnpcore/using-the-sdk/basics-customapirequests.html#making-a-custom-spo-rest-request

[2021-06-25 08:08] #495 closed

[2021-06-25 08:08] jansenbe commented on #496
Thanks for reporting this @gopaldahal , I'll have a look

[2021-06-25 08:49] jansenbe commented on #496
@gopaldahal : things seem to go wrong as soon as you're adding extra fields (so MetaInfo in your case)...I'll investigate

[2021-06-25 08:50] jansenbe commented on #498
@dhz1234 : looking into another issue revealed that list items are not added anymore whenever there's more than the title field in the payload...investigating now...

[2021-06-25 08:52] jansenbe commented on #493
@Micael-stack : this is the same issue as in #496 and #498. Let's use #498 to track this.

[2021-06-25 08:53] jansenbe commented on #496
@gopaldahal : this is the same issue as #498 and #493. Let's use #498 to track this.

[2021-06-25 10:37] jansenbe commented on #498
@dhz1234 , @gopaldahal, @Micael-stack: when setting custom field properties it's **required** to use the field's **InternalName**. When adding fields SharePoint sometimes appends a number to the name you've provided, so when adding for example a field with name "MetaInfo" the actual internal name will be "MetaInfo0".

Can you confirm that when using the actual internal name of the field the batch

[2021-06-25 10:55] dhz1234 commented on #498
@jansenbe I found my issue.
The problem was on a specific field that was causing problems.
But I think that this could be an issue too:

I have to populate a people field with multiple users.
All the listItems that i'm adding have the same list of users, so I calculate the field right before the "for" loop, in this way:

[code]

Then after populating this field "_userCollection" i proceed with my

[2021-06-25 11:15] gopaldahal commented on #498
@jansenbe,
"MetaInfo" property do not hold "0" at end as you mentioned
![image](https://user-images.githubusercontent.com/27617624/123416891-d51b8400-d5d6-11eb-822c-6f6b5c6ae25a.png)

[2021-06-25 11:22] jansenbe opened #499 "Syntex Classify and Extract feature chokes when there are folders present"
The current code does not correctly handle folders when iterating over the contents of a library

[2021-06-25 11:25] jansenbe commented on #498
@gopaldahal : is your column a regular text column or from a different type?

[2021-06-25 11:29] jansenbe commented on #498
@dhz1234 : as the NewFieldValueCollection does track changes, it's indeed required to create a new one for each row you're creating.

[2021-06-25 11:42] gopaldahal commented on #498
@jansenbe, Exploring the field metadata, it is a lookuptype,

Uing CSOM, I used to update the same with
item["MetaInfo"] = "some XML values"

[2021-06-25 11:55] jansenbe commented on #498
@dhz1234 , @gopaldahal, @Micael-stack: just pushed a change that will throw an exception when the adding of the IListItem succeeded with HTTP 200 while the `HasException` property of the returned IListItem data is true. This will at least inform folks when the fields InternalName is different from the StaticName.

[2021-06-25 12:00] jansenbe commented on #498
@dhz1234 : I've pushed a doc update to clarify the requirement on the IFieldValueCollection, this should help others prevent making the same error

[2021-06-25 12:02] jansenbe commented on #498
@gopaldahal : check out this for handling lookup fields https://pnp.github.io/pnpcore/using-the-sdk/listitems-fields.html#lookup-fields.

[2021-06-25 12:02] jansenbe commented on #493
Closing this as it's a duplicate as mentioned above

[2021-06-25 12:02] #493 closed

[2021-06-25 12:04] jansenbe commented on #496
Closing this one as duplicate

[2021-06-25 12:04] #496 closed

[2021-06-25 12:05] jansenbe commented on #492
Closing this one as it was answered via #495

[2021-06-25 12:05] #492 closed

[2021-06-25 12:54] Micael-stack commented on #498
@jansenbe i will look into it but from my side all my internal names and static names are normally the same. All my fields in my test were simple text and datetime.

[2021-06-25 16:09] jansenbe commented on #498
@Micael-stack : if you try with the next nightly from PnP PS you'll be able to verify things, if this is due to a field returning an exception on save you'll now see an exception being thrown. I was surprised by the differences between InternalName and StaticName...I need to dig deeper to understand why SharePoint sometimes appends a number to the InternalName.

[2021-06-25 16:57] jansenbe commented on #499
Fixed

[2021-06-25 16:57] #499 closed

[2021-06-25 17:46] jansenbe commented on #485
@stevedDev : started working on this and can reproduce...next step is creating a fix.

[2021-06-25 19:31] Micael-stack commented on #498
@jansenbe  If your static and internal dont match, it is because you got into two possibilities : the internal name was already used within the site, or, the length was too long. Static name is not unique and internal should always be prefered if we want perfect match...

[2021-06-28 04:42] gopaldahal opened #501 "Authenticate Onpremise SharePoint using PnP"
## Category

- [x] Feature request

## Describe the feature

Since PnP Core makes use of Graph and Rest, and On-premise itself makes use of Rest API.
It would be great if we can add the authentication process for OnPremise as well.
It would add great support.

## Describe the solution you'd like

We already have the option to use Graph or Not, Thus if I do not want to make use of Graph and just Re

[2021-06-28 04:48] gopaldahal opened #502 "Not able to Update LookUp property"
## Category

- [x] Bug

## Describe the bug

Using CSOM, It is possible to update the lookup property with a string value, which does not particularly require its lookupvalue property type.

For example
item["MetaInfo"] = "some XML values"
It is possible to read back the same string value during the read.
I need a way to update value in a same way on PnP.

## Steps to reproduce
I tried the same on

[2021-06-28 09:20] jansenbe commented on #501
Hi @gopaldahal , PnP Core SDK only targets SharePoint Online and we don't have plans to support it for SharePoint on-premises scenarios. The REST API surface differs between on-premises SharePoint versions and SharePoint Online, so building support would require taking in account these differences, which will add a lot of extra complexity and maintenance cost. Hope that clarifies things.

[2021-06-28 09:20] #501 closed

[2021-06-28 09:21] jansenbe commented on #502
Related to #485, which I'm working on

[2021-06-28 11:17] jansenbe commented on #485
@stevedDev : just pushed a fix. This issue appeared for all "special" fields like user, lookup, taxonomy and url. Please give tomorrow's nightly a go and re-open this issue if you still have issues

[2021-06-28 11:17] #485 closed

[2021-06-28 11:33] jansenbe commented on #502
The accidental "clearing" of special fields (like lookup or user) has been fixed via #485. Reading your question again and trying to understand the ask here. You set a lookup field by setting the lookupid...this will then make SharePoint display the relevant values in the columns that are taken from the looked-up list item. Using the lookupid property is possible today (see https://pnp.github.io/p

[2021-06-28 11:43] jansenbe commented on #399
@wonderplayer : there was an issue (#485) which resulted in too many fields "marked as changed" when they were loaded...which then resulted in additional issues when calling one of the update methods on the list item. This fix in #485 should also handle this issue I think, so would recommend trying the latest version and see if things now work. If not, please create a new issue so we can follow-up

[2021-06-28 11:43] #399 closed

[2021-06-28 16:49] jansenbe opened #503 "Document working with users, groups, and permissions"

[2021-06-29 03:17] gopaldahal commented on #502
@jansenbe, Using CSOM I need not use create NewFieldLookupValue type object, Which Means I used to assign the string value of Lookvalue of Id (In string form).
I got with the below implementation.
[code]
I am preparing with an example set. will update soon on the same thread. Till then please do not close the thread. Please :)

[2021-06-29 06:58] jansenbe commented on #502
@gopaldahal : I'm not closing the issue, no worries :-)

The thing however is that since we use the `AddValidateUpdateItemUsingPath` REST call for adding and `ValidateUpdateListItem` REST call for updating we need information about the type of field being added. That's the reason we recommend ensuring the fields of a list are loaded before you started adding/updating items to that list. You can co

[2021-06-29 08:43] patrikhellgren commented on #457
@jaganpt Sorry for the late reply. As you may have figured out already, you cannot use ManagedIdentityTokenProvider for local development since there are no managed identities available locally. That is why you should use ```ChainedTokenCredential``` or ```DefaultAzureCredential``` to have authentication working both locally and in Azure like I describe in [pnp/pnpframework#303](https://github.com

[2021-06-29 12:17] dgtheninja opened #504 "GetByIdAsync fails when taxonomy field empty"
## Category

- [x] Bug

## Describe the bug

I have a document library with a taxonomy field, which is optional and several items do not have a value. When I call the library.Items.GetByIdAsync method it fails on the items where the taxonomy field is not set with a System.InvalidOperationException, with the message "The requested operation requires an element of type 'String', but the target eleme

[2021-06-29 18:57] jansenbe commented on #504
Good catch, I'll have a look and fix it

[2021-06-30 06:45] jansenbe commented on #504
@dgtheninja : I'm not able to reproduce the issue (tried with below test case), but the stack trace and error are quite clear, seems that for some reason you're getting JSON data that has a null value for the term id. I've added additional checks on the JsonElement kind (object, not null) before trying to get the actual value from the element. This should prevent the errors you see. Would be good

[2021-06-30 06:48] jansenbe commented on #504
@dgtheninja : I'm closing the issue now, but feel free to re-open if you still experience issues with the nightly builds as of July 1st.

[2021-06-30 06:48] #504 closed

[2021-06-30 06:51] jansenbe commented on #498
@Micael-stack : can you confirm the updates helped...using internal names should work, if for some reason the internal name differs from the static name or something else goes wrong while saving you know should see an exception being thrown.

[2021-07-01 08:25] gopaldahal commented on #502
Hi @jansenbe,

As I mentioned earlier, using CSOM I am able to insert the XML string(or any string) on the "MetaInfo" (Look up type) property (The property is the default property of SharePoint itself which holds metadata of item).
I am doing this to keep additional information on items for my additional business purpose, so that I can track/read when needed.

Using CSOM what I am currently doing

[2021-07-01 11:32] gopaldahal commented on #492
Hi @jansenbe, I don't know how this item is related to the batch upload of attachments Since we don't have any feature neither using batch.

Please correct me if I am wrong, but I didn't see any method that supports just a single upload of attachment on the dataitem.
And it is obvious that a list item can have multiple attachments. And this will come in mass sooner.
I think we need to work out on

[2021-07-01 12:12] gandalf516 opened #506 "Invoke-PnPBatch does not save items added via Add-PnPListItem with -Batch $batch parameter"
## Category

- [x] Bug

## Describe the bug

Calling Add-PnPListItem for 200+ items with -Batch $batch parameter and invoking Invoke-PnPBatch also with -Batch $batch parameter and no items get created (first time I ran it, it created 7 items, no items created on subsequent script runs)

## Steps to reproduce
Call Add-PnPListItem for 200+ items with -Batch $batch parameter and invoking Invoke-PnPBa

[2021-07-01 12:24] jansenbe commented on #506
@gandalf516 : there's an issue with the current PowerShell nightly as it still refers to the previous version of PnP Core SDK. We'll first need to get that fixed before you can retest this again...so moving this issue to PowerShell repo for now.

[2021-07-02 06:43] jansenbe commented on #492
Correct, I'll create a new issue to track the need for uploading list item attachments

[2021-07-02 06:46] jansenbe opened #507 "Add support for handling list item attachments"
## Category

- [x] Feature request

## Describe the feature

ListItems in SharePoint can have one or more attachments but using PnP Core SDK these cannot be managed.

## Describe the solution you'd like

Support in PnP Core SDK to add/remove list item attachments.

[2021-07-02 10:00] jansenbe commented on #498
note that there's an issue with the current PowerShell nightly builds as they still use an older version of PnP Core SDK...so the done updates are not showing up in PowerShell...we're working on a fix for that.

[2021-07-02 11:26] jansenbe commented on #498
and PowerShell issue has been fixed, so tomorrow's nightly will use the latest PnP Core SDK again

[2021-07-02 16:49] Micael-stack commented on #498
@jansenbe  i just tested pnp.Powershell Nightly 1.6.25, i was having same result ( no items, no message) then i tried to isolate the specific field and i got the problem : The batch method doesn't format correctly date field string from supported language. I can call add-pnpListItem with a date format "YYYY-MM-DD time" but in batch it wont work and espect me to pass an english standard "DD/MM/YYYY

[2021-07-02 16:54] jansenbe commented on #498
@Micael-stack : with tomorrow's PnP PS build you should see an exception being thrown for this (as PnP PS was still using an old PnP Core library). Good that you've found the failing field...maybe create a PR for the PowerShell docs to clarify this?

[2021-07-02 16:56] jansenbe commented on #498
I'm closing this issue. @gopaldahal already created a new issue for his specific ask, if others still have issues recommend to do the same.

[2021-07-02 16:56] #498 closed

[2021-07-02 17:44] jansenbe commented on #502
Hi @gopaldahal , have been doing some checking on this and to me updating MetaInfo by appending data to it feels like a hack. Since you've been doing this, it works, but the correct way to add custom data to a list item is by adding the needed (hidden) columns for your custom data. As there's server-side code that parses this field adding arbitrary content to it is not recommended and to be honest

[2021-07-04 03:15] gopaldahal commented on #502
Hi @jansenbe
![image](https://user-images.githubusercontent.com/27617624/124371916-221deb00-dca6-11eb-844e-eb6523722b8e.png)
I did read with ### FieldValuesAsText but working as expected.

[2021-07-05 07:32] jansenbe commented on #502
@gopaldahal : are you good with closing this issue?

[2021-07-05 12:36] jansenbe commented on #267
Working on this

[2021-07-05 17:31] jansenbe commented on #267
Done!

[2021-07-05 17:31] #267 closed

[2021-07-06 13:03] gopaldahal commented on #502
Hi @jansenbe,
I still didn't get the solution for my problem.
I am working for years on setting and retrieving "MetaInfo" Information using CSOM with explained set of data.
And SharePoint itself supports from its end.

This is the case of mandatory to be supported on Pnp from my end.

Since SharePoint itself support the case, What I suppose is we need to address the scenario on PnP too.
There must

[2021-07-06 17:49] jansenbe commented on #507
Feature commited, docs coming soon so closing this issue. @gopaldahal : please create a new issue in case you encounter issues with the implemented functionality.

[2021-07-06 17:49] #507 closed

[2021-07-07 03:33] gopaldahal commented on #507
Thank you for the Contribution @jansenbe. Will be verifying it soon.

[2021-07-07 14:32] wonderplayer opened #508 "Follow-up on "Can't update list item #399""
This is a follow-up issue to #399 issue, as unfortunately it wasn't resolved with that resolution of #485 issue.
I am still  getting exception, when trying to update a list item after getting it by ID.

[2021-07-07 19:07] jansenbe commented on #508
@wonderplayer : which version did you test with? I did another related fix yesterday, so if you've tested with a version older than today's then please give the latest version a quick try. Note that I'm OOF, so will take some time to dive into the details

[2021-07-08 06:22] wonderplayer commented on #508
I tested with 1.2.30-nightly

[2021-07-12 08:44] dgtheninja commented on #504
Thanks @jansenbe, I'm not seeing the issue with the latest nightly builds

[2021-07-17 13:34] HWHofstee commented on #295
@jansenbe Is there progress (to be expected) on this issue? If not, maybe it is better to remove this option from the documentation or add a comment that this is not working yet.

[2021-07-27 14:28] jansenbe opened #515 "Add TryGetFileByServerRelativeUrl methods that can handle a non existing file + remove the Exists property"

[2021-07-27 14:32] DaleyKD commented on #515
Are you going to get rid of IFile.Exists?  We use that very heavily.

[2021-07-27 17:00] jansenbe commented on #515
Does Exists ever get set to false when you load a file that does not exist today? Someone reported that it doesn't as an exception is thrown which is not caught...hence it would never be set to false. I'll do some additional testing, but for now will not remove Exists, thanks for the quick feedback

[2021-07-27 17:06] DaleyKD commented on #515
Honestly not sure.  I can try to give it a test if I find some time.

A lot of code has been migration from CSOM to REST, so the `.Exists` is definitely because of old CSOM.

[2021-07-28 09:57] jansenbe opened #516 "SetAuthorInPageHeader : review feature completeness"

[2021-07-28 13:55] jansenbe commented on #515
Did some more testing and the Exists property in REST does not work as expected, trying to load a non existing file simply returns in an exception being thrown by the server. @DaleyKD : I would recommend reviewing your code paths that use Exists as they might not work as expected.

I'll start working on a TryGetFileByServerRelativeUrl that returns false if the file does not exist and true + the IF

[2021-07-28 14:00] DaleyKD commented on #515
@jansenbe .  Thanks!

Would returning `null` if something goes awry be better?  (Doesn't matter to me.  Just curious.)

It'll be a while before we implement this function.  I plan on "upgrading" to GA 1.3 and camping out there for a while.  This is the last week of our Programming Increment, and I'm not sure what we'll be doing next.

[2021-07-28 14:52] jansenbe commented on #515
Let me see if I can mimic the CSOM exists behavior instead of introducing a new method.

[2021-07-29 09:10] jansenbe commented on #515
I added a Added IWeb.GetFileByServerRelativeUrlOrDefault methods that can return null for non existing files. Did not go for the tryget... approach as the .NET convention requires it to return a bool with an out param and using out params in async methods is a no go. The "OrDefault" implementation is aligned with LINQ/EF.

@DaleyKD : as there was no way to get Exists to work reliable (especially i

[2021-07-29 09:10] #515 closed

[2021-07-29 09:34] jansenbe commented on #516
not relevant

[2021-07-29 09:34] #516 closed

[2021-07-29 10:01] jansenbe commented on #502
@gopaldahal : can you provide a fiddler trace showing how this is set using CSOM and send it to bjansen@microsoft.com. When you do a SystemUpdate() or UpdateOverwriteVersion() in PnP Core we under the covers fall back to CSOM...I want to cross check if this approach can unblock this scenario for you.

[2021-07-29 10:03] jansenbe commented on #457
Closing this issue here as it's not anymore a PnP core issue but more a question on how use system credentials in Azure. @jaganpt : if still needed please create a discussion (not an issue) for this. Thx.

[2021-07-29 10:03] #457 closed

[2021-07-29 10:41] gopaldahal commented on #502
Sure. I will come to this soon.

[2021-07-29 14:39] jansenbe commented on #508
@wonderplayer : I'm not able to reproduce the issue. I've built below test case on this one correctly updates the item when it was loaded using `GetByIdAsync`. Both CSOM driven updates (`SystemUpdate`/`UpdateOverwriteVersion`) as REST updates (`Update`) work fine in my test.

Does below test mimic your setup? If not can you help me build a repro for this issue?

[code]

[2021-08-02 08:12] gopaldahal commented on #502
Hi @jansenbe,

I have sent you an email with the attachments that hold the request-response of the request made through CSOM.
[code]
This is the working code I am using to update the "MetaInfo" (Lookup) property using CSOM.

Please let me know if I need to add more.

Thank you

Sharing is Caring!!

[2021-08-04 14:35] MarcoSR2021 opened #519 "Text field value is as DateTime"
## Category

- [x] Bug

## Describe the bug

A value "1.1" in a text field on a Sharepoint list item is returned as DateTime from the Values collection.
FieldValuesAsText doesn't contain the custom field.

## Steps to reproduce

1. Define a singleline text field on a Sharepoint list, e.g. "ChapterNumber"
2. Create a new list item
3. Enter "1.1" as value for the field
4. Retrieve list item via `Get

[2021-08-05 11:11] MarcoSR2021 commented on #519
Added information that GetByIdAsync has this issue while LoadListDataAsStreamAsync doesn't have it.

[2021-08-05 18:15] wonderplayer commented on #508
@jansenbe
So, your setup really does work for me. But here is the trick - only your example does.
If I update any other page except home page, I get an exception. Pretty funny 😄

[2021-08-11 19:17] subhasishmukhopadhyay2018 opened #522 "PnP Core in C# not able to change Created, Created By, Modified, Modified By columns in SharePoint list item"
## Category

- [x] Bug

## Describe the bug
PnP Core based code in C# not able to change Created, Created By, Modified, Modified By columns in SharePoint list item

## Steps to reproduce

1. See code below

 IField createdByField = listObj.Fields.Where(f => f.InternalName == "Author").FirstOrDefault();
 ISharePointUser createdByObj = await context.Web.EnsureUserAsync(item.CreatedBy);
 FieldValue c

[2021-08-13 07:37] pkbullock commented on #248
Found a .net tool in private preview that might allow us to fork and create a PnP Core Specific one. https://github.com/dotnet/try

[2021-08-13 08:18] gopaldahal commented on #522
Author and Editor are of FieldUserValue model. Thus assigning such field can be explored through provided URL
https://pnp.github.io/pnpcore/using-the-sdk/listitems-fields.html#user-fields

[2021-08-13 08:33] gopaldahal opened #525 "Trouble on setting Note type property."
## Category

- [x] Bug

## Describe the bug

I am trying to add a field on batch.
Equivalent field detail on List is:
`<Field Type="Note" DisplayName="manage metadata_0" StaticName="ifb8bf8e64a2409792e0bafa62ec7b76" Name="ifb8bf8e64a2409792e0bafa62ec7b76" ID="{f6917801-4617-4a9c-b749-719a0c297056}" ShowInViewForms="FALSE" Required="FALSE" Hidden="TRUE" CanToggleHidden="TRUE" SourceID="{5ef68286-28

[2021-08-23 13:47] jansenbe commented on #502
Hey @gopaldahal ,

In my testing your scenario (updating the MetaInfo field) works when you use `SystemUpdate` or `SystemUpdateOverwriteVersion`. These two methods are implemented using CSOM under the covers (as there's no REST equivalent). Below is my test code:

[code]

[2021-08-23 13:57] jansenbe commented on #525
@gopaldahal : does updating the field outside of a batch work? Did you try with `SystemUpdate` or `UpdateOverwriteVersion` as those fall back to a CSOM request...

[2021-08-23 14:50] jansenbe commented on #522
@subhasishmukhopadhyay2018 : here's a piece of code that shows how to do this, just verified this in my test environment:

[code]

[2021-08-23 15:23] jansenbe commented on #519
@MarcoSR2021 : this indeed a bug, will work on a fix

[2021-08-23 18:01] jansenbe commented on #519
@MarcoSR2021 : I've added a fix that will prevent DateTime parsing for short strings...this still does not prevent a text field with a normal formatted date time string (length 10 or more) to be parsed as DateTime, but at least there should be less occurrences

[2021-08-24 03:26] gopaldahal commented on #502
Hi @jansenbe,

Thank you for the update and sample code.
But my concern is regarding the Batch operations.
I have hundreds of items that need to be added to the list. Adding all the items on batch and updating the same items individually with system update does not justify me as a batch which ultimately increases the sever call.

My question is,
Do you mean, we can't achieve the "MetaInfo" Field t

[2021-08-24 04:32] gopaldahal opened #528 "Unhandled exception thrown while making request with LoadListDataAsStreamAsync. Problem with 1.3.0"
## Category

- [x] Bug

## Describe the bug

Having an issue with making requests for list items with the LoadListDataAsStreamAsync method.
The issue is only on 1.3.0 version. Working as expected on 1.2.0.
The problem is only in some libraries.

[code]

Exception thrown under given stack trace with msg "Object reference not set to an instance of an object."
   at PnP.Core.Model.SharePoint.FieldVal

[2021-08-24 04:48] gopaldahal commented on #525
@jansenbe : Tried with SystemUpdate and UpdateOverwriteVersion. Still no luck.

Exception thrown with message:**One or more field types are not installed properly. Go to the list settings page to delete these fields.**

Stack Trace:
   at PnP.Core.Services.BatchClient.ProcessCsomBatchResponse(CsomBatch csomBatch, String batchResponse, HttpStatusCode statusCode)
   at PnP.Core.Services.BatchClient.

[2021-08-24 07:10] jansenbe commented on #502
@gopaldahal , let me check the add story...when using `SystemUpdate` or `UpdateOverwriteVersion` you can also apply batching, so you could have one batch that creates the items and one batch that updates them to set the "MetaInfo" field.

[2021-08-24 07:10] jansenbe commented on #519
@MarcoSR2021 : closing this issue, but feel free to re-open or raise a new issue if you still face issues.

[2021-08-24 07:10] #519 closed

[2021-08-24 07:11] jansenbe commented on #522
@subhasishmukhopadhyay2018 : closing this issue, but feel free to re-open or raise a new issue if you still face issues.

[2021-08-24 07:11] #522 closed

[2021-08-24 08:14] jansenbe commented on #502
Using our REST based add methods it's not possible to set this field on list item add, but as mentioned above batching of the update requests does work. I've updated my test case (see ) or below snippet which adds/updates 10 items via 2 server roundtrips.

[code]

[2021-08-24 08:16] jansenbe commented on #502
@gopaldahal : I don't see any other options for this edge case (there's very few people updating the metainfo field), so are you good with closing this issue?

[2021-08-24 08:34] jansenbe commented on #502
@gopaldahal : are you in your current CSOM code adding a list item and setting the "MetaInfo" field in a single request?

[2021-08-24 08:34] gopaldahal commented on #502
@jansenbe:

The interesting thing that I find on PnP.Core.SDK is its batch operation. The primary reason, I am testing on its behaviour is for the same reason.
There must be some workaround with this one and do not suggest you with its close.

Thank you

[2021-08-24 08:35] jansenbe commented on #528
I've added some extra safety checks on null and types, let me know if that helps (will be available in the next nightly release).

[2021-08-24 08:37] gopaldahal commented on #528
Will update you, if its resolved.

[2021-08-24 08:57] jansenbe commented on #502
@gopaldahal : batching of `SystemUpdate` or `UpdateOverwriteVersion` works when updating the MetaInfo field of list items...what else do you need? Confused now...

[2021-08-24 09:17] jansenbe commented on #525
@gopaldahal : since the note field you're trying to set is the hidden field linked to a managed metadata field wouldn't it be better to use the managed metadata field approach instead of trying to force update the note field? See https://pnp.github.io/pnpcore/using-the-sdk/listitems-fields.html#taxonomy-fields for how to do that

[2021-08-24 09:20] jansenbe commented on #525
@gopaldahal : also, if you want to clear the field using your above approach try this `prop1.Add("ifb8bf8e64a2409792e0bafa62ec7b76", null);` assuming it's a single value managed metadata field.

[2021-08-24 09:20] jansenbe commented on #508
@wonderplayer : thanks for the feedback, seems to be tricky issue :-) I'm back from vacation, so will have a look at this one again

[2021-08-24 09:31] gopaldahal commented on #502
@jansenbe:
I am just giving concern on if there came up with other properties that cant go on batch during add.
Additionally, I am being confused about how can I differentiate the properties that can go on batch during **Add** and the properties that must be pushed with the **update**.
These are the reason, I don't want you to make this item close immediately.
If you are cent percent sure that pro

[2021-08-24 09:35] gopaldahal commented on #525
@jansenbe:
I have no problem with updating the property with   [](https://pnp.github.io/pnpcore/using-the-sdk/listitems-fields.html#taxonomy-fields). But how can I identify that the property is of type managed metadata field, as its showing of Note Type?

[2021-08-24 09:38] jansenbe commented on #508
@wonderplayer : tried with adding a new page and then setting the page metadata and that did work as well (see below code), but adding the page manually and then trying to set the metadata failed...so we have a repro! Will update this thread once I know more

[code]

[2021-08-24 11:31] jansenbe commented on #525
@gopaldahal : SharePoint under the covers creates a hidden Note field for each managed metadata column, e.g.

**Managed Metadata field**
Title: MMSingle
TypeAsString: TaxonomyFieldType
SchemaXml:

[code]

Linked hidden note field:
Title: MMSingle_0
TypeAsString: Note
SchemaXml:

[code]

The name of the Note field is actually the ID of the corresponding taxonomy field, so when you encounter hidden

[2021-08-24 11:34] gopaldahal commented on #525
@jansenbe: I tried with empty, null, and with a random string, wasn't working on my end.

[2021-08-24 11:44] jansenbe commented on #502
@gopaldahal : fields added by a user or application can be updated/added without issues, the fields you're having issues with are system fields. Some system fields can be set (like author/editor/modified/created if you update them via UpdateOverwriteVersion) but most can't and shouldn't. https://github.com/pnp/pnpcore/blob/dev/src/sdk/PnP.Core/Model/SharePoint/Core/Internal/BuiltInFields.cs is a c

[2021-08-24 11:44] #502 closed

[2021-08-24 12:19] gopaldahal commented on #502
@jansenbe:
My apology but am neither convinced with your justification. I was just concerned with the behavior of SharePoint itself. If it supports batch, must have support for every field (not for some).  Since the property can be updated, it must have been supported with Add too.

I hope the demand of such behavior will come in bulk sooner. We may need to be prepare for the same though we have s

[2021-08-24 16:25] jansenbe commented on #508
@wonderplayer : when loading list items using the "regular" approach some fields (like _AuthorByLine) were wrongly marked as changed after the load. When using the `ListDataAsStream` approach we did clear all fields marked as changed after the load, we're now doing the same for the "regular" approach as well.

[2021-08-24 16:25] #508 closed

[2021-08-27 19:40] juliemturner opened #531 "Error attempting to get web.webs"
## Category

- [x] Bug

## Describe the bug

I have a solution that is executing various calls for list information in the root web.  I then want to verify that there are no similar document libraries (all these calls seem to be working fine) in any potential sub webs (as this is a migration situation) and so after retireving library information I am attempting to get a listing of any subwebs in a

[2021-08-28 16:00] juliemturner commented on #531
Yes, thank you... I don't know why I'm struggling with the documentation so much... I search for things but apparently never ask the questions correctly.  Appreciate the assist.

[2021-08-28 16:00] #531 closed

[2021-08-31 15:00] Employee87 opened #666 "[BUG] Remove sections of the page not working"
### Reporting an Issue or Missing Feature
Issue

### Expected behavior
It removes the sections of the page.

### Actual behavior
Sections of the page still persists. No error thrown. I tried a test where the Home page has 2 sections. And it prints out `1` and then `0`.

### Steps to reproduce behavior
[code]

### What is the version of the Cmdlet module you are running?
Manifest 1.7.0 PnP.PowerShe

[2021-09-01 05:05] gopaldahal commented on #528
@jansenbe:
It is fine now. Thank you.

[2021-09-01 06:39] #528 closed

[2021-09-02 06:24] jansenbe opened #534 "Document error handling"

[2021-09-02 07:51] jansenbe commented on #534
Done: https://pnp.github.io/pnpcore/using-the-sdk/basics-errorhandling.html

[2021-09-02 07:51] #534 closed

[2021-09-02 07:54] jansenbe opened #535 "Update samples to use 1.3 version of PnP Core SDK"

[2021-09-02 15:17] jansenbe commented on #535
done

[2021-09-02 15:17] #535 closed

[2021-09-03 16:51] Ofer-Gal opened #536 ""Requested value 'systemEventMessage' was not found." for Chat Messages"
## Category

- [x] Bug

## Describe the bug

Folowing the code from https://pnp.github.io/pnpcore/using-the-sdk/teams-channel-chat.html for
Getting Chat Messages
I get error "Requested value 'systemEventMessage' was not found" for the line
`channel = await channel.GetAsync(o => o.Messages);`
## Steps to reproduce
[code]
Thank you very much

[2021-09-04 00:07] jansenbe commented on #536
@Ofer-Gal : I can reproduce your issue, looking into a fix now.

[2021-09-04 00:26] jansenbe commented on #536
@Ofer-Gal : issue has been fixed, next nightly (version 1.3.40) will contain the fix. Thanks for reporting this.

[2021-09-07 10:38] jansenbe commented on #536
@Ofer-Gal : you can verify if the latest nightly fixes things for you?

[2021-09-08 21:11] czullu opened #539 "Support for new Section Properties in Client Side Pages"
## Category

- [x] Feature request

## Describe the feature
In order to support new sections settings in Client Side Pages we should add support for those new settings into PnP.Core\Model\SharePoint\Pages\Internal\CanvasControlData.cs

	"zoneGroupMetadata": {
		"type": 1,
		"displayName": "Docs",
		"isExpanded": true,
		"iconAlignment": "right",
		"showDividerLine": true
	},
	"reservedHeight": 693

[2021-09-09 06:20] jansenbe commented on #536
Closing, don't hesitate to re-open or open a new issue if things still do not work as expected

[2021-09-09 06:20] #536 closed

[2021-09-09 06:53] czullu commented on #539
@jansenbe just seen MC266077 - you might have more info if there will be some upcoming changes to this settings

[2021-09-09 10:24] jansenbe commented on #539
@czullu : support for collapsible sections has been added, see https://github.com/pnp/pnpcore/blob/dev/src/sdk/PnP.Core.Test/SharePoint/PagesTests.cs#L790-L873 for a test showing how to use them. Docs (https://pnp.github.io/pnpcore/using-the-sdk/pages-intro.html) are also updated.

Please give this a try with tomorrow's build and let me know if you face issues.

[2021-09-09 16:16] jansenbe opened #540 "Move taxonomy support to use V1 graph API instead of Beta"

[2021-09-09 16:48] jansenbe commented on #540
https://graph.microsoft.com/v1.0/termstore is not yet working, let's hold until the v1 is fully rolled out.

[2021-09-09 18:26] czullu commented on #539
@jansenbe looks good to me. could read and change the settings - even the crazy title test was ok.
![image](https://user-images.githubusercontent.com/31336529/132741873-06c38c76-ecd6-4885-803f-2ba2734d44ed.png)
**Thank you**

[2021-09-09 19:15] jansenbe commented on #540
Done

[2021-09-09 19:15] #540 closed

[2021-09-09 19:15] #539 closed

[2021-09-11 09:07] TkachouAndrej opened #542 "Dynamics 365 CE online plugin error"
## Category

- [x] Bug

## Describe the bug

## Steps to reproduce

## Expected behavior

## Attachments

<img width="731" alt="1" src="https://user-images.githubusercontent.com/46528729/132942541-1fb629da-9d48-400c-bc7a-7c6365d21b7b.png">

<img width="1383" alt="2" src="https://user-images.githubusercontent.com/46528729/132942543-cbe4424d-5f4a-4e8f-a6b0-d4e37076e4e8.png">

## Environment details

[2021-09-11 12:16] jansenbe commented on #542
Let me evaluate the options here @TkachouAndrej

[2021-09-13 09:11] henningeiben opened #543 "Timezone Information is not working"
## Category

- [x] Bug

## Describe the bug

I'm trying to add a new listitem using the PnP-SDK which contains a DateTime-field. Since me SharePoint site is based on "German" I get:

[code]

I looked at the code and found, that [GetTimeZoneInfoFromSharePoint](https://github.com/pnp/pnpcore/blob/dev/src/sdk/PnP.Core/Model/SharePoint/Core/Internal/TimeZone.cs#L55) is only looking for english timezon

[2021-09-13 12:14] jansenbe opened #544 "Document the features brought via the new Admin library"

[2021-09-13 13:04] henningeiben commented on #543
Sure - will do!

[2021-09-13 21:14] DaleyKD opened #545 "Extreme Memory Usage with LoadListDataAsStreamAsync"
## Category

- [x] Bug

## Describe the bug
When using `list.LoadListDataAsStreamAsync` in combination with a LOT of list items, our K8S pod runs out of memory.

## Steps to reproduce
1. Generate a lot of files.
[code]
2. Upload these files to a Document library.
3. Run this code:
[code]

## Expected behavior
I realize that we're pumping a lot of data into memory.  However, I haven't had a chance

[2021-09-14 07:04] henningeiben commented on #543
@jansenbe: works like a charm - at least for a german-based site-collection! 😁

[2021-09-14 07:04] #543 closed

[2021-09-14 07:23] jansenbe commented on #542
@TkachouAndrej : I'm working on strong naming the assemblies, plan to finish today that work today so that you can test again with tomorrow's nightly build. Thanks for bringing this up.

[2021-09-14 12:37] jansenbe commented on #542
@TkachouAndrej : version 1.3.52 and all future ones are strong named, so now you should be able to include the PnP Core SDK in your work.

[2021-09-14 19:21] jansenbe commented on #545
@DaleyKD : memory consumption is indeed quite high, did implement a test case and got below. Will further dig in tomorrow:

![image](https://user-images.githubusercontent.com/7451219/133320633-05105d28-25b0-4d0b-bbf1-d2db2259468b.png)

[2021-09-14 20:13] DaleyKD commented on #545
@jansenbe : GREATLY appreciated!  I suspect it's potentially the number of items in the TransientDictionary, but I'm not sure. _(I haven't been able to be on this task for my team; this was found by a teammate!)_

[2021-09-15 08:36] jansenbe commented on #545
@DaleyKD : I've been doing some more testing and as expected the memory consumption is driven by loading more list items. A list item stores it's data in a `Dictionary<string, object>` and it's metadata in a `Dictionary<string, string>` and for 2500 list items having a ton of fields this adds up. What you can do is first of all consider only loading the fields you really need by using the `<ViewFi

[2021-09-15 10:44] TkachouAndrej commented on #542
@jansenbe, when are you going to release 1.3.52? I can find only old 1.3.0 version in NuGet now. Thank you.

[2021-09-15 12:52] jansenbe commented on #542
You need to allow preview versions to be used when querying nuget packages from visual studio or other IDEs

[2021-09-15 13:23] gopaldahal opened #546 "Property given on ViewXml of RenderListDataOptions under LoadListDataAsStreamAsync is not working as expected"
## Category

- [x] Bug

## Describe the bug

ViewXml provided with fields Like "ID" is not returned from LoadListDataAsStreamAsync operation.
"ID" is just an example I have shared here with the example code below.
However in my scenario provided list has around 80 fields, when applied all these fields under ViewXml during query with LoadListDataAsStreamAsync, only 60 fields and their values are re

[2021-09-15 15:36] jansenbe commented on #546
@gopaldahal : not sure about not returning all the fields, in the end the SDK is calling a SharePoint REST API providing the CAML query...might be a CAML limitation. If you don't specify the viewfields do you then get all fields?

[2021-09-15 17:43] TkachouAndrej commented on #542
@jansenbe, sorry, but I forgot to add PnP.Framework: the same issue

![Снимок экрана 2021-09-15 в 19 40 02](https://user-images.githubusercontent.com/46528729/133482647-65a96438-5242-4132-80b9-050b7e354886.png)

[2021-09-15 20:13] jansenbe commented on #542
For PnP Framework the situation is more complex as it today uses a non strong names dependency... That would have to be remediated first. Do you have a hard dependency on PnP Framework?

[2021-09-16 04:35] gopaldahal commented on #546
@jansenbe
Without applying the view fields, I am able to achieve more view fields this time. However, miss some other view fields.

The missing fields were
ID
_EditMenuTableEnd
_EditMenuTableStart
_EditMenuTableStart2
_IsRecord
BaseName
DocIcon
Edit
EncodedAbsUrl
HTML_x0020_File_x0020_Type
LinkFilename
LinkFilename2
LinkFilenameNoMenu
LinkTitle:LinkTitle2
LinkTitleNoMenu
SelectTitle
ServerUrl

[2021-09-16 06:19] jansenbe commented on #542
Let's move this issue to the PnP Framework repo as that's what needs to be changed

[2021-09-16 06:23] jansenbe commented on #545
@DaleyKD : implementing something similar to Entity Framework's "no tracking" (see https://docs.microsoft.com/en-us/ef/core/querying/tracking#no-tracking-queries) would also help here. That however is big work item, probably something for 2.x series. (I'll create a dedicated issue to track that need)

Are you good with the above feedback?

[2021-09-16 06:25] jansenbe opened #547 "Implement "No Tracking" queries, similar to what Entity Framework offers"
## Category

- [x] Feature request

## Describe the feature

If you know that the retrieved data is only going to be used in Read Only mode then the whole change tracking support is overhead, returned objects could be consuming less memory and there would be less processing overhead.

## Describe the solution you'd like

Something like EF did: https://docs.microsoft.com/en-us/ef/core/querying/trac

[2021-09-16 07:56] jansenbe commented on #546
@gopaldahal : the ID field is a special case, it's not added to the collection of field values but it's available via the `Id` property of the loaded list item. When I do load items from a test list I'm getting 116 fields returned, including the fields you've mentioned that are not returned. Do you always see the same missing fields, also when you query a list with less than 80 custom fields?

[co

[2021-09-16 12:26] gopaldahal commented on #546
@jansenbe,
My apology, Seems I missed few things on my previous tests.
This time, my test result just misses 2 fields "ID" and "Edit".
As you said ID is available on the item object itself. Fine.
However, "Edit" property is neither on ListItem nor on the Values.

I do have one more concern.
Without adding the view fields, it gave almost all the view fields set,
But adding the same view fields on t

[2021-09-16 17:28] matsn0w opened #548 "Invoke-PnPBatch: Invalid filename when list has custom URL"
## Category

- [x] Bug

## Describe the bug

Hey there, this issue popped up to me this week. I saw that @erwinvanhunen had this error before as well (#312)... I've been trying to figure out what is going wrong, but I can't get my head around it.

I'm using PowerShell 7, but also tried this with Windows PowerShell - same results.

This is specifically about the `Add-PnPListItem` command, used in a

[2021-09-16 18:05] jansenbe commented on #548
@matsn0w: First impression is this is something in PnP PowerShell and not in PnP Core SDK. I'll move the issue over to the PowerShell repo, if it appears to be PnP Core SDK related we can always move it back to here.

[2021-09-17 08:21] jansenbe commented on #546
@gopaldahal : I also see the Edit (it's a computed field) in the returned data:

![image](https://user-images.githubusercontent.com/7451219/133747390-1db9afbe-34d6-4bcf-bbf5-60c9e495f44b.png)

I did some more testing on specifying fields to load in the CAML query and seems that fields of type `Computed` are never returned when explicitly asked for. So in your case I guess the best solution is to q

[2021-09-17 11:51] gopaldahal commented on #546
@jansenbe:
If you are sure that SharePoint on itself does not return computed fields (when explicitly asked), I have no problem closing this one.

Retired again regarding "Edit" property, but still not retrieved on my end( no view fields specified).
https://comparetext.codersup.com/shareUrl/b84fe267-a344-432f-a568-4ed0e4eeb44e

[2021-09-17 16:01] jansenbe opened #549 "Document how to use Azure KeyVault in combination with PnP Core"
@juliemturner shared below code snippet, either publish is as a sample/documentation or update built in X509CertificateAuthenticationProvider to work in combination with KeyVault (+ document how to setup).

Custom auth provider from Julie:

[code]

[2021-09-17 16:10] juliemturner commented on #549
FYI: When using with keyvault created certificate, the CertificatePassword is an empty string.

[2021-09-20 21:14] DaleyKD commented on #545
While I'm definitely not happy with the results (not your fault), I think this is accurate.  I am still a bit shocked at how much memory loading a brand new Document Library with 1000 items uses.

Sadly, since we absolutely need to get ALL of the properties (property bag), I can't use View Fields.

I had to redesign my logic to account for this, and it will sadly have a big impact to overall perfo

[2021-09-21 06:45] jansenbe commented on #545
@DaleyKD : to accurately get the memory consumption you would need to use a profiling tool, the used counter does not make it clear where the memory consumption actually sits. I've had a look at trimming down the memory footprint and made a change that  does not store all the __deferred  links coming back in a response (although that has no impact for LoadListDataAsStream) which might help. There

[2021-09-22 19:24] jansenbe commented on #545
@DaleyKD : Did manage to further lower the memory needs, but more important did also work on performance. In my tests reading 2500 items is approximately double as fast as it used to be (test was offline, so network responsiveness did not impact the results).

Below is the heap size for 2500 items being read in memory:
![image](https://user-images.githubusercontent.com/7451219/134407964-6faf1bd2-0

[2021-09-23 06:49] jansenbe commented on #545
Hi @DaleyKD ,
To further trim know memory needs we need a solution as mentioned in #547 , for now I'm going to close this issue but feel free to open a new one (or re-open this one) when after testing you see issues.

[2021-09-23 06:49] #545 closed

[2021-09-23 06:51] jansenbe commented on #546
@gopaldahal : I'm closing this issue as what's returned by a caml query is beyond my scope to change here, in my testing I see all properties being returned, so weird you always miss the Edit field.

Would also strongly recommend to give the current nightly a go as there have been massive perf improvements that will help with speeding up the reading of list data. Check the changelog and commit his

[2021-09-23 06:51] #546 closed

[2021-09-23 14:40] jansenbe opened #552 "Add "All" property support * in REST based queries"

[2021-09-23 17:47] jansenbe commented on #552
Done

[2021-09-23 17:47] #552 closed

[2021-09-24 16:47] DaleyKD opened #553 "`IFile.GetContentAsync` Doesn't Work in Prerelease"
## Category

- [x] Bug

## Describe the bug
In 1.3.0, getting the actual stream/binary works great. However, using 1.3.61-nightly, if we try to write the file, it's 0 bytes.

## Steps to reproduce
_Will add code snippet in a little bit..._

## Expected behavior
Gotta get that binary/stream! 😄

## Environment details (*development & target environment*)
- **SDK version**: 1.3.61-nightly
- **OS**: W

[2021-09-24 18:44] jansenbe commented on #553
@DaleyKD : probably a regression from the perf updates...will still need to do a full live test run, should be fixed in the coming days

[2021-09-24 19:50] #553 closed

[2021-09-24 19:51] jansenbe commented on #553
@DaleyKD : GitHub auto closed this one as I tagged the issue in my commit...anyhow, issue is fixed and next nightly should work. Will still plan a full online run, if you encounter other strange things after all the perf updates then please let me know.

[2021-09-24 20:38] DaleyKD commented on #553
Thanks @jansenbe ! I'll check on Monday.

(Thanks for not having me write a code snippet. 😄 )

[2021-09-24 20:39] DaleyKD commented on #417
Aren't these implemented?  I swear my teammate just tested SetComplianceTag for a SPIKE we had to run. Seemed to work.

[2021-09-24 20:41] DaleyKD commented on #417
Side note, it might be nice to have the `SPPolicyStoreProxy` from CSOM here, too.  Things like listing the existing tags, etc.  I'm still baffled there's not a way to programmatically create retention labels.

[2021-09-28 17:22] jansenbe commented on #544
Done

[2021-09-28 17:22] #544 closed

[2021-09-29 15:26] jansenbe commented on #223
Started working on this, will be part of the PnP.Core.Admin library

[2021-09-29 19:55] pkbullock opened #556 "Classic Publishing Page to Modern Transform - Page Analyser Error"
## Category

- [x] Bug

## Describe the bug

Page Transformation Analyser error when transforming from Classic Publishing Page to Modern Page.
The field its trying to read is a FieldUrlValue rather than string.

SharePointMappingProvider.cs

![image](https://user-images.githubusercontent.com/8781041/135338863-faaf97df-b8c3-4b8c-86bd-6f5fdab78be9.png)

Error:

  Message:
    Test method PnP.Core.Tr

[2021-09-29 19:56] pkbullock commented on #556
So in the old tool, there was an extension method for this, could this be used to fix it, asking rather than "playing" as need to learn how new one works :-)

![image](https://user-images.githubusercontent.com/8781041/135339437-1cc55cfc-16b7-451b-8024-017f309df86a.png)

[2021-09-29 21:04] pkbullock opened #557 "Method EnsureSiteCollectionContext is causing 403 errors"
## Category

- [x] Bug

## Describe the bug

Continuation of #556, after working around that error, the next error generated is this method with the EnsureSiteCollectionClientContext

![image](https://user-images.githubusercontent.com/8781041/135347666-c5aaa86a-2dc4-41ab-af9f-5d776f0d5ff8.png)

[Log.txt](https://github.com/pnp/pnpcore/files/7255044/Log.txt)

## Steps to reproduce

Transform Classi

[2021-09-30 03:46] subhasishmukhopadhyay2018 opened #559 "CSOM Service Exception"
## Category

- [x] Bug

Getting "CSOM Service Exception" error when trying to update existing SharePoint list item.

using System;
using System.Threading.Tasks;
using Microsoft.Extensions.DependencyInjection;
using Microsoft.Extensions.Hosting;
using Microsoft.Extensions.Logging;
using PnP.Core.QueryModel;
using PnP.Core.Services;
using PnP.Core.Services.Builder.Configuration;
using PnP.Core.Auth.

[2021-09-30 06:13] jansenbe commented on #559
Hi @subhasishmukhopadhyay2018 : can you also do `ex.ToString()` and share that output here? It will contain more details about why this goes wrong. I'm suspecting some other fields in the list are somehow causing this...can you reproduce this on any list or only one a specific one?

[2021-10-01 19:15] subhasishmukhopadhyay2018 commented on #559
Hi Bert,

Here is the error message below.

Error HttpResponseCode: 200
Message: Unknown Error
ClientRequestId: 3af6f49f-8001-0000-cffe-4e829c8d18cb
ErrorTypeName: "Microsoft.SharePoint.Client.UnknownError"

PnP.Core.CsomServiceException: CSOM service exception
   at PnP.Core.Services.BatchClient.ProcessCsomBatchResponse(CsomBatch csomBatch, String batchResponse, HttpStatusCode statusCode)
   at P

[2021-10-03 19:55] varunssis opened #560 "SetComplianceTag throws "Invalid field name. {f4ebd738-21db-4797-9229-2e817dd2367d}"
## Category

- [x] Bug

## Describe the bug
When using and method for object of type -  {PnP.Core.Model.SharePoint.ListItem}.SetComplianceTag("RetainFor2DaysFromLabelled
", false, false, false, false);
In certain occasions I receive the following exception:
{HttpResponseCode: 400Code: System.ArgumentExceptionMessage: Invalid field name. {f4ebd738-21db-4797-9229-2e817dd2367d}  /sites/Dev/Test2Clien

[2021-10-03 19:57] pkbullock commented on #557
I have a fix for this, coming shortly.

[2021-10-03 20:02] pkbullock opened #561 "Publishing Pages Target Page URI Transformer issue"
## Category

- [x] Bug

## Describe the bug

When transforming I get a rest error because the target page URL is not well formed for the target page. E.g.

Source URL:
https://capadevtest.sharepoint.com/sites/PnPSauce/en/Pages/Article-SPO-New-London-Flagship-Store.aspx

Target URI: /sites/PnPKatchup/en/Pages/Migrated_Article-SPO-New-London-Flagship-Store.aspx

the "en" and "pages" library fragment

[2021-10-03 20:14] pkbullock opened #562 "AnalysePublishingPageAsync method doesn't use collected analyzer data"
## Category

- [x] Bug

## Describe the bug

I am transforming online to online with a multi-lingual site, using the Publishing Page features.
Method AnalyzePublishingPageAsync in the SharePointMappingProvider class feels incomplete.

The analyzer code gathers the information (pending latest PR) from the page layout file, the return to the calling method isn't sufficient to include all the informa

[2021-10-03 20:19] pkbullock commented on #561
Note this issue occurs after PR #563

[2021-10-03 20:20] pkbullock commented on #562
Please note line numbers refer to #563 after that is merged.

[2021-10-03 20:21] pkbullock commented on #556
This has been resolved.

[2021-10-03 20:21] #556 closed

[2021-10-04 07:15] s-KaiNet commented on #215
I would like to deep dive into this awesome library internals and implement this issue if there are no objections.

[2021-10-04 15:18] jansenbe commented on #559
@subhasishmukhopadhyay2018 : I've tried to reproduce this but so far I'm not able to, things just work when updating a list with default or custom content types. I need more details for a repro... would it be possible to do a fiddler trace and send it to me via bjansen@microsoft.com? Also would be good to know the list details (type of list, columns etc)

[2021-10-05 09:23] PaoloPia commented on #557
Thanks! Merged!

[2021-10-05 09:23] #557 closed

[2021-10-06 22:25] LegendaryB opened #565 "PnPContext.Web does not provide GetFileByUrl"
## Category

- [x] Bug

## Describe the bug

It seems like the `PnPContext.Web` instance does not provide the method `GetFileByUrl`. I need that method because it works flawlessly with different sharepoint links (Share with people who have access link, direct link etc.). I can use this method manually using `PnPContext.Site.ExecuteRequestAsync` + matching `ApiRequest` instance like so:

[code]

An

[2021-10-07 06:28] jansenbe commented on #565
Hi @LegendaryB ,

We do have a series of `GetFileByServerRelativeUrl` methods available (see https://pnp.github.io/pnpcore/api/PnP.Core.Model.SharePoint.IWeb.html#PnP_Core_Model_SharePoint_IWeb_GetFileByServerRelativeUrl_System_String_Expression_Func_PnP_Core_Model_SharePoint_IFile_System_Object_____ for the docs) which use `$"_api/Web/getFileByServerRelativePath(decodedUrl='{encodedServerRelative

[2021-10-07 09:23] jansenbe commented on #565
Hi @LegendaryB ,

Can you try the following approach:

- Use the Microsoft Graph sharing API to obtain a DriveItem (see https://docs.microsoft.com/en-us/graph/api/shares-get?view=graph-rest-1.0&tabs=http#encoding-sharing-urls)
- Use the part before "/_layouts..." in the returned  driveitem web url as web url for connecting the context to

For example this sharing url (https://bertonline.sharepoint

[2021-10-07 10:17] jansenbe commented on #565
@LegendaryB : can you try if this works:

![image](https://user-images.githubusercontent.com/7451219/136365841-19324e19-64c8-4ed6-be94-172cf0822346.png)

[2021-10-08 08:20] jansenbe commented on #306
Working on this one

[2021-10-08 09:14] LegendaryB commented on #565
@jansenbe Thanks for all your help. I finished the task by implementing GetFileByUrl. But only really basic and I just parse some informations from there to be able to download the file.

My issue can be closed :)

[2021-10-08 09:14] #565 closed, assigned to nobody

[2021-10-08 09:55] jeffrey008 opened #566 "Invalid configuration name 'SiteToWorkWith' for PnPContext creation"
## Category

- [x] Bug

## Describe the bug

Error occurs when I try to run ` await pnpContextFactory.CreateAsync("SiteToWorkWith"))` even though I have specified already in `appsettings.json`.

My `appsettings.json` seems to get ignored, or I am missing something from my code.

## Steps to reproduce

`Program.cs`:
[code]
`appsettings.json`:
[code]

## Expected behavior

Successfully connect to my

[2021-10-11 07:41] jeffrey008 commented on #566
Thanks @jansenbe, problem is gone after adding output = always.

[2021-10-11 07:41] #566 closed, assigned to jansenbe

[2021-10-11 09:22] jansenbe opened #567 "Adding support for folder based Syntex content extraction (feature team ask)"
Add support for off-peak content processing by simply providing a full folder (or library root folder)

[2021-10-11 09:22] jansenbe commented on #567
Started working on this

[2021-10-11 10:44] #567 closed

[2021-10-11 18:58] jansenbe opened #570 "SystemUpdateAsync causes "Property ListId was not loaded""
### Discussed in https://github.com/pnp/pnpcore/discussions/569

<div type='discussions-op-text'>

<sup>Originally posted by **berntrune** October 11, 2021</sup>
I am trying to update Modifed field using PNP SystemUpdateAsync.
When using UpdateAsync, all normal item fields are stored successfully (except Modified of course).
When changing to SystemUpdateAsync I get "Property ListId was not yet loa

[2021-10-11 19:14] pkbullock opened #571 "When transforming Images do not get stored in SitePages folder"
## Category

- [x] Bug

## Describe the bug

When images are transformed along with the page, the page folder isnt created and image is not located in
/SitesAssets/SitePages/{PageName}/Image.jpg

Currently, its just /SiteAssets/

## Steps to reproduce

Created a simple page with text and image.
Transformed using unit test "SharePointTransformAsync"

## Expected behavior

Images are stored in targe

[2021-10-11 19:26] pkbullock opened #572 "When transforming the target image size is HUGE, bug?"
## Category

- [x] Bug

## Describe the bug

When transforming a simple publishing page with image and text, the image thats transformed is super large. Go to the editing experience and the image shrinks, revert = huge, save/publish = proper size.

Think this is a bug.

## Steps to reproduce

Transform a publishing page with text and image.

Have added a video to record the observed behaviour. Not

[2021-10-11 19:37] pkbullock opened #573 "Transforming pages in a subsite referring to images in site collection fails"
## Category

- [x] Bug

## Describe the bug

Error:

Message:
    Test method PnP.Core.Transformation.SharePoint.Test.TransformationTests.SharePointTransformAsync threw exception:
    Microsoft.SharePoint.Client.ServerException: Server relative urls must start with SPWeb.ServerRelativeUrl
  Stack Trace:
    ClientRequest.ProcessResponseStream(Stream responseStream)
    ClientRequest.ProcessRespons

[2021-10-11 20:07] pkbullock commented on #561
Isolated the fault to an issue in the ResolveAync method in SharePointTargetPageUriResolver class.

[2021-10-12 17:35] jansenbe commented on #570
@berntrune : doing some more digging I found a related bug. After adding a file one needs to load the ListItemAllFields property and that failed using `await file.LoadAsync(p => p.ListItemAllFields);` as approach (while the approach shown above worked). I've fixed this and with tomorrow's nightly build both approaches should work. I'll add a note to the docs to clarify that the need for the ListIt

[2021-10-12 17:56] jansenbe commented on #570
See https://pnp.github.io/pnpcore/using-the-sdk/files-intro.html#updating-the-file-author-editor-created-or-modified-properties and https://pnp.github.io/pnpcore/using-the-sdk/files-intro.html#adding-files-uploading for doc updates

[2021-10-13 06:52] bajce opened #576 "Getting Lists causes 'Instance Was deleted Error'"
In my solution I'm trying to read all SharePoint Online data of a tenant, and in order to improve performance and reduce the amount of objects in memory, I use separate threads for each SharePoint object. The PnPContext is created only once per URL, stored in a Map and re-used as needed.

When I try to read Lists from Web I sometimes get the following exception:

`This model instance was deleted,

[2021-10-13 08:41] jansenbe commented on #576
@bajce : The PnP Core SDK `PnPContext` object is not thread-safe, so would not recommend re-using it across threads. From experience we know that massive parallel operations will get you throttled by SharePoint...and then there are no performance benefits anymore.

If you need to regularly process the same data you should consider using a model were you read data once and keep track of the informa

[2021-10-13 16:32] jansenbe opened #577 "Add support to use PnP Core SDK in other cloud environments"
PnP Core SDK was developed and tested in the "default" cloud, but there are additional cloud environments (gallatin, us gov, ...) that use different url for access SharePoint, Graph and Azure AD.

[2021-10-14 08:48] berntrune commented on #570
@jansenbe : Not tested complete yet, can we keep it open a couple of days more?

[2021-10-14 22:08] WillickDN opened #581 "Unable to load IFileVersion.Size property for items 2GB and greater"
## Category

- [x] Bug

## Describe the bug

For context, the IFile.Length is of type long and IFileVersion.Size if of type int. Both of them are supposed to return the size of the file (or its version) from Sharepoint. Any FileVersion that is larger than an int can hold won't load the .Size property and trying to load it will throw an exception.

## Steps to reproduce

`var listItem = await list.

[2021-10-15 07:02] jansenbe opened #582 "Where statement in Linq query is not taken in account when using bool conditions without specifying equal to true or false"
In below snippets the where statements are ignored and that's because `list.HasUniqueRoleAssignments` is not correctly evaluated, writing `list.HasUniqueRoleAssignments == true` does work as expected.

[code]

[code]

[2021-10-15 08:56] bajce commented on #576
Yes this answers my question. Thank You.

[2021-10-15 08:56] #576 closed, assigned to jansenbe

[2021-10-15 16:04] jansenbe opened #584 "Add new sample to sample gallery showing how to use a custom MSAL cache provider"
See https://github.com/pnp/pnpcore/discussions/400 for background and sample code

[2021-10-16 20:13] WillickDN commented on #581
Thanks for getting to this so quick!

I pulled in the latest today, 1.4.16-nightly. I can see that the type of IFileVersion.Size is a now a long (confirmed in my testing).

However, it still fails to load the property if the size of the versions content is greater than 2147483647 bytes.

This line:
`var listItemCheck = await list.PnpList.Items.GetByIdAsync(1, li => li.All, li => li.Versions.QueryP

[2021-10-18 07:15] jansenbe commented on #503
Permissions is done: see https://pnp.github.io/pnpcore/using-the-sdk/security-intro.html

[2021-10-18 07:25] jansenbe commented on #223
Implemented as part of PnP.Core.Admin

[2021-10-18 07:25] #223 closed

[2021-10-18 09:31] s-KaiNet commented on #215
@jansenbe I have a question regarding the API itself. I will really appreciate it if you or other team members, who are deeply involved in the library development, are able to provide their input.

In the official [documentation](https://docs.microsoft.com/en-us/sharepoint/dev/apis/alm-api-for-spfx-add-ins?tabs=sprest), we have only a few methods available for the TenantAppCatalog endpoint (Add, S

[2021-10-18 15:28] LegendaryB opened #587 "Method IListItem.HasValue return value is wrong"
## Category

- [x] Bug

## Describe the bug
The helper method `HasValue("propertyName")` of `IListItem` does not work. It always returns false.

[code]

## Steps to reproduce
1. Retrieve a `IListItem` instance
2. Query for `vti_author` or any other property.
3. Method returns false

## Expected behavior

The method returns a correct "answer".

## Environment details (*development & target environm

[2021-10-18 18:05] #584 closed

[2021-10-19 10:19] gopaldahal opened #590 "Discussion List Fields, while loading misses some of the available fields."
## Category

- [x] Bug

## Describe the bug

Some of the fields are missing while reading from List.Fields method under Discussion list.
In my case, it's missing around 30 fields in 130

## Steps to reproduce

[code]

Here Items have a property with the internal name "IsRootPost"
However, the same is missing on list fields.
There are some other properties that are missing too.

## Expected behavio

[2021-10-19 10:38] jansenbe commented on #590
@gopaldahal , just to make sure I understand the ask: when you retrieve the fields from a list not all the fields you'd expected show up? And this only applies to lists of type "discussion list" or to other list types as well?

[2021-10-19 14:41] #581 closed, assigned to jansenbe

[2021-10-19 17:46] #577 closed

[2021-10-20 07:51] #570 closed, assigned to jansenbe

[2021-10-20 08:10] jansenbe commented on #590
Hi @gopaldahal ,

I spotted something strange in your code, you do the following:

[code]

Which results in loading the fields twice. If you want to query the fields already loaded via the first GetById call then do this (notice the **AsRequested**):
[code]

Second complication is that doing `var parentFields = parentList.Fields.ToList();` under the covers uses paging and I've today discovered and

[2021-10-20 12:32] #590 closed, assigned to jansenbe

[2021-10-21 14:54] s-KaiNet opened #591 "Potential issue with unit tests and cloned PnPContext"
## Category

- [x] Bug

## Describe the bug
I found an inconsistency when running tests in Online and Offline mode.
Below test passes in Online mode and fails in Offline.

[code]

I was able to narrow down the problem to the way how recorded `.response` files are created. The pattern is `[method]-[test id]-[step]`. The problem happens [here](https://github.com/pnp/pnpcore/blob/fb373532692d18881e42

[2021-10-22 14:53] bilenth opened #592 "SharePoint ListItem, DateTime field, PM time always turns into AM."
My sharepoint list has a column of type datetime and when I add to it with PnP.Core, the time in the PM always becomes the time in the AM.
For example.
Input: 2021-10-22 21:00:00 -> 2021-10-22 09:00:00 Exception.
However
Input: 2021-10-22 09:00:00 -> 2021-10-22 09:00:00 is normal.

[code]

[2021-10-22 15:13] #591 closed, assigned to nobody

[2021-10-23 10:18] #592 closed, assigned to jansenbe

[2021-10-25 08:52] jansenbe opened #596 "Improve support for working with fields via a "typed" field collection"
**Proposal for future improvement:**

Today web/list fields can be read and returned as a collection of `IField`. This works fine for basic fields but for more complex fields (eg taxonomy fields) part of the field definition (e.g. term set id) lives inside the field's `SchemaXml` property. What if there was a method `AsTypedFields()` on the current `IFieldsCollection` that would return the fields

[2021-10-26 07:51] jansenbe opened #597 "Fields data is not "cloned" when doing a Get"
See https://github.com/pnp/pnpcore/discussions/595#discussioncomment-1536627 for background. When loading list items the field property is not set, debugging showed that the earlier loaded field information was not available anymore, so seems to get lost when a model get's cloned when doing a "get" operation.

[2021-10-30 05:42] plamber opened #604 "Getting all items from a list returns only the first 100 items"
## Category

- [x] Bug

## Describe the bug

I was looking for a way to retrieve all list items from a SharePoint Online list with more than 100 items. I was looking at your [sample](https://pnp.github.io/pnpcore/using-the-sdk/listitems-intro.html#getting-all-list-items) code showing how to retrieve all items from a list. Apparently, only the first 100 items are returned by default.

## Expected b

[2021-10-30 05:59] plamber opened #605 "Updating list items with added fields seems not to work"
## Category

- [x] Bug

## Describe the bug

I was following the sample code for updating a list item from [here](https://pnp.github.io/pnpcore/using-the-sdk/listitems-intro.html#updating-list-items) and performed a slight modification.

I am using the SDK version 1.4. The operation for adding the item is executed successfully but the update immediately after is not reflected in SharePoint Online.

[2021-10-30 08:16] jansenbe commented on #604
Hi @plamber ,

Thanks for reporting this. This is a known issue that should be fixed in our current nightly builds. Can you try with the latest nightly and verify if you still have this issue?

[2021-10-30 08:46] jansenbe commented on #605
@plamber , thanks for using PnP Core SDK and reporting this. I'm currently not able to reproduce the issue. I've build below code that is quite similar to yours and this works for me. Can you test below code and verify that your "NewFieldToUpdate" does exist with "NewFieldToUpdate" as static name.

[code]

[2021-10-30 09:17] plamber commented on #604
Hi @jansenbe,
I updated to the latest nightly version:
![image](https://user-images.githubusercontent.com/18241305/139527293-ae0cd83a-cde7-4ba4-bbc7-15f8ef08b82f.png)

I am still having the same issue. It just returns the first 100 items. Not sure if this matters but I am running the query on a list with around 1000 items.

I can retrieve all 1000 items by performing such a query
[code]

Cheers

[2021-10-30 09:29] plamber commented on #605
Hi @jansenbe,
indeed. I am no more able to reproduce it. Most likely there was an issue with my fields and I haven't noticed it.

Thank you for your prompt response

Cheers

[2021-10-30 09:29] #605 closed

[2021-10-30 09:30] jansenbe commented on #604
Thanks for reporting this @plamber . Would it be possible to share how you load the items, there's various options so want to be sure I'm testing your approach.

[2021-10-30 09:45] plamber commented on #604
Hi @jansenbe,
this code does not work

[code]

At first glance it looks almost the same as the sample code. Maybe I am missing something.

Thank you,
Patrick

[2021-10-30 10:00] jansenbe commented on #604
Thanks for the details @plamber , in above sample there's should be no paging at all, just an expand on listitems. I'll cross check and report back

[2021-10-30 11:07] #215 closed

[2021-10-31 09:14] pxmonti opened #607 "Getting list items with LoadListDataAsStreamAsync with CAML query won't allow to request RoleAssignments"
Hello all, I need to load all items from lists/libraries with potentially a large number of items and for this I thought I'd use a CAML query approach to extract only the fields I need and use **RowLimit** for pagination. Since I need also _*system*_ fields like **FieldRef** and **File_x0020_Size**, I cannot use **LoadItemsByCamlQueryAsync**, because as per documentation this method won't return t

[2021-10-31 09:17] jansenbe commented on #217
@s-KaiNet  will be working on this. Thanks!

[2021-10-31 09:45] jansenbe commented on #604
@plamber : I can reproduce what you see, SharePoint is only returning the first 100 list items when loading them via REST (only for ListItems, expanding 100+ fields works fine). This is by design (see https://docs.microsoft.com/en-us/sharepoint/dev/sp-add-ins/working-with-lists-and-list-items-with-rest?redirectedfrom=MSDN#retrieve-all-list-items) to safeguard the infrastructure from code getting a

[2021-10-31 10:01] jansenbe commented on #607
Thanks for using @pxmonti and providing feedback.

For now this indeed is the case, I'll do some more research to understand if somehow the LoadItemsByCamlQuery approach can return the "system" fields...if not then I'm considering adding a another data load option that under the covers uses the CSOM endpoint.

[2021-10-31 10:33] plamber commented on #604
Awesome. Thank you

The updated documentation will definitely help

[2021-10-31 11:30] pxmonti commented on #607
Thank you @jansenbe. For the time being I'll stick with the current CSOM approach and wait for news from your side.

[2021-10-31 11:46] jansenbe commented on #607
That makes sense @pxmonti. I'll add a new issue to track the need

[2021-10-31 11:49] jansenbe commented on #607
@pxmonti : can you share the CSOM snippet you're using today? Will help with ensuring we verify your use case.

[2021-10-31 12:30] pxmonti commented on #607
Sure, this is what I currently do with CSOM:

``

          CamlQuery camlQuery = new CamlQuery();
          camlQuery.SetViewAttribute(QueryScope.RecursiveAll);
          camlQuery.SetViewFields(new string[] { "ID",
					          "Title",
					          "FileRef",
					          "Author",
					          "Editor",
					          "Created",
					          "Modified",
					          "File_x0020_Siz

[2021-10-31 16:59] jansenbe commented on #607
Adding some research notes here: using $select and $expand kind of works in combination with the `GetItems` call: below request

Request: `https://bertonline.sharepoint.com/sites/prov-1/_api/Web/Lists(guid'7d644d41-d86e-4594-99de-479594a68fd9')/GetItems?$select=*,FileDirRef,File_x0020_Type,HasUniqueRoleAssignments&$expand=RoleAssignments`

Body:
[code]

Results in an expanded `RoleAssignments` + "

[2021-10-31 17:28] jansenbe commented on #607
@pxmonti : what you need is possible using REST (see above)...I'll work on implementing this in the coming days.

[2021-10-31 18:21] pxmonti commented on #607
Thank you @bjansen, I'll wait for the implementation.

Scarica Outlook per Android<https://aka.ms/AAb9ysg>
________________________________
From: Bert Jansen ***@***.***>
Sent: Sunday, October 31, 2021 6:28:52 PM
To: pnp/pnpcore ***@***.***>
Cc: Paolo ***@***.***>; Mention ***@***.***>
Subject: Re: [pnp/pnpcore] Getting list items with LoadListDataAsStreamAsync with CAML query won't allow to reque

[2021-11-01 09:37] somdeepgniyogi opened #608 "Unable to fetch LookupValue in ListItems"
## Category

- [X] Bug

## Describe the bug

![image](https://user-images.githubusercontent.com/6120892/139651630-4aaceffd-ed99-406b-8d2d-29397cefb6ce.png)

Moreover the OOB Author and Editor fields are not returned as lookup.

![image](https://user-images.githubusercontent.com/6120892/139651837-f27470c5-6bf0-4d7a-9618-3ee3401d57c4.png)

The error returned "Property Author does not exist in this e

[2021-11-01 10:16] #608 closed

[2021-11-02 12:23] wonderplayer opened #609 "Requests missing UTF8 support"
## Category

- [x] Bug

## Describe the bug

Encoding error when trying to execute batch request with utf-8 characters, e.g., å, ø.

## Steps to reproduce

I've been trying to create navigation nodes within batch, and several of them contain UTF8 characters.
Function to create navigation level:
[code]
Where SharePointNavigationNodeModel is:
[code]

Execute as following:
[code]

This is an example

[2021-11-02 13:20] jansenbe commented on #607
@pxmonti : I've just pushed a fix for this (see https://github.com/pnp/pnpcore/commit/34687113690375bf87ee5ac62873d50ba9dd3884). With tomorrow's nightly build you should be able to mimic your CSOM scenario. Updated docs will come to https://pnp.github.io/pnpcore/using-the-sdk/listitems-intro.html

[2021-11-02 13:27] pxmonti commented on #607
This is great news! Thank you  @jansenbe !!
So, if I am understanding correctly, it will be possible to include system fields in the <FieldRef ...... /> section of the CAML query XML definition and they will be extracted too, correct? And for the RoleAssigmnents? Is there anything particular to be done in the method call to fetch these too? Maybe I should simply wait for the documentation to be up

[2021-11-02 15:39] jansenbe commented on #604
@plamber : see updated docs: https://pnp.github.io/pnpcore/using-the-sdk/listitems-intro.html#reading-list-items. I've clearly defined 4 approaches to read list items and a model to chose the best method for the job.

[2021-11-02 15:39] #604 closed

[2021-11-02 15:46] jansenbe commented on #607
@pxmonti : yes, just add the system fields as FieldRef's in your CAML query. The code will analyze the CAML XML and ensure the needed fields are added into the $select. Checkout https://pnp.github.io/pnpcore/using-the-sdk/listitems-intro.html#using-paging-with-loaditemsbycamlquery for a sample. Note the highlighted parts:
![image](https://user-images.githubusercontent.com/7451219/139880900-8f5fc2d

[2021-11-02 16:44] pxmonti commented on #607
Awesome! I'll install the next nightly build package and test in in my code!
Thank you @jansenbe

[2021-11-02 18:54] jansenbe commented on #609
Thanks for reporting this @wonderplayer , I'll have a look.

[2021-11-02 19:27] jansenbe commented on #609
@wonderplayer : I've taken your code and used System.Text.Json to serialize the request body and then things work fine as System.Text.Json by default correctly encodes Unicode characters. You are using Newtonsoft, and that one seems to not do this by default. So either use System.Text.Json or replace special chars with Unicode characters before you add the API request which can be done by using th

[2021-11-02 19:34] wonderplayer commented on #609
Oh, wow. I thought that there is something I should be able to do, but for some reason this thought didn't pop up in my mind 😄
Maybe this information could be included in custom request documentation?

[2021-11-02 19:35] jansenbe commented on #609
Good point, I'll add a section to the docs to clarify this.

[2021-11-02 19:47] jansenbe commented on #609
@wonderplayer : docs are updated (see https://pnp.github.io/pnpcore/using-the-sdk/basics-customapirequests.html#making-a-custom-spo-rest-request). Closing this one now. Feel free to re-open if you still have issues.

Note: we plan to add navigation support in the future, it's a matter or resourcing but eventually we'll get that done.

[2021-11-02 19:47] #609 closed

[2021-11-03 09:21] pxmonti commented on #607
Hi @jansenbe , I've tested the 1.4.34-nightly build and I see that it is 99% working as I was expecting.
I am still unable to fetch the "File_x0020_size" system field, while now I am able to fetch the FileRef field correctly.
I've even tried with item => item.File.Length but it doesn't work.
Here the excerpt of code I am using:

![image](https://user-images.githubusercontent.com/4302704/140034933-

[2021-11-03 11:10] jansenbe commented on #607
@pxmonti : You've to possible solutions. The red one uses the `File_x0020_Size` property, but you need to get it via also loading the `FieldValuesAsText` property. The green approach loads the `File` with only the `Length` property populated.

![image](https://user-images.githubusercontent.com/7451219/140049921-949a9345-dca0-4a1a-a056-63721f59e544.png)

[2021-11-03 13:07] pxmonti commented on #607
Hi @jansenbe , I tested the 2 approaches proposed.
The "red" approach works as a charm and that's enough for my case. A big THANK YOU!
However, just for your information, the "green" approach doesn't work for me because when I try to reference "QueryProperties" method of p.File there's no such method than can be selected and code won't compile.

I am using 1.4.34-nightly build.

[2021-11-03 13:25] jansenbe commented on #607
@pxmonti : you need to add a using statement: "using PnP.Core.Model;" before you can use "QueryProperties"

[2021-11-03 13:27] jansenbe commented on #607
If all is good, then feel free to close this issue

[2021-11-03 16:52] #607 closed

[2021-11-04 21:20] ChrTall commented on #43
@jansenbe
I can not find a way to authenticate with Client Id, Tenant Id and Client Secret.
Only with a Certificate, which is also a bit confusing as you have to enter StoreName and StoreLocation which seems to be Windows only if I am not mistaken. I have generated a certificate with openssl and uploaded it to AAD. Can you explain how I can do this on Linux?

[2021-11-04 21:25] jansenbe commented on #43
@ChrTall : can you start a new discussion for this question?

[2021-11-04 21:27] ChrTall commented on #43
@jansenbe Yes sorry, I will create a new issue.

[2021-11-08 17:09] stevebeauge opened #616 "Feature request : proper handling of content types published from the new CTHUB (or maybe a bug report?)"
## Category

- [x] Feature request

## Describe the feature

The new content type hub behaves a bit differently from the legacy one. Specifically regarding the inheritance.

For example, let's say I have in my CTHUB this inheritance hierarchy:

    Document (OOB) ==> Corporate document ==> HR document

`Corporate document` isn't meant to be used directly, but is used to hold generic fields, used a

[2021-11-09 18:03] jansenbe opened #618 ".NET 6 is available: prepare your development environment to support .NET 6"
### .NET 6 is available!

With .NET 6 shipping (https://devblogs.microsoft.com/dotnet/announcing-net-6/) we plan to add support for .NET 6 to PnP Core SDK and PnP Framework. As .NET 6 is an LTS (Long Term Supported) version it will mean that .NET 5 support will end soon, more specifically on May 8th 2022 (see https://github.com/dotnet/core/blob/main/releases.md). We'll start with adding .NET 6 bin

[2021-11-09 19:48] KoenZomers commented on #576
Ran into the same here with only two concurrent threads. Cloning the PnPContext for every call as Bert mentions above fixed it for me.

[2021-11-11 12:51] bajce opened #619 "Error: Task Canceled when loading items by Caml query"
I'm TaskCanceled exception on list.LoadItemsByCamlQuery(...).

In order to read "all" SharePoint data faster, I'm using different Task and split the work among them. Each of those tasks have own PnPContext (which can be reused for same Web if no other Task is using it). Error occurs on different ListItems.

StackTrace:
`   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task

[2021-11-11 13:22] jansenbe commented on #619
@bajce : just to understand...you are using different `PnPContext` instances for different sites, but you use them in parallel to read data from those different sites? Did you validate that reading these lists using a single `PnPContext` does work?

If you can reproduce this is a console application that would be great, the stacktrace does not really help understanding where things go wrong

[2021-11-11 14:29] bajce commented on #619
@jansenbe Yes I created `PnPContext` pool (size 10) by URL and I use them in parallel. Idea is that every time I need the context for specific URL I can take it from the pool instead of cloning it every time or creating new one in order to improve performance in huge SharePoint structures. When I set pool size to 1 I can't reproduce the error, it seams like everything works as expected.

I can try

[2021-11-11 15:41] jansenbe commented on #619
@bajce : also ensure you are using the latest version when testing

[2021-11-11 19:32] jaganpt opened #620 "tenant.CreateSiteCollection - not able to set site description using SiteEntity in Azure Function V3 - http trigger"
## Category

- [x] Bug

## Describe the bug

## Steps to reproduce

Please find the code below. Site is created but description is empty.

//Site Entity object creation
var siteProps = new SiteEntity
                        {
                            Title = spoSiteInfo.SiteTitle.Trim(),
                            Description = "**Test description**",
                            Template = "SI

[2021-11-12 09:53] jansenbe commented on #620
Hi @jaganpt , this is a PnP Framework issue so I'll transfer this issue to that repository. If you want to use PnP Core SDK for site collection creation then checkout https://pnp.github.io/pnpcore/using-the-sdk/admin-sharepoint-sites.html#creating-site-collections

[2021-11-13 00:30] SPDEVGUY opened #623 ""Object reference not set to an instance of an object" on pnpContextFactory.CreateAsync(Uri)"
## Category

- [x] Bug

## Describe the bug

Issue with pnp framework out of the box following start guide from SDK basics start guide:
https://pnp.github.io/pnpcore/using-the-sdk/readme.html

Using the multi-tenant PnP Azure AD application

![image](https://user-images.githubusercontent.com/3208188/141598338-6102c7d5-4cc2-4ce9-9a34-a31ea393c3e2.png)
![image](https://user-images.githubusercontent.

[2021-11-13 00:52] SPDEVGUY commented on #623
Used pnp powershell to confirm that the Azure AD tenant PNP App is registered, I think?
![image](https://user-images.githubusercontent.com/3208188/141599231-4db80120-d2a3-4707-b06b-ad7ea7e35919.png)

[2021-11-13 09:40] jansenbe commented on #623
@SPDEVGUY , thanks for using PnP Core SDK and reporting this. I think the problem is that your config file is missing the authentication information. Can you add the `Credentials` section as shown in below json config example **or** configure auth using code. In both cases an interactive login is configured using the PnP Management Shell application.

[code]

[code]

[2021-11-13 11:22] somdeepgniyogi opened #624 "Calling Sharepoint Social Data using PNP Core SDk"
I am trying read user profile using PNP core SDK however I am not able to achieve the same.

Please help me as I am not able to reference the PeopleManager class

BR

[2021-11-13 16:32] SPDEVGUY commented on #623
That got it!

Line 44 of https://github.com/pnp/pnpcore/blob/32741430a3fb8d1c3f9e163477acb473024b152b/src/sdk/PnP.Core/Services/Core/PnPContextFactory.cs
`
            initializeAuthenticationProvider?.Invoke(configuration.AuthenticationProvider);
`

Should check for [configuration.AuthenticationProvider == null] and report it adequately, or use a default Azure AD setup one.

As a total noob to th

[2021-11-13 21:54] jansenbe commented on #623
Good point about throwing a better exception when there's no auth provider setup when a `PnPContext` is created.

We plan to make some getting started video/tutorials which will help with a better first run experience.

[2021-11-14 09:11] jansenbe commented on #623
@SPDEVGUY : input validation is done. Getting started content will arrive in the coming weeks. Will close this issue now.

[2021-11-14 09:11] #623 closed

[2021-11-14 09:19] jansenbe commented on #624
Hi @somdeepgniyogi , can you provide more details about the scenario you want to realize using PeopleManager? Today we've not yet wrapped the PeopleManager.

Research links:
- https://docs.microsoft.com/en-us/previous-versions/office/developer/sharepoint-rest-reference/dn790354(v=office.15)?redirectedfrom=MSDN
- https://www.sharepointpals.com/post/user-profile-properties-with-rest-api-sharepoint-o

[2021-11-14 10:55] somdeepgniyogi commented on #624
Dear Jansenbe,

I am trying to use PNP core sdk from an application hosted in Azure. The application is in .net core and I refencing PNP core sdk using downstreamapi.

My requirement is to read user profile data using SharePoint Online Social API’s.

I could do this using JavaScript PNP libraries however I want to utilize PNP Core SDK C# libraries to do the same.

Can you kindly help me out how to

[2021-11-14 11:36] pxmonti opened #625 "RoleAssignments will not be returned for all lists"
## Category

- [x] Bug

## Description
Calling LoadAsync for all lists of a web, will not return role assigments for any of the lists.

## Steps to reproduce

 await ctx.Web.LoadAsync(
                 w => w.Lists.QueryProperties(
                 l => l.Fields.QueryProperties(
                    p => p.InternalName,
                    p => p.FieldTypeKind,
                    p => p.TypeAsStri

[2021-11-14 16:05] jansenbe commented on #625
Thanks @pxmonti , I've managed to reproduce the error. Something goes wrong in the code that translates this to a REST query, the second top level query properties is "appended" onto the first expand... I'll work on a fix.

[2021-11-14 16:18] pxmonti commented on #625
Thanks @jansenbe , I'll wait for a fix. If this can help, I've noticed that also other top-level properties would "break" the query, e.g. "RootFolder".

[2021-11-14 17:13] indieza opened #626 "This model instance was deleted, you can't use it anymore"
## Category

- [x] Bug

Hello,
I receive the following error message(This model instance was deleted, you can't use it anymore
) when I try to execute some GET Request to my SharePoint website via Pnp.Core SDK. The situation is that, the application is written on WinForms technology via C# dev language. I have base form where I show all possible operation to the user for manipulating the SharePoin

[2021-11-14 17:44] jansenbe commented on #625
@pxmonti : just committed a fix. When you try with tomorrow's version things will work. Thanks for providing the feedback. Closing the issue now.

[2021-11-14 17:44] #625 closed

[2021-11-14 17:59] jansenbe commented on #624
Thanks for the clarification @somdeepgniyogi .

As mentioned today we don't have built in support, I'll add that to our todo list. Depending on how much you're using `PeopleManager` you can opt to use our "call custom API" feature (https://pnp.github.io/pnpcore/using-the-sdk/basics-customapirequests.html#making-a-custom-spo-rest-request) and make the requests yourself. Below are two `PeopleManager

[2021-11-14 18:04] jansenbe commented on #626
Hi @indieza , thanks for using PnP Core SDK and reporting feedback.

The link for the code share is not valid, can you check that or provide a repro in another way?

When using the async methods the UI thread should not be blocked, will give this a try once I have your repro.

[2021-11-14 18:08] indieza commented on #626
https://pastebin.com/Qd6WpaFp
If you paste the link in the browser it should open the code for sure 🙂

[2021-11-14 18:29] indieza commented on #626
Now I saw, the code is without async-await but when I use all async PnP methods(GetByIdAsync, ToListAsync etc.) receive the error message.

[2021-11-14 18:33] indieza commented on #626
Here what a mean:
var lists = await this.listGetOperationsService
                    .GetAllNotSystemLists(this.web);
var listContentTypes = await this.listGetOperationsService
                        .GetListContentTypes(this.web, list.ID);
                    var allContentTypes = await this.webGetOperationsService                 .GetAllNotSystemContentTypes(this.web);

[2021-11-14 18:46] somdeepgniyogi commented on #624
Dear @jansenbe ,

Thanks a lot for your support.

I was using the same approach but wanted to enquire if you already have any supporting libraries.

Thanks again

Best Regards

[2021-11-14 19:15] jansenbe commented on #626
@indieza : can you also share the relevant ...Service code parts. If you want to keep things private feel free to send your code to Bjansen@microsoft.com

[2021-11-14 19:16] indieza commented on #626
I will add you in the repo, second please. Feel free to give me advice for the solution here. 🙂

[2021-11-15 09:09] jansenbe commented on #626
Hi @indieza ,

I did test the sample you've shared and managed to repro the issue...but not yet solve it. For some reason calls in your services will trigger the IndexChanged event to fire again resulting in the errors you see. Loading data upfront in `GetSharePointWebsiteWeb`

[code]

and then reuse the loaded data in the service will offer a work around (and most likely be more performant as the

[2021-11-15 12:33] jansenbe commented on #626
@indieza , this now works for me. Notice the following:

- Using `await Task.Run(async () =>{ })` to ensure the async method calls run on another thread and not on the UI thread
- Use `.ConfigureAwait(false)` on the async call invocations

[code]

with

[code]

[2021-11-15 12:36] indieza commented on #626
Hello,
Thank you for the time, I will take a look over the implementation and will come back ASAP🙂

[2021-11-15 12:37] jansenbe commented on #626
Here's some research on Task.Run:

- https://stackoverflow.com/questions/18013523/when-correctly-use-task-run-and-when-just-async-await
- https://www.pluralsight.com/guides/using-task-run-async-await

[2021-11-15 13:27] indieza commented on #626
Hello,
I update the code and run in on Debug mode, but still receive the same error. I commit the new version, may you take a look over it.

[2021-11-15 14:01] s-KaiNet opened #627 "Get list view by title throws an exception"
## Category

- [x] Bug

## Describe the bug

When I try to get a listview by its title, I got an exception.

## Steps to reproduce
The code is fairly simple:

[code]

From developer perspective it's a perfectly valid code, it compiles, however it throws

at [this line](https://github.com/pnp/pnpcore/blob/8d6a0c51317c2409044b33607c938d545d5d8fbb/src/sdk/PnP.Core/QueryModel/Linq/BaseQueryProvider.cs

[2021-11-15 14:43] jansenbe commented on #627
Thanks for reporting this @s-KaiNet. The fact that some models that are populated via REST and having their `LinqGet` property set do have the `IQueryableDataModel` interface set is wrong. I'll fix those.

I also do like the idea of throwing an exception instead of returning an empty collection, think this way things will be better for the developer as there's clarity on why things do not work.

[2021-11-15 16:40] jansenbe commented on #627
@s-KaiNet : implemented.

[2021-11-15 16:40] #627 closed

[2021-11-15 18:59] jansenbe commented on #626
@indieza : ok,  I missed the inner exception that happens on the first run after opening the form. As you need to run the async calls outside of the UI thread (to avoid blocking it) you end up with multiple threads using the same `PnPContext` instance...especially in this case as loading the lists combo triggers a change event that calls to load list again and it's content types.

You could try wi

[2021-11-15 19:21] indieza commented on #626
It sounds great, I will test it and will come back if there is something which stop me. Thanks 🙂

[2021-11-15 19:30] jansenbe commented on #626
Yes, I'm gonna close this thread as I feel this is not due to a bug in PnP Core SDK but rather related to how to correctly use and handle async calls in WinForm UI events. Don't triggering the refresh of the content type combo when loading the initial list combo will also improve things as then you avoid the parallel threads

[2021-11-15 19:30] #626 closed

[2021-11-15 19:30] jansenbe commented on #619
@bajce : any update here?

[2021-11-16 12:00] RoRo300 opened #628 "Only the first LookupValue is written when using NewFieldValueCollection"
## Category

- [x] Bug

## Describe the bug

When creating or updating a list item in Sharepoint only the first field lookup value is written to the list if a field is a multiple lookup value. further items are ignored.

## Steps to reproduce

A new FieldValueCollection is declared and 1-n lookup items are assigned with NewFieldLookupValue from IField.
The return value is the declared lookupCollec

[2021-11-16 12:31] jansenbe commented on #628
Thanks for using PnP Core SDK @RoRo300 , I'll have a look and report back

[2021-11-16 14:22] jansenbe commented on #628
@RoRo300 : I could reproduce and fix the issue. See https://github.com/pnp/pnpcore/issues/628 for the fix itself. This change will appear in tomorrow's nightly build, so please give that a try and let us know. Thanks!

[2021-11-16 14:28] RoRo300 commented on #628
Cool! Thanks for your fast reaction. Will try it tomorrow and let you know if it works!

[2021-11-16 18:41] indieza opened #629 "Check is website already exist?"
## Category

- [x] Question

Hello,
Is there some way to check is website already exist in a target tenant. In SharePointPnPCoreOnline we have this.clientContext.Site.RootWeb.WebExists(URL), but in the PnP.Core SDK I cannot find relevant solution over the issue.

Regards,
Simeon Valev

[2021-11-16 19:44] jansenbe commented on #629
@indieza : a simple and recommended solution would be to wrap the context creation in a try catch as creating a PnPContext will make a REST call to the site...so that will throw an exception if the URL is wrong. Alternative approach is using our in-preview admin component and getting the site properties (https://pnp.github.io/pnpcore/using-the-sdk/admin-sharepoint-sites.html#getting-and-setting-si

[2021-11-16 19:47] indieza commented on #629
Thanks for the quick response. It works for me. I will close the issue.

Regards,
Simeon Valev

[2021-11-16 19:47] #629 closed

[2021-11-16 22:08] SPDEVGUY opened #631 "PnP.Core.ClientException: Specify the GraphGet/GraphGetLinq field of the ClassMapping property"
## Category

- [x] Bug / Question?

## Describe the bug
Unhelpful exception when querying sub-webs:
PnP.Core.ClientException: Specify the GraphGet/GraphGetLinq field of the ClassMapping property

Attempting to follow documentation to enumerate sub-webs:
https://pnp.github.io/pnpcore/using-the-sdk/webs-intro.html#getting-sub-webs

Error thrown:
![image](https://user-images.githubusercontent.com/320

[2021-11-16 22:26] s-KaiNet opened #632 "System.NotSupportedException when trying to LINQ by Guid id"
## Category

- [x] Bug

## Describe the bug
Below code

[code]
throws

From the other side below code works just well:

[code]
This is a bit confusing because it's almost identical code.

The problem is [here](https://github.com/pnp/pnpcore/blob/621061fa6cfe0dc0fdf5f11358a6375f3e2e1bab/src/sdk/PnP.Core/QueryModel/Query/ExpressionExtensions.cs?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%

[2021-11-17 04:27] jansenbe commented on #631
@SPDEVGUY : Once you've loaded data you need to use `.AsRequested()` to query the loaded data...in your case you're trying to query twice. The documentation was still missing `AsRequested()` thanks for spotting that.

So your code would be like this:

[code]

You could also optimize above code a little bit as rootweb is always loaded by default + possibly you can save a roundtrip by loading additi

[2021-11-17 04:53] jansenbe commented on #632
Nice improvement @s-KaiNet ! This will make things more obvious to use as for a developer is not always clear that they can't include the new in the LINQ expression. A related one would be #582 if you're interested in playing with our LINQ code :-)

[2021-11-17 05:02] #632 closed

[2021-11-17 05:32] #217 closed

[2021-11-17 06:53] RoRo300 commented on #628
Hi Bert! Works perfectly! GREAT!

[2021-11-17 07:02] #628 closed

[2021-11-17 10:39] s-KaiNet commented on #631
I think still we have an issue here, because below code throws an exception:

[code]
To my understanding, it shouldn't throw and should query subwebs instead.

[2021-11-17 10:41] s-KaiNet commented on #582
I will take a look at this one. @jansenbe please assign to me.

[2021-11-17 11:12] bajce commented on #619
@jansenbe I was using the latest nightly version. Unfortunately not, I won't have that much time soon to reproduce it in console application as it can take longer. I totally understand if you want to close the issue, once I have the console application which reproduces it I can reopen it (if possible) or create new one.

[2021-11-17 12:08] jansenbe commented on #619
Let's close for now @bajce , but feel free to either re-open or create a new one.

[2021-11-17 12:12] jansenbe commented on #631
@s-KaiNet : Yes, I know...something to still be fixed. For @SPDEVGUY 's case however the provided code is a good alternative, but I do agree that this should be fixed to ensure a consist experience across the various models

[2021-11-17 12:15] jansenbe commented on #596
Awesome! Having a more intuitive way to handle fields in SharePoint will be really helpful for new developers coming to SharePoint, looking forward to see how you'll implement this one.

[2021-11-17 13:00] indieza opened #635 "SharePoint Rest service exception produced when trying to create new website"
## Category

- [x] Bug

## Describe the issue

If I have an input model for SharePoint website, Title, Description, URL, Template Type and Language and try to create a new SharePoint website with the following logic I get the target error message.

Code
[code]

Message - "SharePoint Rest service exception"
[code]

## Expected behavior

In the following case I want to give a chance to a target user

[2021-11-17 13:13] jansenbe commented on #635
@indieza : adding a sub web is something we do in many unit tests, so this should work. Here's our docs: https://pnp.github.io/pnpcore/using-the-sdk/webs-intro.html#adding-a-web

I think you're somehow passing in bad input data, maybe try with my sample and add additional properties one by one to validate them.

Also when catching a PnP Core SDK exception call `.ToString()` on the exception as tha

[2021-11-17 13:22] jansenbe commented on #631
@s-KaiNet , @SPDEVGUY : I've also pushed a fix that enables using LINQ (`context.Web.Webs.ToList()` or `foreach (var w in rw.Webs) `. Think this issue can be closed now.

[2021-11-17 13:22] #631 closed

[2021-11-17 15:01] indieza commented on #635
Is it possible to be that I am not an administrator? I receive the following error?.
[code]

[2021-11-17 15:24] jansenbe commented on #635
You need to be a site collection admin of the site you're adding a web to

[2021-11-17 15:30] indieza commented on #635
Yes, this is the problem. Thank you very much. I will close the issue

Regards,
Simeon Valev

[2021-11-17 15:30] #635 closed

[2021-11-17 15:55] jansenbe commented on #582
Thanks @s-KaiNet

[2021-11-17 16:36] somdeepgniyogi opened #637 "Unable to Make Custom API calls with Custom Header"
Hi,

The WithHeader extension is not available with IWeb.
![image](https://user-images.githubusercontent.com/6120892/142242132-cbd71588-dc9d-4dd6-a565-8b4b400a0924.png)

I have added reference to PnP.Core.Models.

Can somebody please help.

BR

[2021-11-17 16:49] jansenbe commented on #637
@somdeepgniyogi : this only is available in our preview versions of 1.4...are you using those? `WithHeaders` is in the `PnP.Core.Model` namespace.

[2021-11-17 18:33] jansenbe opened #638 "Clarify the importance of `AsRequested()` in the current docs"
See #636 for context

[2021-11-17 18:35] jansenbe opened #639 "Include a line mentioning AsRequested in the IQueryable classes code comments"
See #636 for context

[2021-11-18 12:50] frupprecht-nC opened #644 "Saving a page via PnP leads to duplicates of inline image webparts"
## Category

- [x] Bug

## Describe the bug

Microsoft recently added the ability, to add images inside a text webpart. Unfortunately PnP does not handle this new funcionality correctly.

I've created a new page with an image inside a text webpart. If I now load and save this page via PnP (without any modifications in between), the image appears twice on the page. The inline image is still in plac

[2021-11-18 13:25] jansenbe commented on #644
@frupprecht-nC , thanks for reporting this. We've not yet tested the inline image scenario, so guess we've some work to do :-)

[2021-11-18 13:57] somdeepgniyogi commented on #637
Hi @jansenbe ,

Thanks a lot, it works.

BR,
Somdeep

[2021-11-18 14:35] #637 closed

[2021-11-19 01:04] SPDEVGUY opened #645 "Unresolved tokens found in API Call (ISite.HubSiteSynchronizableVisitorsGroup)"
## Category

- [x] Bug

## Describe the bug
![image](https://user-images.githubusercontent.com/3208188/142520169-f37dd013-ccf7-40a3-8d77-c0add4dad392.png)
![image](https://user-images.githubusercontent.com/3208188/142520217-8c986cf6-48ff-43df-b426-d1554ec6bf82.png)

Did a load on ISite.HubSiteSynchronizableVisitorGroup then attempting to query property Id.  PnP says Id isn't loaded, so I check if

[2021-11-19 01:05] SPDEVGUY commented on #645
`
if (site.HasValue(nameof(site.HubSiteSynchronizableVisitorGroup)))
`
does not work for checking this as well.

[2021-11-19 07:33] jansenbe commented on #645
@SPDEVGUY: checking if a simple property is loaded is best done using `IsPropertyAvailable` or `ArePropertiesAvailable` so for example `site.IsPropertyAvailable(p => p.HubSiteSynchronizableVisitorGroup)`. This approach takes in account the scenario you see, meaning that there's no group.

To load all the default properties you can do something like `await site.LoadAsync(p => p.All)`. Note that thi

[2021-11-19 12:43] somdeepgniyogi opened #647 "How do I use PNP Core SDK to connect with Application Permission"
Hi,

I have an Azure App that needs to connect to SharePoint Online using Graph APIs. I am using PNP core SDK and trying to connect to SharePoint Online using the below code

 **var siteUrl = new Uri(_pnpCoreOptions.Sites["Site"].SiteUrl);
            return await _pnpContextFactory.CreateAsync(siteUrl,
                           new ExternalAuthenticationProvider((resourceUri, scopes) =>

[2021-11-19 13:01] jansenbe commented on #647
Using sites.selected only works for Graph based APIs at the moment and PnP Core SDK also requires SharePoint REST APIs. What you can do is not use sites.selected, add SharePoint Sites.FullControl.All permissions and use that. See https://pnp.github.io/pnpcore/tutorials/azurefunctions/v4processisolatedapponly.html for a tutorial on using app-only in an Azure Function.

[2021-11-19 13:15] Ofer-Gal commented on #618
Not sure if here is the place for issues. the [Sample]( /samples/Demo.AzureFunction.OutOfProcess.AppOnly) works fine in VS 2022
The Register-PnPAzureADApp  did not work for me. Error: `Checking if application 'PnPDemo' does not exist yet...Register-PnPAzureADApp: Exception of type 'PnP.PowerShell.Commands.Model.Graph.GraphException' was thrown.`
I had my own register App and it worked OK
Also, Aft

[2021-11-19 13:26] jansenbe commented on #618
https://pnp.github.io/pnpcore/demos/Demo.AzureFunction/README.html is an in-process sample using v3 functions. About the PnP Cmdlet, you need to be global admin to configure Azure AD with application permissions, so that might be the issue. Thanks for providing the feedback!

[2021-11-19 14:18] Ofer-Gal commented on #618
I was targeting .NET 6.
Don't believe just changing to 6 will work 👎
I am  global admin on this developer tenant.

[2021-11-19 15:09] s-KaiNet commented on #596
@jansenbe could you help me clarify a few things here?
When looking deeper at the issue and in the code now it's not that clear for me. What would be the relation between `IField` and say `ITextField's` properties? `IField` itself contains a lot of different properties, should we include all of them in `ITextField` as well? In that case, it looks like most of the typed versions of field types (`IT

[2021-11-19 16:15] jansenbe commented on #596
@s-KaiNet : thanks for details, when I wrote this issue I was indeed thinking about the special fields like taxonomy. For example if you read a taxonomy field there's no property telling you the id of the termset that's used for this field. Now the question whether this justifies coming up with all new types like you said...that indeed is a bit of overkill. What about with just starting with a sin

[2021-11-19 16:18] jansenbe commented on #618
@Ofer-Gal : here's the Azure functions tutorial for .NET 6 with in-process: https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-cli-csharp?tabs=azure-cli%2Cin-process. This is not showing any PnP Core SDK usage, but it should  help get you started using the in-process model.

[2021-11-19 17:35] jansenbe commented on #647
@somdeepgniyogi : note that support for using sites.selected is coming for REST/CSOM APIs...

[2021-11-19 17:40] #645 closed

[2021-11-19 18:20] Ofer-Gal commented on #618
Demo.AzureFunction.OutOfProcess.AppOnly works fine for me. I wonder if you can help me with adding configuration Items that will be visible to the functions.
I added "DomainName": "myname" to the json and  public string DomainName { get; set; }  to the class "AzureFunctionSettings" but when I try something like:
[code]

The run time errors with:
[code]
So for sure I am doing it wrong.
How can I sa

[2021-11-19 18:43] somdeepgniyogi commented on #647
Hi @jansenbe ,

Thanks a lot for your reply. Will be waiting for Site.Selected scope to be available for PNP core.

BR

[2021-11-19 18:56] jansenbe commented on #647
@somdeepgniyogi : well that's not a PnP thing but a SharePoint feature...once sites.selected can be used with REST/CSOM APIs it should automatically work in PnP Core SDK as well, no changes needed.

[2021-11-19 18:56] jansenbe commented on #647
Will close this issue then.

[2021-11-19 18:56] #647 closed

[2021-11-19 18:58] jansenbe commented on #618
@Ofer-Gal : that should work, ensure there's no case mismatch.

[2021-11-19 19:33] Ofer-Gal commented on #618
But it does not. :-(
Did you try doing the same?

[2021-11-19 19:43] jansenbe commented on #618
Ah, might be an issue with the dependency injection. Will have look later... Friday evening here 🙂

[2021-11-19 21:09] s-KaiNet commented on #596
Yeah, as you suggested, let's start with the taxonomy field adjustment and will see if additional options or needs will popup.

[2021-11-20 00:25] Ofer-Gal commented on #618
Silly me 🥇 I can use `string tenant = Environment.GetEnvironmentVariable("TenantName");` and forget about the `AzureFunctionSettings _settings; `

Sorry I bothered you. have a good week end

[2021-11-20 01:10] SPDEVGUY opened #648 "EnsurePropertiesAsync wrong Web ID after call?"
## Category

- [x] Bug

## Describe the bug

I seem to be getting an old web id for a previously loaded web after making a call to EnsurePropertiesAsync.  The ID is correct before, but then changes to an older object's id after the call resolves.

## Steps to reproduce
![image](https://user-images.githubusercontent.com/3208188/142708547-c98bace9-9078-41f3-b305-d0842e31b068.png)
![image](https://us

[2021-11-20 09:40] jansenbe commented on #648
Hey @SPDEVGUY , the issue is that you're not creating a new `PnPContext` for each sub web. Just like with CSOM the context is web scoped. https://pnp.github.io/pnpcore/using-the-sdk/webs-intro.html#getting-sub-webs shows how to do this, but I'll make the docs more verbose on the fact that a new `PnPContext` is needed for each accessed web.

[2021-11-20 15:04] Ofer-Gal commented on #415
I am getting the same error in Azure.
```Value cannot be null. (Parameter 'certificate')``` It works fine on the PC
Can I use the PFX file instead of the thumbprint?

[2021-11-20 16:29] SPDEVGUY commented on #648
This feels counter-intuitive, but that's probably because I'm too used to the server side model =P

Perhaps an additional warning in the code or not treating them like a full IWeb object since they don't seem to actually be the full object.

Maybe .Webs should return a collection of ISubWeb with a limited subset of properties like id and url that would require expansion into an iWeb by opening a n

[2021-11-20 18:48] jansenbe commented on #648
Coming from on-prem I can definitely understand you're confused about this behaviour, for folks that have used CSOM/JSOM in the past this is easier as they already had to do that. I'll see if somehow an exception can be thrown in this situation. I've updated the docs in the meanwhile. Thanks for providing the feedback.

[2021-11-20 18:48] #648 closed

[2021-11-22 09:41] pxmonti opened #651 "GetSiteCollectionsAsync returns exception "The given key was not present in the dictionary""
## Category

- [x] Bug

## Describe the bug

Recently, calling _await context.GetSiteCollectionManager().GetSiteCollectionsAsync()_ throws a Json exception.
This was not happening last week.
The GraphAPI response must have changed.

## Steps to reproduce

Obtain a context and then call
await context.GetSiteCollectionManager().GetSiteCollectionsAsync()

## Environment details (*development & target

[2021-11-22 11:35] jansenbe commented on #644
@frupprecht-nC : I've just pushed a fix that enables support for inline images. Now you can read and save a page having text with inline images but you can also programmatically add inline images to your text parts. Doc updates will follow.

[2021-11-22 11:53] frupprecht-nC commented on #644
@jansenbe That's great, thanks for the quick response and fix ☺

[2021-11-22 11:59] jansenbe commented on #644
@frupprecht-nC : docs are here https://pnp.github.io/pnpcore/using-the-sdk/pages-webparts.html#using-inline-images-in-text-parts, I've kicked off the generation of a new nightly build, so within 30 minutes or so you can pull the latest version and give it a try.

[2021-11-22 12:00] jansenbe commented on #651
@pxmonti : interesting, will have a look later today

[2021-11-22 12:40] jansenbe commented on #644
@frupprecht-nC : fee free to try with current nightly release and see if things work for you. If so, then we can close this issue.

[2021-11-22 12:50] jansenbe commented on #651
@pxmonti : seems like the default properties returned by Graph have changed :-(

I've now defined the properties in the $select and we're back in business. Fix will appear in the next nightly.

[2021-11-22 13:18] s-KaiNet commented on #248
I spent some time playing around with this task. Below are my findings:

 - it's not that difficult to have a monaco editor instance running in blazor with syntax highlighting and a button to run the code. Here is what I have:

https://user-images.githubusercontent.com/10658276/142866010-e10213ad-5207-4e7c-9df6-9150465f5ddf.mp4

- what is a lot more difficult is to have vscode-like experience with

[2021-11-22 13:35] pxmonti commented on #651
Perfect, thank you @jansenbe . I will try tomorrow with the new nightly build.

[2021-11-22 15:55] master455 commented on #415
I may recommend If you use windows instance, you must load .pfx (TLS/SSL Settings) and add thumbprint number in configuration.

[2021-11-23 08:13] pxmonti commented on #651
Hello @jansenbe, it seems that with the 1.4.57-nightly the issue is fixed. Thank you!

[2021-11-23 08:13] #651 closed

[2021-11-23 10:33] jansenbe commented on #248
Nice to see this in action @s-KaiNet, nice start for this effort. Reading above it seems that making this into an easy to use (like Graph Explorer) experience there's quite a lot of work to do...Still would be nice to have such a live test console, but feels like we currently can provide more value in other areas like documentation, tutorials, videos, samples etc... What do you think @s-KaiNet ?

[2021-11-23 10:56] s-KaiNet commented on #248
Yeah, I made a similar conclusion. In theory, we can do it right now, but the efforts needed don't match the value (at least for now). Thus I added my findings just for reference if anybody will come back to that issue somewhere in the future. I hope that dotnet.try will make a progress and will publish a guide on how to modify their solution (I haven't found and was not even able to compile their

[2021-11-23 16:18] s-KaiNet commented on #638
Would like to work on this one and #639. @jansenbe could you please assign to me?

[2021-11-23 16:46] jansenbe commented on #618
.NET 6 support has been pushed

[2021-11-23 16:46] #618 closed

[2021-11-23 16:47] jansenbe commented on #638
All yours @s-KaiNet . Thanks for working on this!

[2021-11-23 19:10] #596 closed

[2021-11-23 19:11] jansenbe commented on #596
Thanks @s-KaiNet , nice and simple solution for the problem. I like it!

[2021-11-23 19:46] jansenbe opened #654 "Implement requesting and handling response compression + switch to model where single request batches perform a direct call versus calling the batch endpoint"
Resources:
- https://mindbyte.nl/http-apis/2019/02/27/add-http-compression-to-your-httpclient-in-dotnet-core-2-1.html
- https://github.com/microsoftgraph/msgraph-sdk-dotnet-core/blob/2466fdca28d807b727497db7dc8c7767d513f62f/src/Microsoft.Graph.Core/Requests/Middleware/CompressionHandler.cs

[2021-11-23 19:48] jansenbe opened #655 "Optimize network traffic by moving to odata=nometadata whenever possible"
Today we've code that depends on the metadata being present (e.g. ProcessSpecialRestFieldType in JsonMappingHelper). For the majority of requests nomedata would work as well and this is something that we should consider doing to further optimize performance. Main work items for this one would be:

- Change REST client default to use nometadata
- Have optional support for still using metadata for t

[2021-11-24 09:12] jansenbe commented on #644
@frupprecht-nC : I'm closing this issue, if you still have issues feel free to either re-open this one or create a new issue.

[2021-11-24 09:12] #644 closed

[2021-11-24 16:38] jansenbe commented on #249
Closing this as this makes not much sense to build...

[2021-11-24 16:38] #249 closed

[2021-11-24 16:40] jansenbe commented on #255
Cleaning up the issue list: think this one is quite hard to implement plus it might limit how sample code is presented in docs. We can revisit later on

[2021-11-24 16:40] #255 closed

[2021-11-24 16:44] jansenbe commented on #38
Closing this one: a ton of work and the added value will be just cleaner error messages in case of a mission permission or wrongly used query parameter. Also checking on query parameters like $filter is not so obvious, in graph one can filter on some fields but not on all...there's no easy way to understand which fields are filterable and having a check in PnP Core SDK would then mean we always ha

[2021-11-24 16:44] #38 closed

[2021-11-24 17:10] jansenbe commented on #248
Not exactly needed here but adding this one https://github.com/Elringus/DotNetJS as it's an easier way to expose a .NET library to JS

[2021-11-24 18:27] jansenbe commented on #549
Resources:

Why use keyvault after all? See https://blog.yannickreekmans.be/tag/secretless-applications/

Easy way to read KeyVault secrets:
- https://www.middleway.eu/accessing-azure-key-vault-from-azure-function/ --> shows approach using environment variables to get secrets from KeyVault, no need to extra code to access KeyVault!

c# based keyvault secret retrieval:
- https://docs.microsoft.com/

[2021-11-25 09:37] vroesgen opened #657 "Send teams message to a chat"
Until now it is only possible to send teams message to a teams channel.

With Graph you can create a chat between users an send messages to it.
Are there any plans to make this possible with PnpCore?

[2021-11-25 12:27] s-KaiNet commented on #300
@jansenbe do you have any samples or plan how these docs should be structured? Otherwise, I can try to create the initial page with the similarities/differences between CSOM and PnP Core SDK. I don't think I will cover all possible scenarios, but maybe at least it will be a starting point. Better to have something to start with, than nothing :)

[2021-11-25 12:50] jansenbe commented on #300
Hi @s-KaiNet , I don't have any specific structure in mind...you do know both models very well, so I've no doubt your "starting point" already will be very good. I'll assign this one to you then. Thanks!!

[2021-11-25 12:59] #638 closed

[2021-11-25 12:59] #639 closed

[2021-11-25 13:38] jansenbe commented on #657
Thanks for using PnP Core SDK @vroesgen and for providing feedback. We currently indeed don't offer that feature, but I do agree that our Teams component does require a review and inclusion of more features.

In the meanwhile you could consider directly integrating the needed features in your solution via our custom API call feature: see https://pnp.github.io/pnpcore/using-the-sdk/basics-customapi

[2021-11-26 09:24] jansenbe commented on #549
@juliemturner : we now have an [Build an v4 Azure Function that runs as an isolated process while using application (app-only) permissions](https://pnp.github.io/pnpcore/tutorials/azurefunctions/v4processisolatedapponly.html) tutorial that shows how you can use PnP Core SDK with certificate auth using Azure KeyVault to manage the certificate.

[2021-11-26 09:24] #549 closed

[2021-11-29 10:08] frupprecht-nC commented on #644
Works great on my end, thank you very much!

[2021-12-01 07:59] mgwojciech opened #664 "API to work with Viva Connections Dashboard"
## Category

- [x] Feature request

## Describe the feature

Hello,
I was thinking about api to help with Viva Dashboard management. What I have in mind is possibility to create the dashboard and manage default adaptive card (stuff like add default card with option to extend the model to custom ACE's).

Is it something You would welcome in the library or should I do it in separate solution?

## De

[2021-12-01 08:20] indieza opened #665 "PnP Core SDK Azure Authentication"
- [x] Question

Hello,
I have simple Blazor application with Login and Register Logic. Each registered user has information for his Azure credentials for accessing SharePoint (TenantID, ClientID). Is there some way to make something like a authentications service which will receive those credentials and will guarantees an access to Azure for a target user. To simplify the question.

I have 3 Blazo

[2021-12-01 12:30] jansenbe commented on #666
@Arturiby: thanks for notifying me of this issue. I've fixed this and the next nightly PowerShell version will have it included.

FYI @Employee87 / @gautamdsheth

[2021-12-01 12:30] #666 closed

[2021-12-01 12:30] #665 closed

[2021-12-01 13:04] jansenbe commented on #664
Hi @mgwojciech ,

Adding support for configuring the Viva connections dashboard is definitely something we should add. The Viva dashboard is reality is a special page type that hosts "ACE web parts" and this means that most of the current page API can work. Below are for example the json properties of a custom ACE on my dashboard:

[code]

The main difference between a dashboard page and a regular

[2021-12-01 13:14] mgwojciech commented on #664
Thanks,
Looks like a plan. I'll start this week and reach out if I run into any issues.

[2021-12-01 19:02] jansenbe commented on #300
Thx @s-KaiNet 🚀🥇

[2021-12-01 19:02] #300 closed

[2021-12-02 10:39] s-KaiNet commented on #624
I would like to work on this. People manager indeed a nice thing to have, but we still miss it in the library. @jansenbe please assign to me.

[2021-12-02 19:29] jansenbe commented on #453
done

[2021-12-02 19:29] #453 closed

[2021-12-02 22:27] Sean-LM opened #671 ""Access token validation failure. Invalid audience." Accessing USGovernmentHigh Tenant"
## Category

- [x] Bug

## Describe the bug

I am attempting to follow the steps from there:
https://pnp.github.io/pnpcore/using-the-sdk/configuring%20authentication.html#application-permissions-acting-as-an-app-account-with-app-only-permissions

The main difference is that my tenant is in Azure US Government High (i.e. portal.azure.us, xyz.sharepoint.us) - I figured out to set the
`Environment =

[2021-12-03 09:36] jansenbe commented on #671
Thanks using PnP Core SDK and raising this issue @Sean-LM . Looking at the code we indeed were still hard coding graph.microsoft.com for acquiring an access token, which was not working. I've made a fix and created a new build (1.4.70), can you test if that one works. I unfortunately do not have access to an USGovernmentHigh tenant, but hoping you could verify things. If there's other issues then

[2021-12-03 12:37] Sean-LM commented on #671
🎉 Thanks so much - first try after upgrading to 1.4.70-nightly worked! I am able to retrieve my `sharepoint.us` site detail!

[2021-12-03 14:49] #671 closed

[2021-12-05 16:42] #582 closed

[2021-12-06 09:22] s-KaiNet commented on #624
@jansenbe @somdeepgniyogi

The official docs page [here](https://docs.microsoft.com/en-us/previous-versions/office/developer/sharepoint-rest-reference/dn790354(v=office.15)) says that you should use [Following people and content REST API](https://docs.microsoft.com/en-us/sharepoint/dev/general-development/following-people-and-content-rest-api-reference-for-sharepoint?redirectedfrom=MSDN#resource-e

[2021-12-06 11:42] jansenbe commented on #624
@s-KaiNet : I'm in favor of option 3.

[2021-12-06 13:25] Nevinia210 opened #677 "Styles for PageImageOptions"
## Category

- [ ] Feature request

## Describe the feature

## Describe the solution you'd like

var options = new PageImageOptions();
options.Alignment = PageImageAlignment.Left;
options.Width = 800; // px
options.Height = 600; // px
var inlineImage = page.GetInlineImage(control, url, options);

## Additional context

[2021-12-06 18:11] jansenbe commented on #677
Implemented (https://github.com/pnp/pnpcore/commit/c47b4b757320042f276d9cb1ba48d0224a04c5da). Will be part of the next nightly version (1.4.74)

[2021-12-06 18:12] jansenbe commented on #677
Closing the issue, please re-open when things are not working as expected.

[2021-12-06 18:12] #677 closed

[2021-12-09 00:15] SPDEVGUY opened #682 "Update documentation for ISharePointGroup.GetRoleDefinitionsAsync to note that it is based on current pnp web context"
## Category

- [x] Bug

## Describe the bug

https://pnp.github.io/pnpcore/api/PnP.Core.Model.Security.ISharePointGroup.html?q=ISharePointGroup

Documentation should be adjusted to inform the developer that GetRoleDefinitions/async() is querying against the current Web Context to retrieve a flattened view of the RoleAssignments listed from the pnp context web.

## Steps to reproduce

documentation

[2021-12-09 08:17] jansenbe commented on #682
@SPDEVGUY : thanks for feedback. PnP Core SDK uses a `PnPContext` object as entry point for a given web, whether that's the root web of a site collection or a sub web of that root web. So you're creating a context for a web (SPWeb) and not a site (SPSite). In non technical terms folks then often speak about a site collection (= SPSite) and a site (=SPWeb) and I do agree that this might be confusin

[2021-12-09 08:31] jansenbe commented on #682
Here's the [updated doc part](https://pnp.github.io/pnpcore/using-the-sdk/readme.html#obtaining-a-pnpcontext):

![image](https://user-images.githubusercontent.com/7451219/145361220-5aedc7fd-35b0-4209-ba2d-839d760989c5.png)

Closing this issue now.

[2021-12-09 08:31] #682 closed

[2021-12-09 09:21] #624 closed

[2021-12-10 12:45] jansenbe commented on #654
Started working on this

[2021-12-13 08:02] jansenbe commented on #655
Working on this

[2021-12-15 12:30] jansenbe commented on #655
done

[2021-12-15 12:30] #655 closed

[2021-12-15 12:30] jansenbe commented on #654
done

[2021-12-15 12:30] #654 closed

[2021-12-15 12:31] jansenbe commented on #597
Closing this one as the new list item processing logic will handle this differently

[2021-12-15 12:31] #597 closed

[2021-12-16 09:17] jansenbe opened #690 "Build support for external sharing (enumerate and configure)"
See #689 for some background

[2021-12-16 20:06] swhitman0 opened #693 "Exception applying LookBook template to a GCC High tenant"
## Category

- [x] Bug

## Describe the bug

## Steps to reproduce

1. On step 8, replace Invoke-PnPSiteTemplate with Invoke-PnPTenantTemplate

## Expected behavior

## Environment details (*development & target environment*)

- **SDK version**: N/A
- **OS**: Windows 10
- **SDK used in**: N/A
- **Framework**: N/A
- **Browser(s)**: Chrome | Chromium Edge
- **Tooling**: N/A
- **Additional details**:

[2021-12-17 09:54] jansenbe commented on #266
Will start working on this one

[2021-12-17 16:21] Nevinia210 opened #697 "_layouts images in InlineImage"
### Discussed in https://github.com/pnp/pnpcore/discussions/695

<div type='discussions-op-text'>

<sup>Originally posted by **Nevinia210** December 17, 2021</sup>
Hello everyone,

Is it possible to have inline image from system images("/_layouts/images/icpdf.png")?
I'm getting following error while trying to do that:
The file /sites/mytestsite/_layouts/images/icpdf.png does not exist.

when i try

[2021-12-20 14:15] jansenbe commented on #266
Done!

[2021-12-20 14:15] #266 closed

[2021-12-21 08:22] jansenbe commented on #697
Hey @Nevinia210 ,

As there's no UI option to add (inline) image web parts pointing to images in _layouts I don't think it's a good idea to allow this via the API. Doing so might end up in a page, that after editing by a user, will loose the image. Therefore I'm closing this issue, hope you can understand.

![image](https://user-images.githubusercontent.com/7451219/146894535-9d4052e7-c14e-4930-a27

[2021-12-21 08:22] #697 closed

[2021-12-21 09:21] jansenbe commented on #417
The needed support is in place, we have setting compliance tags for list and list items, getting compliance tags for a list and for site, but not for a list item. For getting list item compliance tags one can read the list item and grab the _ComplianceTag field

[2021-12-21 09:21] #417 closed

[2021-12-21 10:57] jansenbe commented on #560
@varunssis : I've been testing with compliance tags today and so far did not notice this issue. Do you still see this problem? When the API complains about the missing field, did you verify the field in question was missing?

[2021-12-21 10:59] jansenbe commented on #295
@HWHofstee / @Maddisan : apologies this took so long, but proper support for working with field links has been added. See our updated docs: https://pnp.github.io/pnpcore/using-the-sdk/contenttypes-intro.html

[2021-12-21 10:59] #295 closed

[2021-12-22 03:33] jansenbe commented on #169
https://docs.microsoft.com/en-us/archive/blogs/fromthefield/office-365-automating-the-configuration-of-information-rights-management-irm-using-csom shows this via CSOM.

[2021-12-22 03:40] jansenbe commented on #560
Did some more research and the missing field is an OOB field that should be present. If this issue stays please open a ticket with Microsoft support to further research this. As we're just calling the provided API without any specific logic there's nothing we can do about this issue from within the scope of the PnP Core SDK open source project. Thanks for your understanding.

[2021-12-22 03:40] #560 closed

[2021-12-22 09:01] avuorine opened #699 "Blazor wasm support broken in 1.5.0"
## Category

- [x] Bug

## Describe the bug

The blazor wasm runtime doesnt support AutomaticDecompression in the HttpClientHandler so 1.5.0 throws an exception on the wasm runtime as when adding the MicrosoftGraphClient, AutomaticDecompression is always used as in the code below from PnPContextFactoryCollectionExtensions.cs.
[code]

Changing this to check for browser-wasm as the runtime fixes it.

[2021-12-22 14:56] jansenbe commented on #699
Thanks for reporting this @avuorine , I'll process your PR still today.

[2021-12-22 17:57] #699 closed

[2021-12-25 08:45] jansenbe commented on #224
Working on this, together with theming

[2021-12-27 14:44] trueleader opened #701 "Iterating Items on list executes REST with $top & $skip"
## Category

- [x] Bug

## Describe the bug

I have configured to use GraphFirst but console outputs REST usage with $top & $skip. The iteration never ends on a list with 163 items (max ID 171):

      GET https://mxdev.sharepoint.com/sites/GremlinAppDev/_api/web/lists?$select=Id%2cFields%2fInternalName%2cFields%2fFieldTypeKind%2cFields%2fTypeAsString%2cFields%2fTitle%2cFields%2fId&$expand=Fields&

[2021-12-27 15:14] trueleader commented on #701
Maybe it is only somewhat "counterintuitive":

There is the posibility to use QueryProperties on Items. Documentation-Details explains the usage: https://pnp.github.io/pnpcore/using-the-sdk/listitems-intro.html#b-getting-list-items-via-paging-no-item-limit

But on the start of the page is a summary for CAML usage: https://pnp.github.io/pnpcore/using-the-sdk/listitems-intro.html#you-need-to-read-sy

[2021-12-27 17:51] jansenbe opened #702 "Document the site branding features"

[2021-12-27 17:51] jansenbe commented on #224
Done

[2021-12-27 17:51] #224 closed

[2022-01-03 11:27] jansenbe commented on #702
Working on this

[2022-01-03 13:05] FlorianLabranche opened #703 "GetSiteCollectionPropertiesAsync throw an exception"
## Category

- [x] Bug

## Describe the bug

Getting site collection properties throw the following exception :

## Steps to reproduce

Below code snippet can be used to repro the issue:

[code]

## Environment details (*development & target environment*)

- **SDK version**: 1.5.15-nightly
- **OS**: Windows 10
- **SDK used in**: Console App
- **Framework**: .NET 6.0
- **Browser(s)**: N.A.
- **Tool

[2022-01-03 13:13] jansenbe commented on #702
Done

[2022-01-03 13:13] #702 closed

[2022-01-03 13:17] jansenbe commented on #703
@FlorianLabranche : does this happen for any site collection or just for a newly created one? Do you happen to have a stack trace? If you catch the exception and to a `.ToString()` all needed error info should be available.

[2022-01-03 13:33] jansenbe commented on #703
@FlorianLabranche : I can reproduce the issue. Thanks for bringing it up, fill work on a fix

[2022-01-03 13:36] FlorianLabranche commented on #703
@jansenbe : Thank you for your quick response.

It happens on every site collection. I tried on sites created on 12/24/21 and 10/26/21.

Here is the full stack trace :

   at System.DateTime..ctor(Int32 year, Int32 month, Int32 day, Int32 hour, Int32 minute, Int32 second, Int32 millisecond)
   at PnP.Core.Services.Core.CSOM.Utils.DateHelpers.DateConstuctorStrategy.ConverDate(String dateValue)
   a

[2022-01-03 13:52] #703 closed

[2022-01-03 13:54] jansenbe commented on #703
@FlorianLabranche : this feels like a SharePoint API bug to me. I've added additional safety measures for this case and will trigger the creation of a new nightly build. Within half an hour you can test again with the newest nightly.

[2022-01-03 14:00] jansenbe commented on #703
@FlorianLabranche : 1.5.16 is available for testing.

[2022-01-03 14:02] FlorianLabranche commented on #703
@jansenbe : great ! Thank you for the reactivity.

I don't know if it can be of any help, but with the following code I have the right date:

[code]

![image](https://user-images.githubusercontent.com/23434632/147939501-232022f5-4c9b-4a09-a66d-c1c2c90f6afd.png)

[2022-01-03 14:18] jansenbe commented on #703
@FlorianLabranche : thanks for the info, good to see that asking for "details" will get this property correctly filled. Still weird this suddenly changed server side, I'll see if I can find out more

[2022-01-03 15:53] jansenbe commented on #701
@trueleader : I've built a test case for this and I can reproduce the issue you're seeing. Will work on a fix. Thanks for reporting this.

[2022-01-03 19:54] jansenbe commented on #701
@trueleader : this failure is a regression from the work done to move to odata=nometadata which resulted in the returned next page link not being picked up. A fix will be committed shortly

[2022-01-03 20:00] #701 closed

[2022-01-03 20:01] jansenbe commented on #701
@trueleader : please test again with the next nightly version (1.5.17)

[2022-01-04 17:31] Ofer-Gal opened #704 "// Or clear the taxonomy field addedItem["MyField"] = null; and as IFieldUserValue).Principal = principal do not work"
## Category

- [x] Bug
## Describe the bug
Following the documentation in https://pnp.github.io/pnpcore/using-the-sdk/listitems-fields.html#taxonomy-fields

I used `listItem["DocumentType"] = null` to clear the taxonomy field DocumentType
It does not error but it leaves the existing value un changed after ` await listItem.UpdateAsync();.`

Then I tried the following:
[code]
and it did not work.

I

[2022-01-05 05:20] jansenbe commented on #704
Hi @Ofer-Gal ,

I just tried to reproduce the issue you're seeing but I could not. In my test I've a list with a managed metadata field, populated with a list item that has the managed metadata field set. I then load the list item, clear the managed metadata field and update the item:

[code]

Can try above simple code from your end and see if that works?

[2022-01-05 16:21] trueleader commented on #701
Thank you. I´m actually in vacation. Testing next week

[2022-01-05 16:49] Ofer-Gal commented on #704
My target is a file library in various sites. I found out that when the library does not contain too many files, the code works as expected.
When the code needs to update a library containing more then 3800 files and the taxonomy field is required, the code fails with no error and the other normal fields do not update.

I think I can make this field not required to eliminate the issue.
Thank you f

[2022-01-05 16:49] #704 closed

[2022-01-08 13:40] Ofer-Gal opened #707 "The code Works fine in 1.4.0 but does not update the person field in 1.5.0"
## Category

- [x] Bug

## Describe the bug
The Code:
`  ISharePointUser user = await pnpContext.Web.EnsureUserAsync(item.RequestForEmail);
  (listItem["Requester"] as IFieldUserValue).Principal = user;
`
Works fine in 1.4.0 but does not update the person field in 1.5.0

## Steps to reproduce
1. See code `code...`
no error
## Expected behavior

- **SDK version**:  1.5.0
- **OS**:  . Windows 10
- *

[2022-01-08 21:18] jansenbe commented on #707
@Ofer-Gal : are you using UpdateAsync or SystemUpdateAsync/UpdateOverWriteVersionAsync to persist the changes?

[2022-01-08 21:48] jansenbe commented on #707
@Ofer-Gal : managed to reproduce your issue, it happens when wanting to set a "null" value to a user principal. Fix is in the works. Thanks for providing the feedback.

[2022-01-08 23:27] Ofer-Gal commented on #707
my update was with  `await listItem.UpdateAsync();` but the person field was not null but `ISharePointUser`
Guess I need to learn about  `SystemUpdateAsync/UpdateOverWriteVersionAsync`  :-)
The save right after was for a null managed metadata field on same file metadata.

Thank you for fixing. Love your Library

[2022-01-10 08:03] jansenbe commented on #707
Hi @Ofer-Gal : the issue has fixed. The problem was that once an existing field had blank/empty values PnP Core SDK did not correctly load the empty field as `IFieldUserValue` , `IFieldUrlValue`, `IFieldTaxonomyValue`, `IFieldLookupValue` or `IFieldLocationValue` resulting one not being to "update" the field (as it was null) or not seeing the change persisted (because the field was not null but no

[2022-01-10 08:13] somdeepgniyogi opened #708 "PnP Core SDK integration with Site.Selected Graph Permission"
Hi,

I am working in a project which is an Azure App connecting to Sharepoint Online.
The permissions allowed by the Organization is only Site.Selected Application permission.

The above permission setup does not work with PnP.Core context.

Is there any update about the future availability of this integration.?

BR

[2022-01-10 08:26] jansenbe commented on #708
@somdeepgniyogi : currently Sites.Selected does only work with Graph API calls and not with SPO REST or CSOM calls. Given that PnP Core SDK uses REST, Graph and CSOM it currently does not function with Sites.Selected. We're however updating Sites.Selected to also work with SPO REST and CSOM calls and at that point things should just work.

[2022-01-10 12:33] trueleader commented on #701
@jansenbe I could successfull test your fix :)

[2022-01-10 16:13] jansenbe commented on #707
@Ofer-Gal , yes feel free to use it in production.

[2022-01-10 16:18] #707 closed

[2022-01-12 17:37] SPDEVGUY opened #720 "Problem with RoleAssignments when encountering 'Limited Access System Group For List'"
## Category

- [x] Bug

## Describe the bug
[code]

Exception details:

[code]

This occurs on a new publishing communications site (O365), the Documents library, and likely a document within the library was shared with a permission-granting sharing link which another user clicked into granting temporary hidden permissions.  In the UI you only see the 3 default site permission groups.

When you go

[2022-01-12 18:56] jansenbe commented on #720
@SPDEVGUY : so you're not seeing this issue on all communication sites?

Since you already load the role assignments in the first step maybe test with this code:

[code]

[2022-01-14 23:31] czullu opened #722 "Batching APIRequest seems broken"
## Category

- [x] Bug

## Describe the bug
While the Request for test1 still returns a result, the request for test2 returns null and shows a type initialization error.
However - when check loadPlansBatch.Requests[0].ResponseJson i can see the loaded Json-Data, so the call was fine and we got Data successfully.

[code]

## Steps to reproduce
Use a User Context against GroupSite with Planner and t

[2022-01-15 00:08] czullu commented on #722
@jansenbe That's how the object looks in Debugger
![image](https://user-images.githubusercontent.com/31336529/149599895-b1bb17d4-f893-46bb-82bc-06a6f18fdc6a.png)
while i can see that ExecuteRequestBatchAsync ->RawResultsHandler get called and get's the json response i somewhat fail to see when BatchSingleResult -> result should be set. in Breakpoint BatchSingleResult.Result in object BatchRequest

[2022-01-15 14:28] jansenbe commented on #722
@czullu : I'll have a look, with 1.5 we did several changes to lower network traffic and one of the changes is that for a single request batch we now do an interactive request with compression enabled, this might be a regression of that.

[2022-01-15 15:40] czullu commented on #722
@jansenbe Thank you - that's a good lead and indeed, when i add multiple requests like this:
[code]
then i get a response on each

[2022-01-15 16:12] czullu commented on #722
When i replace ExecuteMicrosoftGraphInteractiveAsync with ExecuteMicrosoftGraphBatchRequestAsync in line 481 on BatchClient then i get results again.

[2022-01-16 11:51] czullu commented on #722
@jansenbe  there are 2 an other issue with ExecuteMicrosoftGraphInteractiveAsync as well - post seems not to work - for example when try to create a group. Secound issue: var Errors = await context.ExecuteAsync(loadPlansBatch, false); - the false is not respected - if i get a 403 - then it will throw the error and not add to the collection.
The Post issue i did adress in the Pull-request with a fa

[2022-01-17 00:13] czullu commented on #722
post error with ExecuteMicrosoftGraphInteractiveAsync has been some kind of Hiccup - i removed the fallback to ExecuteMicrosoftGraphBatchRequestAsync  and could completed all test on my end.

[2022-01-17 07:53] jansenbe commented on #722
@czullu : I've reproduced the issue and will fix this using a different approach then your PR. I actually did fix a similar issue for a single REST request batch, but as I added interactive Graph later on I forgot to add that fix. Update will be in soon.

[2022-01-17 07:57] jansenbe commented on #722
@czullu : fix has been committed.

[2022-01-17 07:57] #722 closed

[2022-01-19 06:53] jansenbe commented on #720
@SPDEVGUY : do you have an update on my questions?

[2022-01-19 06:59] SPDEVGUY commented on #720
I'll narrow down the code and provide an update tomorrow, apologies for the delay

Kevin Cole | SharePoint MCM
780.271.2171
________________________________
From: Bert Jansen ***@***.***>
Sent: Tuesday, January 18, 2022 11:53:49 PM
To: pnp/pnpcore ***@***.***>
Cc: Kevin Cole ***@***.***>; Mention ***@***.***>
Subject: Re: [pnp/pnpcore] Problem with RoleAssignments when encountering 'Limited Access

[2022-01-20 17:07] czullu opened #727 "Error Parsing Page because "addedFromPersistedData":"True" is expected to be boolean"
## Category

- [x] Bug

## Describe the bug
We see an error spreading on tenants which breaks loading pages in PageWebPart.FromHtml because deserialization of WebPartControlData fails because of attribute addedFromPersistedData beeing a string and not a boolean.

element.GetAttribute(ControlDataAttribute) returns
{"addedFromPersistedData":"True",....
instead of
{"addedFromPersistedData":true,

##

[2022-01-20 17:14] czullu commented on #727
@jansenbe the best idea i can come up with currently to fix this would be to have setter as string and getter as boolean for addedFromPersistedData in Model WebPartControlData - if ok, can do a fix

[2022-01-21 09:40] jansenbe commented on #727
Thanks for logging this issue and providing the fix @czullu 🥇🚀

[2022-01-21 09:40] jansenbe commented on #727
Closing as the fix has been merged.

[2022-01-21 09:40] #727 closed

[2022-01-22 03:57] SPDEVGUY commented on #720
I've narrowed down the code, and it still occurs with AsRequested.

[code]

[2022-01-24 08:28] czullu opened #729 "Load SiteUsers fails with Error on AadObjectId"
## Category

- [x] Bug

## Describe the bug
the line: await foreach (var user in pnpCoreSiteContext.Web.SiteUsers.AsAsyncEnumerable())
will fail with error "Property AadObjectId was not yet loaded" on MoveNext as soon as we hit a user not from AAD i.e. a system user.

   at PnP.Core.Model.TransientObject.GetValue[T](String propertyName)
   at PnP.Core.Model.Security.SharePointUser.get_AadObjectId(